<!-- search  -->
{% set search_page = module.results.use_custom_search_results_template is truthy and module.results.path_id ? content_by_id(module.results.path_id).absolute_url : site_settings.content_search_results_page_path %}
{% unless (search_page is string_containing "//") %}
{% set search_page = "/" ~ search_page %}
{% endunless %}
{% set search_page = search_page|regex_replace("http:", "") %}
<!--  -->
<section class="header-section">
  <div class="content-wrapper header-section-container">
    <div class="header-container">
      <div class="header-wrapper">
        <div class="hamburger">
          {% icon
                        name="{{ module.hamburger_icon.name }}"
                        style="{{ module.hamburger_icon.type }}"
                        unicode="{{ module.hamburger_icon.unicode }}"
                        icon_set="{{ module.hamburger_icon.icon_set }}"
                    %}
        </div>
        <div class="header-logo-container">
          <a href="{{ module.header_logo_url.href }}">

            {% if module.header_logo.src %}
            {% set sizeAttrs = 'width="{{ module.header_logo.width }}" height="{{ module.header_logo.height }}"' %}
            {% if module.header_logo.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ module.header_logo.width }}" height="{{ module.header_logo.height }}" style="max-width: 100%; height: auto;"' %}
            {% elif module.header_logo.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.header_logo.max_width }}" height="{{ module.header_logo.max_height }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
            {% set loadingAttr = module.header_logo.loading != 'disabled' ? 'loading="{{ module.header_logo.loading }}"' : '' %}
            <img src="{{ module.header_logo.src }}" alt="{{ module.header_logo.alt }}" {{ loadingAttr }}
              {{ sizeAttrs }}>
            {% endif %}
          </a>
        </div>
        <div class="header-menu-container">
          <div class="header-menu">
            {% menu id="{{ module.menu }}" %}
          </div>
          <!-- <div class="header-search-section">
            {% icon
                        name="{{ module.search_icon.name }}"
                        style="{{ module.search_icon.type }}"
                        unicode="{{ module.search_icon.unicode }}"
                        icon_set="{{ module.search_icon.icon_set }}"
                        %}
          </div> -->
        </div>

      </div>
      <div class="header-right-menu-section">
        <ul class="header-right-menu">
          {% for item in module.right_menu %}
          <li><a href="{{ item.menu_item.link.url.href  }}" {% if item.menu_item.link.open_in_new_tab %}target="_blank"
              {% endif %} {% if item.menu_item.link.rel %}rel="{{ item.menu_item.link.rel }}" {% endif %}>
              {{ item.menu_item.menu_item }}
            </a></li>
          {% endfor %}
        </ul>
        <div class="header-button-section">
          <a href="{{ module.button_section.link.url.href  }}" class="button" {% if module.button_section.link.open_in_new_tab %}target="_blank"
            {% endif %} {% if module.button_section.link.rel %}rel="{{ module.button_section.link.rel }}" {% endif %}>
            {{ module.button_section.button_text }}
          </a>
          <!-- <div class="mobile-header-search-section">
            {% icon
                        name="{{ module.search_icon.name }}"
                        style="{{ module.search_icon.type }}"
                        unicode="{{ module.search_icon.unicode }}"
                        icon_set="{{ module.search_icon.icon_set }}"
                        %}
          </div> -->
        </div>


      </div>
    </div>
    <div class="mobile-menu">
      {% menu id="{{ module.mobile_view_menu }}" %}
    </div>
  </div>
</section>

<div class="header_search-box">
  <div class="modal-header-search">
    <div class="search-popup_container hs-search-field">
      <div class="search-popup hs-search-field__bar">
        <div class="search-wrapper">
          <form data-hs-do-not-collect="true" action="{{ search_page }}">
            <input type="text" class="hs-search-field__input" name="term" id="search" autocomplete="on"
              aria-label="Search" placeholder="{{ module.serach_placeholder }}">
            <span class="close">
              {% icon
	          name="{{ module.search_close_icon.name }}"
	          style="{{ module.search_close_icon.type }}"
	          unicode="{{ module.search_close_icon.unicode }}"
           	icon_set="{{ module.search_close_icon.icon_set }}"
            %}
            </span>
            <input type="hidden" name="type" value="SITE_PAGE">
            <input type="hidden" name="type" value="LANDING_PAGE">
            <input type="hidden" name="type" value="BLOG_POST">
            <input type="hidden" name="type" value="LISTING_PAGE">
            <input type="hidden" name="type" value="KNOWLEDGE_ARTICLE">
            <div class="nismag_close-Serach-container">
              <div class="close-search">
                <div class="cross-line crossleft"></div>
                <div class="cross-line crossright"></div>

              </div>
            </div>
          </form>
        </div>
        <span class="guide-text">{{ module.search_popup_section.guide_text }}</span>
        <ul class="hs-search-field__suggestions"></ul>
      </div>
    </div>
  </div>
</div>