.header-search-section svg {
  fill: #f84e5d;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-right-menu-section {
  display: flex;
  gap: 25px;
  align-items: baseline;

}

.header-right-menu {
  display: flex;
  gap: 20px;
  list-style:none;
}

.header-wrapper {
  display: flex;
  gap: 25px;

}

.header-menu-container .hs-menu-wrapper ul {
  gap: 20px;
}

.header-menu-container {
  display: flex;
  gap: 25px;
  align-items: center;
}

.header-section {
  padding: 20px 60px;
}

.header-menu li.hs-menu-item.hs-menu-depth-1 a,
.header-right-menu li a {
  position: relative;
}

.header-right-menu li {
  position: relative;
}

.header-right-menu li:nth-child(2) a::before {
  content: "|";
  color: #545454;
  padding-top: 4px;
  left: -12px;
  position: absolute;
}

.header-menu li.hs-menu-item.hs-menu-depth-1 a::after,
.header-right-menu li a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  margin-top: 10px;
  background-color: #F84E5D;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.header-menu li.hs-menu-item.hs-menu-depth-1 a:hover,
.header-right-menu li a:hover {
  color: #F84E5D;
}


.header-menu li.hs-menu-item.hs-menu-depth-1 a:hover::after,
.header-right-menu li a:hover:after {
  transform: scaleX(1);
}

.header-button-section .button {
  padding: 10px 15px;
  font-weight: 400 !important;
}

.header-logo-container img {
  width: 180px !important;
}

.header-menu li.hs-menu-item.hs-menu-depth-1 a,
.header-right-menu li a {
  color: #fff;
  font-size: 14px;
}

.header-right-menu li:first-child a {
  position: relative;
}

.mobile-header-search-section,
.hamburger,
.mobile-menu {
  display: none;
}

.mobile-menu {
  display: none;


}

.header-section-container {
  position: relative;
}

@media(max-width:1300px) {

  .header-menu li.hs-menu-item.hs-menu-depth-1 a,
  .header-right-menu li a {
    font-size: 12px;
  }

}

@media (max-width:1130px) {
  .header-menu-container .hs-menu-wrapper ul {
    gap: 10px;
  }

  .header-menu-container {
    gap: 10px;
  }

  .header-right-menu {
    padding: 0;
  }

  .header-right-menu-section {
    margin-bottom: -0.5rem;
  }

  .header-logo-container img {
    width: 155px !important;
  }

  .header-button-section .button {
    padding: 8px 12px;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media(max-width:992px) {
  .hs-item-has-children>a::after {
    content: "\003E";
    font-family: monospace;
    font-size: 20px;
    line-height: 28px;
    float: right !important;
    margin-left: 5px !important;
    position: relative;
    right: -35px;
    font-weight: 600;
    transition: transform 0.3s ease;
    transform: rotate(90deg);
  }

  /*   .hs-item-has-children > a:hover::after {
    transform: rotate(180deg);
  } */

  .hs-item-has-children.clicked>a::after {
    transform: rotate(268deg);
  }

  .up-toggle {
    display: none !important;
  }

  .mobile-menu .hs-menu-depth-2 {
    padding-bottom: 0px;
  }

  .hs-menu-wrapper.hs-menu-flow-horizontal.flyouts .hs-item-has-children:hover>.hs-menu-children-wrapper {
    padding: 20px;
  }

  .header-wrapper {
    gap: 15px;
    align-items: center;
  }

  .mobile-menu .hs-menu-wrapper.flyouts .hs-menu-children-wrapper {
    opacity: 1 !important;
  }

  .mobile-menu .hs-menu-wrapper.flyouts .hs-menu-children-wrapper {
    z-index: 9999;
  }

  .header-menu-container,
  .header-right-menu {
    display: none;
  }

  .header-section {
    padding: 10px 0px;
  }

  .header-logo-container img {
    width: 120px !important;
  }

  .header-button-section .button {
    padding: 7px 10px;
  }

  .header-right-menu-section {
    margin-bottom: 0rem;
  }

  .hamburger {
    display: block;
  }

  .mobile-header-search-section {
    display: block;
    cursor: pointer;
  }

  .mobile-header-search-section svg {
    fill: #f84e5d;
    width: 20px;
    height: 20px;
  }

  .hamburger svg {
    fill: #fff;
    width: 1.5rem;
    cursor: pointer;
  }

  .header-button-section {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .mobile-menu {
    position: absolute;
    display: none;
    top: 44px;
    left: -15px;
    background: #ffff;
    padding: 20px 50px 20px 24px;

  }

  .mobile-menu .hs-menu-wrapper ul {
    flex-direction: column;
    gap: 10px;
    position: relative;
  }

  .mobile-menu li.hs-menu-item.hs-menu-depth-1 a {
    color: #000;
    font-size: 12px;
    padding-bottom: 8px;
  }

  .mobile-menu .hs-menu-wrapper.hs-menu-flow-horizontal.flyouts .hs-item-has-children:hover>.hs-menu-children-wrapper {
    background-color: #fff;
  }

  .mobile-menu.active-menu {
    display: block;
    width: fit-content;

  }

  .modal-header-search {
    margin: 55px auto auto !important;
  }

  .close {
    top: 50px !important;
  }

  .search-wrapper {
    top: 55% !important;
  }

  .search-wrapper .hs-search-field__input {
    font-size: 50px !important;
  }
}

/* @media (max-width:769px) {
.mobile-menu .hs-menu-wrapper.flyouts .hs-menu-children-wrapper.hs-menu-children-wrapper {
display: none;
}

} */

@media(max-width:560px) {
  .header-logo-container img {
    width: 100px !important;
  }
}

@media(max-width:436px) {
  .header-section .content-wrapper {
    padding: 0px;
  }

  .header-button-section {
    gap: 10px;
  }

  .header-wrapper {
    gap: 10px;
  }

  .button {
    font-size: 12px;
  }

}

@media(max-width:400px) {
  .header-button-section .button {
    padding: 7px;
    font-size: 12px;
  }

  .search-wrapper {
    top: 60% !important;
  }

  .close {
    top: 28px !important;
  }

  .search-wrapper .hs-search-field__input {
    font-size: 30px !important;
  }
}

/* Search Bar Code */

.header_search-box {
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .4);
  display: none;
}

.modal-header-search {
  background-color: rgba(255, 255, 255, .9);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 57%;
  margin-top: 80px;
}

.search-wrapper {
  margin: auto;
  max-width: 900px;
  position: relative;
  top: 45%;
}

.search-popup_container,
.search-popup {
  height: 100%;
}

.search-wrapper .hs-search-field__input {
  border: none;
  outline: 0;
  background: transparent;
  border-bottom: 3px solid #999;
  padding: 20px 0px 10px 0px;
  font-size: 70px;
  color: #000;
}

.close {
  position: absolute;
  top: 70px;
  right: 10px;
  cursor: pointer;
}

.close svg {
  width: 25px;
  height: 25px;
}



/* Child mobile View*/