{% if module.show_hide %}
<section class="section-padding counter-text-section section-id" id="{{ module.section_id|replace(' ', '_')|lower }}">
  <div class="content-wrapper counter-text-container">
    <div class="counter-section">
      {% for item in module.counter_section %} 
      {% if item.number_text or item.sub_text %}
      <div class="counter-block">
        <h2><span class="counter" data-count="{{ item.number }}">0</span>{{ item.number_text }}</h2>
        <p>{{ item.sub_text }}</p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% if module.title or  module.content %}
    <div class="content-section">
      <h2>
        {{ module.title }}
      </h2>
      <div>{{ module.content }}</div>
    </div>
    {% endif %}
  </div>
</section>
{% endif %}

<style>
  {% scope_css %}
  .counter-text-section{
        {% if module.styles.background.backgrund_type == "color" and  module.styles.background.section_background_color.color  %}
          background-color: {{ module.styles.background.section_background_color.color}};
          opacity:{{ module.style.background.section_background_color.opacity}};
        {% elif module.styles.background.backgrund_type == "gradient" %}
          background: {{ module.styles.background.gradient_field.css }};
        {% elif module.styles.background.backgrund_type == "image" %}
          {{ module.styles.background.section_background_image.css }};
        {% endif %}
        {{ module.styles.section_spacing.desktop_spacing.css }};


        {{ module.styles.section_spacing.desktop_spacing.css }}
    }

    .content-section h2{
      color: rgb();
    }

  .counter-block {
    text-align: center;
    height:fit-content;
    min-height:100px;
  }

  .counter-text-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
    align-items:center
  }
.content-section h2{
  padding-bottom: 18px;
}
  .content-section {
/*     padding: 50px 0; */
    width: 90%;

  }
.counter-section{
  order: {{ module.counter_right_left }};
}
  .counter-block p {
    font-size: 20px;
    margin: 0;
  }

  .counter-block h2 {
    font-size: 48px;
    margin-bottom: 0px
  }

  .counter-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    height:fit-content;
  }

  @media(max-width:999px){
    .counter-text-container {
    grid-template-columns: repeat(1,1fr);
    }
    .content-section {
    padding: 30px;
    width: 100%;

  }

  }
  @media(max-width:768px){
    .counter-text-section{
      {{ module.styles.section_spacing.mobile_spacing.css }};

    }
    .counter-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
    
  }
  @media(max-width:500px){
    
    .content-section {
    padding: 20px;

  }
}

    {% end_scope_css %}
</style>


<script>
  var counted = 0;
  $(window).scroll(function () {

    var oTop = $('.counter-block').offset().top - window.innerHeight;
    if (counted == 0 && $(window).scrollTop() > oTop) {
      $('.counter').each(function () {
        var $this = $(this),
          countTo = $this.attr('data-count');
        $({
          countNum: $this.text()
        }).animate({
            countNum: countTo
          },

          {

            duration: 2000,
            easing: 'swing',
            step: function () {
              $this.text(Math.floor(this.countNum));
            },
            complete: function () {
              $this.text(this.countNum);
            }

          });
      });
      counted = 1;
    }

  });
</script>