<!-- module html  -->
{% if module.show_hide %}
<div class="section-padding social-media-section section-id" id="{{ module.section_id|replace(' ', '_')|lower }}">
    <div class="content-wrapper">
        <div class="social-media-container">
            {% if module.title  %}
            <div class="social-media-content">
                <h4>
                    {{ module.title }}
                </h4>
            </div>
            {% endif %}
            <div class="social-media-logo-container">
                {% for item in module.social_media_logos %}
                <div class="social-media-logo-wrapper">
                    <a href="{{ item.link.url.href }}" {% if item.link.open_in_new_tab %}target="_blank" {% endif %}
                        {% if item.link.rel %}rel="{{ item.link.rel }}" {% endif %}>{% if item.image_field.src %}
                        {% set sizeAttrs = 'width="{{ item.image_field.width }}" height="{{ item.image_field.height }}"' %}
                        {% if item.image_field.size_type == 'auto' %}
                        {% set sizeAttrs = 'width="{{ item.image_field.width }}" height="{{ item.image_field.height }}" style="max-width: 100%; height: auto;"' %}
                        {% elif item.image_field.size_type == 'auto_custom_max' %}
                        {% set sizeAttrs = 'width="{{ item.image_field.max_width }}" height="{{ item.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
                        {% endif %}
                        {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading }}"' : '' %}
                        <img src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}" {{ loadingAttr }}
                            {{ sizeAttrs }}>
                        {% endif %}</a>

                </div>
                {% endfor %}
            </div>

        </div>

    </div>


</div>
{% endif %}


{% require_css %}
<style>
    {% scope_css %}
    .social-media-section{
        {% if module.styles.background.backgrund_type == "color" and  module.styles.background.section_background_color.color %}
          background-color: rgb({{ module.styles.background.section_background_color.color |convert_rgb }}, {{ module.styles.background.section_background_color.opacity/ 100 }});
        {% elif module.styles.background.backgrund_type == "gradient" %}
          background: {{ module.styles.background.gradient_field.css }};
        {% elif module.styles.background.backgrund_type == "image" %}
          {{ module.styles.background.section_background_image.css }};
        {% endif %}
        {{ module.styles.section_spacing.desktop_spacing.css}};

    }
    
    .social-media-content h4{
        {% if  module.styles.title_color.color %}
        color: {{ module.styles.title_color.color }};
        {% endif %}
         font-size: {{ module.styles.title_color.size }}{{module.styles.title_color.size_unit }};
    }

    @media(max-width:768px){
        .social-media-section{
            {{ module.styles.section_spacing.mobile_spacing.css }};

        }
    }
    {% end_scope_css %}
</style>
{% end_require_css %}
