.social-media-logo-wrapper img {
    width: 60px !important;
    height: 60px !important;
    border-radius: 6px;
}

.social-media-logo-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 32%;
    margin: auto;
}


.social-media-section {
    padding-top: 0;
}

.social-media-content h4 {
    text-align: center;
    padding-bottom: 25px;
}

@media (max-width: 999px) {
  #social-media-icons{padding-bottom:60px!important;
  }}

@media (max-width: 767px) {
    .social-media-logo-container {
        width: 50%;
    }
}


@media (max-width: 425px) {
    .social-media-logo-container {
        width: 100%;
    }
}