.image-text-section h2 {
    text-align: center;
}

.image-text-container {
    display: flex;
    padding: 50px 30px 0;
    justify-content: space-between;
}

.text-container {
    width: 40%;
}

.text-container h4 {
    padding-bottom: 18px;
}

.image-text-main-title {
    padding: 0 30px;
}

.text-container p {
    line-height: 28px;
    margin: 0;
    padding-bottom: 10px;
}

.text-container .button-section {
    padding-top: 20px;
}

.left-right-image-container {
    width: 50%;
}

.left-right-image-container img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
    aspect-ratio: 2;
}


@media (max-width: 768px) {
    .image-text-container {

        padding: 20px 0px 0;
    }

    .image-text-main-title {
        padding: 0 20px;
        font-size: 30px;
    }

    .text-container h4 {
        font-size: 22px;
    }
}

@media(max-width:950px) {
    .image-text-container {
        flex-direction: column !important;
        gap: 10px;
    }

    .left-right-image-container img {
        max-height: 400px;
    }

    .text-container h4 {
        padding: 20px 0;
    }

    .left-right-image-container,
    .text-container {
        width: 100%;
    }
}

@media(max-width:425px) {
    .left-right-image-container img {
        height: 200px !important;
    }

    .text-container p {
        font-size: 13px;
    }

}