<!-- module html  -->
{% if module.show_hide %}
<section class="image-text-section section-id section-padding" id="{{ module.section_id|replace(' ', '_')|lower }}">
    <div class="content-wrapper"> 
        {% if module.title %}
        <h2 class="image-text-main-title">
            {{ module.title }}
        </h2>
        {% endif %}
        <div class="image-text-container" style="flex-direction:{{ module.image_left_right }}">
            {% if module.text_image_section.image.src %}
            <div class="left-right-image-container">
                {% set sizeAttrs = 'width="{{ module.text_image_section.image.width }}" height="{{ module.text_image_section.image.height }}"' %}
                {% if module.text_image_section.image.size_type == 'auto' %}
                {% set sizeAttrs = 'width="{{ module.text_image_section.image.width }}" height="{{ module.text_image_section.image.height }}" style="max-width: 100%; height: auto;"' %}
                {% elif module.text_image_section.image.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ module.text_image_section.image.max_width }}" height="{{ module.text_image_section.image.max_height }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                {% set loadingAttr = module.text_image_section.image.loading != 'disabled' ? 'loading="{{ module.text_image_section.image.loading }}"' : '' %}
                <img src="{{ module.text_image_section.image.src }}" alt="{{ module.text_image_section.image.alt }}"
                    {{ loadingAttr }} {{ sizeAttrs }}>
                    
                </div>
                {% endif %}
            <div class="text-container"> 
                {% if  module.text_image_section.heading %}
                <h4>{{ module.text_image_section.heading }}</h4>
                {% endif %}
                {% if module.text_image_section.content %}
                <div>{{ module.text_image_section.content }}</div>
                {% endif %}
                {% if module.text_image_section.button_section.button_text %}
                <div class="button-section">
                    <a href="{{ href }}" class="button"
                        {% if module.text_image_section.button_section.link.open_in_new_tab %}target="_blank"
                        {% endif %}
                        {% if module.text_image_section.button_section.link.rel %}rel="{{ module.text_image_section.button_section.link.rel }}"
                        {% endif %}>
                        {{ module.text_image_section.button_section.button_text }}
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}

{% require_css %}
<style>
    {% scope_css %}
    .image-text-section{
        {% if module.styles.background.backgrund_type  == "color" and  module.styles.background.section_background_color.color %}
          background-color: {{module.styles.background.section_background_color.color }};
          opacity:{{ module.style.background.section_background_color.opacity}};
        {% elif module.styles.background.backgrund_type  == "gradient" %}
          background: {{   module.styles.background.gradient_field.css }};
        {% elif module.styles.background.backgrund_type  == "image" %}
          {{ module.styles.background.section_background_image.css }};
        {% endif %}
        {{ module.styles.section_spacing.desktop_spacing.css }};
    }
.image-text-main-title{
    color: {{ module.styles.main_title_font.color }};
    font-size: {{ module.styles.main_title_font.size }}{{module.styles.main_title_font.size_unit }};
    text-align: {{ module.title_alignment }};
}

.text-container h4{
    color: {{ module.styles.sub_title_font.color }}; 
    font-size: {{ module.styles.sub_title_font.size }}{{module.styles.sub_title_font.size_unit }};
    font-weight: 700;
}

.text-container p{
    {% if module.styles.content_color.color %}
    color: rgb({{ module.styles.content_color.color |convert_rgb }},{{ module.styles.content_color.opacity /100}});
    {% endif %}
}
    
.button-section .button{
    {% if module.styles.button_color.color %}
    color:rgb({{ module.styles.button_color.color |convert_rgb}}, {{ module.styles.button_color.opacity /100}} ;
    {% endif %}
    {% if  module.styles.background_color.color  %}
    background-color:rgb({{ module.styles.background_color.color |convert_rgb }},{{ module.styles.background_color.opacity /100 }}) ;
    {% endif %}
}

@media(max-width:768px){
    .image-text-section{
        {{ module.styles.section_spacing.mobile_spacing.css }};
    }
}

    {% end_scope_css %}
</style>
{% end_require_css %}