.tab-section {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.tab-section h5.a .pc_tb-main-section {
  padding: 50px 1rem 0;
}

.pricing-card-section h2 {
  padding: 0 20px;
}


.pricing_cards-container {
  display: flex;
  padding: 50px 20px 0;
  gap: 2%;
  row-gap: 50px;
  flex-wrap: wrap;

}

.pricing-card-wrapper {
  width: 32%;
  position: relative;
  /* text-align: center; */

}

.pricing_card-content {
  padding: 1.4rem 1.4rem 5rem;

}

.pricing-card-title {
  padding: 10px;
}

.pricing-card-section {
  padding-top: 50px;
}

.pricing-card-title h5 {
  margin: 0;
  text-align: center;

}

.tab-content {
  width: 100%;
}

.pricing-button {
  position: absolute;
  text-align: center;
  margin: 10px 0 30px;
  bottom: 0;
  left: 0;
  right: 0;
}

.pc-tab-wrapper .tab-section h5 {
  cursor: pointer;
  position: relative;
  margin: 0;
}

.pc-tab-wrapper .tab-section h5::after {
  content: "";
  position: absolute;
  left: 0;
  top: 30px;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.pricing_card-price {
  padding-bottom: 10px;
}

.pc-tab-wrapper .tab-section h5:hover::after,
.pc-tab-wrapper .tab-section h5.active::after {
  transform: scaleX(1);
}

.pricing-card-title h4 {
  text-align: center;
}

.pricing-cards-features {
  padding-left: 0;
  display: grid;
  margin: 0;
  /* place-items: center; */
  padding: 0 0px 20px 20px;
}

.pricing-cards-features li {
  /* max-width: calc(100% - 50px); */
  padding-bottom: 5px;
}

.pricing-button .button {
  padding: 12px 30px;
}

.trail_form-text-image-container {
  display: flex;
  gap: 60px;

}

.trail-form-section {
  padding: 50px 30px 0;
  overflow: hidden;
}

.trail-form form fieldset.form-columns-1 select[name="how_did_you_hear_about_futurebridge_"] {
  width: 99.4% !important;

}

.trail-form form fieldset.form-columns-1 .hs_how_did_you_hear_about_futurebridge_ .input {
  margin-right: 0 !important;
}


.trail-form-image img {
  width: 100%;
  height: 285px !important;
}

.trail-form-image {
  width: 50%;
}

.trail-form-text h4 {
  padding-bottom: 18px;
}

.trail-form-text {
  width: 100%;
}

.trail-form form .form-columns-2 {
  display: flex;
  gap: 30px;
  /* align-items: center; */
margin-bottom: 20px;
}

.trail-form form .input .hs-fieldtype-textarea {
  width: 94.3%;
  height: 46px;
}

.trail-form form .input select {
  height: 45px;
}

.trail-form form fieldset {
  max-width: 100% !important;
}

.trail-form form .hs-fieldtype-intl-phone select.hs-input {
  padding: 14px !important;
}

.trail-form form .hs-button {
  padding: 10px 30px;
}

.trail-form h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 18px;
}

.trail-form {
  padding-top: 40px;
}

.trail-form form .hs_message .input {
  width: 104.5%;
}

.trail-form form .actions {
  text-align: center;
  padding-top: 25px;
}

.trail-form form .hs-form-field {
  margin-bottom: 20px;

}


@media (max-width:999px) {
  .trail_form-text-image-container {
    flex-direction: column !important;
    gap: 20px;
  }

  .pricing-card-wrapper {
    width: 45%;
  }

  .trail-form-image,
  .trail-form-text {
    width: 100% !important;
  }

  .pricing_cards-container {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .pricing_cards-container {
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  .pricing-card-wrapper {
    margin: auto;
    width: 60%;
  }

  .tab-section h5 {
    font-size: 20px;
  }

  .pricing_cards-container {
    padding: 30px 0;
  }

  .pricing-card-section {
    padding: 30px 0 0;
  }


}

@media (max-width: 648px) {
  .pricing_cards-container {
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  .pricing-card-wrapper {
    margin: auto;
    width: 60%;
  }

  .trail-form form .form-columns-2 {
    display: inherit;
  }

  .trail-form form fieldset.form-columns-2 .hs-form-field {
    width: 100% !important;
    float: inherit;
  }
}

@media (max-width: 600px) {

  .pricing-card-section h2 {
    font-size: 30px;
  }

  .pricing-card-wrapper {
    margin: auto;
    width: 100%;
  }

  .tab-section {
    flex-wrap: wrap;
    gap: 20px;
  }

}


@media (max-width:514px) {

  .trail-form-section {
    padding: 30px 0;
  }

  .trail-form form .input .hs-fieldtype-textarea {
    width: 95.6%;
    height: 46px;
  }

  .trail-form form .form-columns-2 .hs-form-field .input,
  .trail-form form .form-columns-2 .hs-form-field .input {
    margin-right: 0px;
  }

  .trail-form form .form-columns-2 {
    display: inherit;

  }

  .trail-form h2 {
    padding: 30px 0 20px;
    font-size: 30px;
  }

}

@media (max-width:481px){
  .trail-form form fieldset.form-columns-1 select[name="how_did_you_hear_about_futurebridge_"] {
    width: 95% !important;
  
  }
  
}


@media (max-width:400px) {

  .trail-form form .input .hs-fieldtype-textarea {
    width: 91.6% !important;
  }
}