{% if module.show_hide %}
<section class="pc_tb-main-section section-padding section-id" id="{{ module.section_id|replace(' ', '_')|lower }}">
    <div class="content-wrapper pc-tb-container">
        <div class="pc-tab-wrapper"> 
            {% if item.tab_name %}
            <div class="tab-section">
                {% for item in module.tab_group %}
                <h5>{{ item.tab_name }}</h5>
                {% endfor %}
            </div>
            {% endif %}
            {% for item in module.tab_group %}
            {% if item.choose == "pricing_cards" %}
            <div class="pricing-card-section tab-content" >
                {% if item.pricing_cards_group.title %}
                <h2 style="text-align: {{ item.pricing_cards_group.title_alignment}};">
                    {{item.pricing_cards_group.title}}
                </h2>
                {% endif %}
                    
                <div class="pricing_cards-container" style="justify-content:{{ item.pricing_cards_group.choose_cards_alignment }};">
                    {% for item2 in item.pricing_cards_group.cards %}
                    {% if item2.title or item2.price_section.dollar_sign or item2.features or item2.button_section.button_text %}
                    <div class="pricing-card-wrapper">
                        {% if item2.title  %}
                        <div class="pricing-card-title">
                            <h4>{{ item2.title }}</h4>
                        </div>
                        {% endif %}
                        <div class="pricing_card-content">
                         {% if  item2.price_section.dollar_sign ||  item2.price_section.price %}
                         {% if item2.show_price %}
                        <div class="pricing_card-price" style="text-align: 	{{  item.pricing_cards_group.pricing_card_title_alignment }};">
                            <h4>{{ item2.pricing_text }}    </h4>
                        </div>
                        {% endif %}
                            {% endif %}
                            <ul class="pricing-cards-features" style="place-items: 	{{ item.pricing_cards_group.pricing_card_content_alignment }};">
                                {% for item3 in item2.features %}
                                {% if  item3.features %}
                                <li>{{ item3.features }}</li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            
                            {% if item2.button_section.button_text %}
                            <div class="pricing-button">
                                <a href="{{ item2.button_section.link.url.href  }}" class="button"
                                    {% if item2.button_section.link.open_in_new_tab %}target="_blank" {% endif %}
                                    {% if item2.button_section.link.rel %}rel="{{ item2.button_section.link.rel }}"
                                    {% endif %}>
                                    {{ item2.button_section.button_text  }}
                                </a>

                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if item.choose == "trail_form" %}
            <div class="tab-content trail-form-section">
                <div class="trail_form-text-image-container"
                    style="flex-direction: {{ item.trial_form_section.image_left_right }}">
                    <div class="trail-form-text" style="{% if item.trial_form_section.image.src %} width:50% {% endif%}">
                        {% if item.trial_form_section.title %}
                        <h4>
                            {{ item.trial_form_section.title }}
                        </h4>
                        {% endif %}
                        {% if item.trial_form_section.content %}
                        <div>
                            {{ item.trial_form_section.content }}
                        </div>
                        {% endif %}
                    </div>
                    {% if item.trial_form_section.image.src %}
                    <div class="trail-form-image">
                        {% set sizeAttrs = 'width="{{ item.trial_form_section.image.width }}" height="{{ item.trial_form_section.image.height }}"' %}
                        {% if item.trial_form_section.image.size_type == 'auto' %}
                        {% set sizeAttrs = 'width="{{ item.trial_form_section.image.width }}" height="{{ item.trial_form_section.image.height }}" style="max-width: 100%; height: auto;"' %}
                        {% elif item.trial_form_section.image.size_type == 'auto_custom_max' %}
                        {% set sizeAttrs = 'width="{{ item.trial_form_section.image.max_width }}" height="{{ item.trial_form_section.image.max_height }}" style="max-width: 100%; height: auto;"' %}
                        {% endif %}
                        {% set loadingAttr = item.trial_form_section.image.loading != 'disabled' ? 'loading="{{ item.trial_form_section.image.loading }}"' : '' %}
                        <img src="{{ item.trial_form_section.image.src }}" alt="{{ item.trial_form_section.image.alt }}"
                            {{ loadingAttr }} {{ sizeAttrs }}>
                        </div>
                        {% endif %}
                </div>
                <div class="trail-form">
                    {% if item.trial_form_section.form_title %}
                    <h2 style="text-align: {{ item.trial_form_section.title_alignment }};">
                        {{ item.trial_form_section.form_title }}
                    </h2>
                    {% endif %}
                    {% form
                        form_to_use="{{ item.trial_form_section.trial_form_.form_id }}"
                        response_response_type="{{ item.trial_form_section.trial_form_.response_type }}"
                        response_message="{{ item.trial_form_section.trial_form_.message }}"
                        response_redirect_id="{{ item.trial_form_section.trial_form_.redirect_id }}"
                        response_redirect_url="{{item.trial_form_section.trial_form_.redirect_url}}"
                        gotowebinar_webinar_key="{{ item.trial_form_section.trial_form_.gotowebinar_webinar_key }}"
                    %}

                </div>
            </div>
            {% endif %}

            {% endfor %}
        </div>
    </div>

</section>
{% endif %}
{% require_css %}
<style>
    {% scope_css %}
    .pc_tb-main-section{
        {% if module.styles.background.background_type == "image" %}
        {{ module.styles.background.backgroundimage_field.css }} ;
        {% elif module.styles.background.background_type == "gradient" %}
        background: {{ module.styles.background.background_gradient.css }};
        {% elif  module.styles.background.background_type == "color" %}
            background-color: {{ module.styles.background.background_color.color}};
            opacity:{{ module.styles.background.background_color.opacity}};
        {% endif %}
        {{ module.styles.section_spacing.desktop_spacing.css }};
  } 

  
    .pc-tab-wrapper .tab-section h5::after{
        background-color:{{theme.global_colors.primary.color}};
    }
    
    {% if  module.styles.pricing_card_style.title_color.color  %}
    .pricing-card-section h2{
        color: rgb({{ module.styles.pricing_card_style.title_color.color | convert_rgb}}, {{ module.styles.pricing_card_style.title_color.opacity /100}});
    }

    {% endif %}


    .pricing-card-wrapper {
        background-color: rgb({{ module.styles.pricing_card_style.card_background_color.color | convert_rgb}}, {{module.styles.pricing_card_style.card_background_color.opacity /100}} );
    }
    .pricing-card-title{
        background-color: rgb({{ module.styles.pricing_card_style.pricing_card_title_background_color.color |convert_rgb}}, {{ module.styles.pricing_card_style.pricing_card_title_background_color.opacity /100 }})
    }
    
    .pricing-card-title h4{
        color: rgb({{module.styles.pricing_card_style.pricing_title_color.color | convert_rgb}}, {{ module.styles.pricing_card_style.pricing_title_color.opacity /100}});
    }
    
    .trail-form-text h4{
        {% if module.styles.trial_form_styling.title_color.color %}
        color: {{module.styles.trial_form_styling.title_color.color}};
        {% endif %}
    }

    .trail-form-text div{
        {% if module.styles.trial_form_styling.content_color.color %}
        color: {{module.styles.trial_form_styling.content_color.color }};
        {% endif %}
    }
    .trail-form h2{
        {% if  module.styles.trial_form_styling.form_title_color.color %}
        color:{{ module.styles.trial_form_styling.form_title_color.color }}
        {% endif %}
    }
    .trail-form form{
        {% if module.styles.trial_form_styling.form_background_color.color %}
        background-color: {{module.styles.trial_form_styling.form_background_color.color}};
        {% endif %}
    }

    @media(max-width:768px){
        .pc_tb-main-section{
            {{ module.styles.section_spacing.mobile_spacing.css }};
        }
    }
    {% end_scope_css %}
</style>
{% end_require_css %}