<!--
templateType: global_partial
label: Footer
-->
<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer">
  {% dnd_area "footer"
    label="Footer",
    class="footer__container content-wrapper"
  %}

  {# Social follow and copyright #}

  {% dnd_section %}
  {% dnd_column %}
  {% dnd_row %}
  {% dnd_module "module_16945004125861" path='/Cheers_Interactive/modules/footer', label="footer" %}

  {% end_dnd_module %}
  {% end_dnd_row %}
  {% end_dnd_column %}
  {% end_dnd_section %}

  {% end_dnd_area %}
</footer>


{% require_js %}
<script>
  $(window).on("load", function () {
    $('body img:first').each(function (index) {
      if ($(this).attr('loading') == undefined) {
        $(this).attr("loading", "eager");
      }
    });
  });
</script>
<script>
  $('img').each(function (index) {
    if ($(this).attr('height') == undefined) {
      var heightimg = ($(this).height());
      $(this).attr("height", heightimg);
    }
    if ($(this).attr('width') == undefined) {
      var widthimg = ($(this).width());
      $(this).attr("width", widthimg);
    }

    if ($(this).attr('loading') == undefined) {
      $(this).attr("loading", "lazy");
    }
  });
  $('iframe').each(function (index) {
    if ($(this).attr('height') == undefined) {
      var heightiframe = ($(this).height());
      $(this).attr("height", heightiframe);
    }
    if ($(this).attr('width') == undefined) {
      var widthiframe = ($(this).width());
      $(this).attr("width", widthiframe);
    }
    if ($(this).attr('loading') == undefined) {
      $(this).attr("loading", "lazy");
    }
  });
</script>

<script>
  $(window).on("load", function () {
    $('img').each(function (index) {
      if ($(this).attr('height') == undefined) {
        var heightimgnew = ($(this).height());
        $(this).attr("height", heightimgnew);
      }

      if ($(this).attr('width') == undefined) {
        var widthimgnew = ($(this).width());
        $(this).attr("width", widthimgnew);
      }

      if ($(this).attr('loading') == undefined) {
        $(this).attr("loading", "lazy");
      }
    });
    $('iframe').each(function (index) {
      if ($(this).attr('height') == undefined) {
        var heightiframenew = ($(this).height());
        $(this).attr("height", heightiframenew);
      }

      if ($(this).attr('width') == undefined) {
        var widthiframenew = ($(this).width());
        $(this).attr("width", widthiframenew);
      }

      if ($(this).attr('loading') == undefined) {
        $(this).attr("loading", "lazy");
      }
    });
  });
</script>
{% end_require_js %}