<!--
  templateType: global_partial
  label: Header no navigation
-->
<header class="header">
<div class="header_inner p-0 row-fluid {% if content.translated_content.values()|selectattr("published")|length || is_listing_view && group.translations %} {% elif theme.header.show_search %} added {% endif %}">
    {% dnd_area "header-top"
    label="Main header",
    class="container-fluid"
  %}
    {% dnd_section
    padding={
            'default': {
              'top':20,
              'bottom':20              
            }   
          },
          vertical_alignment="MIDDLE",
          full_width=false
  %}
    {% dnd_column
            offset=0,
            width=3
       %}
    {% dnd_row %}
    {% dnd_module "logo" path="@hubspot/logo" label='Header Logo', loading="eager", img={src=" {{ get_asset_url('../../images/wings.png') }}", width=115, override_inherited_src=true, alt='Wings Logo'} %} {% end_dnd_module %}
    {% end_dnd_row %}
    {% end_dnd_column %}

   
    {% end_dnd_section %}
    {% end_dnd_area %}
    
    {% if content.translated_content.values()|selectattr("published")|length || is_listing_view && group.translations %}
    <div class="side_cntnt">
      <div class="header--toggle header__language-switcher--toggle"></div>
      <div class="header__language-switcher header--element">
        <div class="header__language-switcher--label">
          {% module "language-switcher"
                path="@hubspot/language_switcher",
                label="Language switcher",
                display_mode="localized"
              %}
          {#<div class="header__language-switcher--label-current"> {{ locale_name(locale) }}</div>#}
        </div>
      </div>
      {% if theme.header.show_search %}
      <div class="header--toggle header__search--toggle"></div>
      <div class="header__search header--element">
        {% module "site_search"
            path="@hubspot/search_input",
            label="Search",
            field_label="Search",
            placeholder=""
          %}
      </div>
      {% endif %}
    </div>
    {% else %}
    {% if theme.header.show_search %}
     <div class="side_cntnt">
      <div class="header--toggle header__search--toggle"></div>
      <div class="header__search header--element">
        {% module "site_search"
            path="@hubspot/search_input",
            label="Search",
            field_label="Search",
            placeholder=""
          %}
      </div>
    </div>
    {% endif %}
    {% endif %}
          
  </div>
</header>