{% if module.show_hide %}
<section class="form-content_container section-padding section-id" id="{{ module.section_id|replace(' ', '_')|lower }}">
  <div class="content-wrapper">
    <div class="twoclm_form">   
      <div class="form_content">
      {% if module.title  %}
    <div class="e-book-text_title">
      <h2>
        {{ module.title }}
      </h2>
    </div>
    {% endif %}
    {% if module.sub_title  %}
    <div class="e-book_sub-title">
        {{ module.sub_title }}
    </div>
    {% endif %}
    </div>
    
    <div class="formstyle">
      {% if  module.form_title %}
      <h2>{{  module.form_title}}</h2>
      {% endif %}
      {% form
      form_to_use="{{ module.form_field.form_id }}"
      response_response_type="{{ module.form_field.response_type }}"
      response_message="{{ module.form_field.message }}"
      response_redirect_id="{{ module.form_field.redirect_id }}"
      response_redirect_url="{{module.form_field.redirect_url}}"
      gotowebinar_webinar_key="{{ module.form_field.gotowebinar_webinar_key }}"
      %}
    </div>
    </div>
  </div>
</section>
{% endif %}

{% require_css %}
<style>
{% scope_css %}

  .e-book-text_title h2{
    color: {{ module.styles.title_font.color }}; 
    {% if module.styles.title_font.size %}
    font-size: {{ module.styles.title_font.size }}{{ module.styles.title_font.size_unit }};
    {% endif %}
  }
.formstyle h2{
  line-height: 1.4;
  color: {{ module.styles.form_title_font.color }}; 
   font-size: {{ module.styles.form_title_font.size }}{{module.styles.form_title_font.size_unit }};

}
  .form-content_container {
    {% if module.styles.background.background_type == "image" %}
       {{  module.styles.background.backgroundimage_field.css }} ;
    {% elif module.styles.background.background_type == "gradient" %}
       background: {{ module.styles.background.background_gradient.css }};
    {% elif module.styles.background.background_type == "color" %}
        background-color:rgb({{ module.styles.background.background_color.color |convert_rgb }}, {{ module.styles.background.background_color.opacity/100}});
    {% endif %}
    {{ module.style.section_spacing.desktop_spacing.css}};

} 
  
 .e-book_sub-title p{
   color: {{  module.styles.subtitle_font.color }}; 
   font-size: {{  module.styles.subtitle_font.size }}{{ module.styles.subtitle_font.size_unit }};
  }
  
  
.formstyle {
  background-color: rgb({{module.styles.form_background_color.color |convert_rgb}}, {{ module.styles.form_background_color.opacity /100 }});
}

@media(max-width:768px){
  .form-content_container{
    {{ module.style.section_spacing.desktop_spacing.css}};

  }
}

{% end_scope_css %}
</style>
{% end_require_css %}

{% require_js %}
<script>
$( document ).ready(function() {
setTimeout(e => {
   $(".legal-consent-container").addClass("no-show");
   $(".legal-consent-container").append(`<div class="error-message" id="errorMessage" style="font-size:.875rem;  color:#f2545b;">You must consent to receive business relevant communication from FutureBridge.</div>`);    
   $("input[name='LEGAL_CONSENT.subscription_type_250464652']").prop("checked", true).change();


$("input[name='LEGAL_CONSENT.subscription_type_250464652']").each(function() {
  $(this).off().click(function() {
    var checkbox = $(this);

    checkbox.toggleClass("checked");

    if (!checkbox.is(":checked")) {
      checkbox.closest(".legal-consent-container").addClass("no-show show-error");
    } else {
      checkbox.closest(".legal-consent-container").removeClass("no-show show-error");
    }
  });
});
$("input[type='submit']").off().click(function() {
  
    console.log("checked");
 var checkbox = $('.legal-consent-container input[type="checkbox"]');


  if (!checkbox.is(":checked")) {
    $(".legal-consent-container").addClass("no-show"); // Add the class
    $(".legal-consent-container").addClass("show-error"); 
    
    // Add the class
  } else {
    $(".legal-consent-container").removeClass("no-show"); // Remove the class
    $(".legal-consent-container").removeClass("show-error"); // Remove the class
  }
  });

}, 3000);
});
</script>
{% end_require_js %}

 
 