.e-book_sub-title {
  width: 100%;
}

.formstyle h2 {
  padding-bottom: 20px;
}

.e-book_sub-title {
  margin: 0;
  padding: 20px 0 40px;
}

.e-book_sub-title p {
  padding-bottom: 20px;
}

.formstyle form .form-columns-2 {
  display: flex;
  gap: 50px;
  align-items: flex-end;
}

.formstyle form fieldset.form-columns-2 .hs-form-field{
  position: relative;
}

.formstyle form .hs-error-msgs{
  position: absolute;
}

.formstyle form fieldset.form-columns-1 .hs_how_did_you_hear_about_futurebridge_ .hs-input{
  width: 100% !important;
}

.formstyle form .hs-fieldtype-intl-phone {
  display: flex;
}

.formstyle form .input .hs-fieldtype-textarea {
  width: 100% !important;
}

.formstyle form .hs-button {
  padding: 10px 25px;
}

.twoclm_form {
  display: flex;
  gap: 50px;
}

.form_content {
  width: 50%;
}

.formstyle {
  width: 50%;
}

.formstyle form input[type=email],
.formstyle input[type=file],
.formstyle form input[type=number],
.formstyle form input[type=password],
.formstyle form input[type=tel],
.formstyle form input[type=text],
.formstyle form select,
.formstyle form textarea {
  border: none;
  border-bottom: 1.4px solid #B7B7BB;
  border-radius: 0px;
  outline: none;
  background-color: transparent;
}

.formstyle form ul {
  list-style: none;
}

.formstyle {
  padding: 40px;
}

@media(max-width:768px) {
  .twoclm_form {
    display: block;
    gap: 50px;
  }

  .form_content,
  .e-book_sub-title {
    width: 100%;
  }

  .e-book-text_title br {
    display: none;
  }

  .formstyle {
    width: 100%;
  }

}

@media(max-width:580px) {
  .formstyle form .form-columns-2 {
    flex-direction: column;
    gap: 0;

  }

  .formstyle form .hs-form-field {
    width: 100% !important;
  }

  .formstyle form .form-columns-2 .hs-form-field .input {
    margin-right: 0px;
  }

}

