<!-- module html  -->
{% if module.show_hide %}
<div class="section-padding panel-section section-id" id="{{ module.section_id|replace(' ', '_')|lower }}">
    <div class="content-wrapper">
        {% if module.title  %}
        <div class="panel-title">
            <h2>{{ module.title }}</h2>
        </div>
        {% endif %}
        <div class="panel-container">
            {% for item in module.panel_members %}
            <div class="panel-wrapper">
                <div class="panel_member-image">
                    {% if item.member_image.src %}
                    <div class="member-image-container">
                        {% set sizeAttrs = 'width="{{ item.member_image.width }}" height="{{ item.member_image.height }}"' %}
                        {% if item.member_image.size_type == 'auto' %}
                        {% set sizeAttrs = 'width="{{ item.member_image.width }}" height="{{ item.member_image.height }}" style="max-width: 100%; height: auto;"' %}
                        {% elif item.member_image.size_type == 'auto_custom_max' %}
                        {% set sizeAttrs = 'width="{{ item.member_image.max_width }}" height="{{ item.member_image.max_height }}" style="max-width: 100%; height: auto;"' %}
                        {% endif %}
                        {% set loadingAttr = item.member_image.loading != 'disabled' ? 'loading="{{ item.member_image.loading }}"' : '' %}
                        <img src="{{ item.member_image.src }}" alt="{{ item.member_image.alt }}" {{ loadingAttr }}
                            {{ sizeAttrs }}>
                    </div>
                    {% endif %}
                    <div class="member-social-icons_container">
                        {% for item2 in item.social_icons %}
                        {% if item2.social_icon.name %}
                        <div class="member-social-icons">
                            <a href="{{ item2.link.url.href  }}" {% if item2.link.open_in_new_tab %}target="_blank"
                                {% endif %} {% if item2.link.rel %}rel="{{ item2.link.rel }}" {% endif %}>
                                {% icon
                                    name="{{ item2.social_icon.name }}"
                                    style="{{ item2.social_icon.type }}"
                                    unicode="{{ item2.social_icon.unicode }}"
                                    icon_set="{{ item2.social_icon.icon_set }}"
                                    %}
                            </a>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                </div>
                <div class="panel-member-details">
                    {% if item.member_name %}
                    <h4>
                        {{ item.member_name }}
                    </h4>
                    {% endif %}
                    {% if item.designation_name %}
                    <p class="panel-designation">
                        {{item.designation_name}}
                    </p>
                    {% endif %}
                    {% if item.description %}
                    <p class="panel-des">
                        {{ item.description }}
                    </p>
                    {% endif %}
                </div>

            </div>
            {% endfor %}
        </div>
    </div>

    </section>
    {% endif %}


    {% require_css %}
<style>
    {% scope_css %}
    .panel-section{
        {% if module.styles.background.backgrund_type  == "color" and  module.styles.background.section_background_color.color %}
          background-color: rgb({{  module.styles.background.section_background_color.color | convert_rgb }}, {{ module.styles.background.section_background_color.opacity/ 100 }});
        {% elif module.styles.background.backgrund_type  == "gradient" %}
          background: {{  module.styles.background.gradient_field.css }};
        {% elif module.styles.background.backgrund_type  == "image" %}
          {{  module.styles.background.section_background_image.css }};
        {% endif %}
        {{ module.styles.section_spacing.desktop_spacing.css}};

    }

    .panel-container {
     justify-content: {{ module.panel_content_alignment }};
    }
    .panel-title h2{
        color: {{ module.styles.title_font.color }};
     font-size: {{ module.styles.title_font.size }}{{module.styles.title_font.size_unit }};
    }


    {% if module.styles.panel_style.social_icon_color.color %}
    .member-social-icons svg{
        fill: rgb({{ module.styles.panel_style.social_icon_color.color |convert_rgb }}, {{ module.styles.panel_style.social_icon_color.opacity/100 }});
    }
    {% endif %}

    {% if module.styles.panel_style.description_color.color %}
    .panel-des{
        color:rgb({{ module.styles.panel_style.description_color.color |convert_rgb }}, {{ module.styles.panel_style.description_color.opacity /100 }}) ;
    }
    {% endif %} 

    .panel-designation{
        color: {{ module.styles.panel_style.designation_name_font.color }}; 
        font-size: {{ module.styles.panel_style.designation_name_font.size }}{{module.styles.panel_style.designation_name_font.size_unit }};
    }

    .panel-member-details h4{
        color: {{ module.styles.panel_style.name_font.color }}; 
        font-size: {{ module.styles.panel_style.name_font.size }}{{module.styles.panel_style.name_font.size_unit }};    }

    @media(max-width:768px){
    .panel-section{
        {{ module.style.section_spacing.mobile_spacing.css }}

    }
    }

    {% end_scope_css %}
</style>
{% end_require_css %}