.panel-container {
    padding: 50px 40px 50px 45px;
    row-gap: 50px !important;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    /* justify-content: center; */

}

.member-social-icons svg {
    width: 15px;
    height: 15px;
}

.member-social-icons_container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.panel_member-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 5px;
}

.panel-wrapper {
    display: grid;
    grid-template-columns: 25% 70%;
    column-gap: 20px;
    width: 45%;
    align-items: start;
}

.panel-title {
    text-align: center;
}

.panel-des {
    width: 100%;
    line-height: 1.6;
}

.member-image-container img {
    max-width: 150px !important;
    max-height: 150px !important;
    height: 100% !important;
    width: 100% !important;
    clip-path: circle(50%);
}

.panel-member-details p {
    margin: 0;
}

.panel-designation {
    padding: 10px 0;
    font-weight: 700;
}

@media(max-width:950px) {
    .panel-wrapper {
        width: 100%;
    }

}

@media (max-width:600px) {

    .member-image-container,
    .panel-member-details {
        text-align: center;
    }

    .member-social-icons_container {
        justify-content: center;
    }

    .panel-des {
        width: 100%;
    }

    .panel-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 575px) {
    .panel-container {
        padding: 50px 0;
    }
}