<!-- module html  -->
{% if module.show_hide %}
<section class="section-padding blog-list-slider-section section-id" id="{{ module.section_id|replace(' ', '_')|lower }}">
    <div class="content-wrapper">
        <div class="blog-main-title">
            {% if module.title %}
            <h2>
                {{ module.title }}
            </h2>
            {% endif %}
            {% if module.sub_title %}
            <div>{{ module.sub_title }}</div>
            {% endif %}

        </div>

        {% if module.blog_list_slider == "blog_slider" %}
        <div class="blog-list blog-list-slider" data-original-industry="{{ module.select_industry }}">
        </div>
        {% elif module.blog_list_slider == "blog_list" %}
        <div class="blog_list" data-original-industry="{{ module.select_industry }}">
        </div> 
        {% if module.button_section.button_text %}
        <div class="blog_list-button">
            <a href="{{ module.button_section.link.url.href }}" class="button"
            {% if module.button_section.link.open_in_new_tab %}target="_blank"{% endif %}
            {% if module.button_section.link.rel %}rel="{{ module.button_section.link.rel }}"{% endif %}
            >{{ module.button_section.button_text }}</a>

        </div>
        {% endif %}

        {% endif %}


    </div>
</section>
{% endif %}


{% require_css %}
<style>
  {% scope_css %}
  .blog-list-slider-section{
    {% if module.style.background.background_type == "image" %}
    {{  module.style.background.backgroundimage_field.css }} ;
    {% elif module.style.background.background_type == "gradient" %}
    background: {{ module.style.background.background_gradient.css }};
    {% elif module.style.background.background_type == "color" %}
    background-color: {{ module.style.background.background_color.color }}
 {% endif %}
 {{ module.style.section_spacing.desktop_spacing.css}}


}

{% if module.text_alignment %}
.blog-main-title {
    {% if module.style.text_alignment.horizontal_align != "CENTER" %}
    padding: 0 30px;
    {% endif %}
    text-align: {{ module.text_alignment }};
    }
{% endif %}

.blog-main-title h2{
    {% if module.style.title_font.color %}
    color: {{ module.style.title_font.color }}; 
    {% endif %}
    {% if module.style.title_font.size %}
    font-size:{{ module.style.title_font.size }}{{module.style.title_font.size_unit }};
    {% endif %}
}

.blog-main-title div {
    {% if module.style.content_font.color %}
    color: {{ module.style.content_font.color }}; 
    {% endif %}
    {% if module.style.content_font.size  %}
    font-size: {{ module.style.content_font.size }}{{module.style.content_font.size_unit }};
    {% endif %}
    margin: 0; 
{% if module.style.text_alignment.horizontal_align == "CENTER" %}
    width: 70%;
    margin: auto;
{% else %}
    width: 100%;
    margin: 0;
{% endif %}
    
}

@media (max-width:768px){
    .blog-list-slider-section{
        {{ module.style.section_spacing.desktop_spacing.css}}

    }
    .blog-main-title div{
        padding-bottom: 10px;
    }
}

  {% end_scope_css %}
</style>
{% end_require_css %}