.blog-main-title div {
    width: 70%;
    line-height: 1.5;
    margin: auto;
}

.blog-main-title{
padding-bottom:30px;
}

.blog_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 0 30px;
}

.blog_list .blog-content-container {
    margin-right: 0;
    position: relative;
}

.blog-main-title h2 {
    padding-bottom: 18px;
}

.blog_list-button {
    text-align: center;
    padding-top: 40px;

}
.blog-section .slick-list.draggable{padding-bottom:10px;}

@media(max-width:999px) {
    .blog_list {
        grid-template-columns: repeat(2, 1fr);
    }
    .blog-main-title div{
        font-size: 18px !important;
        width: 90% !important;

    }
  #blog-list{padding-top:50px!important;padding-bottom:60px!important;}
}

@media (max-width :700px) {
    .blog_list {
        grid-template-columns: 1fr;
        padding: 0 25px;
    }

    .blog-image {
        max-height: 100%;
    }
    .blog_list .blog-content-container {
        margin-right:35px ;
    }
}

@media (max-width: 600px) {
    .blog-main-title div {
        width: 100% !important;

    }

    .blog-main-title div {
        font-size: 20px;
        padding: 0;
        padding-left: 0;
    }
    .blog-main-title {
        padding: 0 5px 20px!important;
    }
}

@media only screen and (max-width: 575px) {
    .blog-main-title {
        padding-bottom: 26px;
    }
    .blog_list {
        padding: 0 10px;
    }
}