.event-address-wrapper svg {
  width: 20px;
  height: 20px;
  fill: #ffff;
}

.event-form-container form .hs-form-booleancheckbox label {
  padding: 0 !important;
}

.event-form-container form .hs_privacy_policy .input ul {
  margin: 0;
}

.event-form-container form .legal-consent-container {
  position: relative;
  top: -10px;
}

.event-dis {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 30px;
}

.event-form-container form .hs-form-field {
  margin-bottom: 0 !important;
}

.event-form-container form {
  display: flex;
  flex-direction: column;
  gap: 25px
}

.event-form-container form .hs-error-msg {
  color: #ef6b51 !important;
  margin: 0 !important;
  font-size: 10px;
}


.event-address-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.event-form-container form .hs-form-field {
  position: relative;
}

.event-form-container form label {
  margin: 0 !important;
}

.event-form-container form .hs-error-msgs {
  position: absolute;
}

.secondary-div {
  display: grid;
  grid-template-columns: 60% 35%;
  justify-content: space-between;
  align-items: baseline;
}

.counter-form-container {
  display: flex;
  flex-direction: column;
}

.event-form-container h2 {
  line-height: 1.5;
  letter-spacing: 1px;
  padding-bottom: 18px;
}

.event-form-container {
  padding: 30px;
  border-radius: 10px;
}

.event-form-container form .input input,
.event-form-container form .input textarea {
  border: none;
  outline: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
  padding: 0;
}

.event-form-container form .action .hs-button {
  padding: 10px 25px;
}

.event-rich-text-container h2 {
  padding-bottom: 20px;
}

.event-rich-text-wrapper ul li {
  padding-bottom: 8px;
}

.event-rich-text-wrapper p {
  padding-bottom: 10px;
}

.event-rich-text-wrapper h1,
.event-rich-text-wrapper h2,
.event-rich-text-wrapper h3,
.event-rich-text-wrapper h5,
.event-rich-text-wrapper h4,
.event-rich-text-wrapper h6 {
  padding-bottom: 10px;
}

.menu {
  display: none;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* New CSS */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}


.eventban-bg .secondary-div {
  position: relative;
  z-index: 2;
  padding-top: 180px;
  margin-bottom: 20px;
}

.waves {
  z-index: 1;
}

.event-form-container {
  position: relative;
  z-index: 2;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  margin-top: -4px;
}



.event-time,
.event-address {
  box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.25);
}

.event-form-wrapper form .hs-button,
.event-form-wrapper form input[type=submit] {
  letter-spacing: 1.5px;
  font-weight: 400;
}


.event-time {
  border-top-right-radius: 2px;

}

.event-icon-loc {
  display: none;
}

.event-address {
  border-top-left-radius: 2px;
}

.event_drop-drown {
  width: 100%;
  background: #000;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 25px 0 0;
}


/* .event_drop-drown--title {
  padding: 25px 25px 15px;
  color: #fff;
} */


.event_drop-drown--list {
  position: relative;
  margin: 0 20px 20px;
  margin: 0 20px 0px;
  padding-bottom: 20px;
}

.eventban-bg {
  width: 100%;
  background-blend-mode: color;
  position: relative;
  background-position: center !important;
  background-size: cover !important;
}

.image-container {
  position: absolute;
  width: 100%;
  top: 0px;
}

.image-wrapper {
  position: relative;
  height: 566px;

}

.waves {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 100%;
}

.event-form-container {
  background-color: #fff;
}

.eventban-bg .banner-heading {
  line-height: 1.4;
  width: 100%;
  word-break: break-word;
}

.eventban-bg .banner-heading span {
  word-break: break-all;
  display: block;

}

.event-wheninfo {
  display: grid;
  grid-template-columns: 35% 65%;

}

.event-time {
  position: relative;
  width: 100%;
  padding: 18px 20px;
}


.event-time>ul {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin: 0;
  padding: 0;
}

p#selectedDateTime {
  padding-top: 7px;
}

.border-bottom,
.border-top {
  display: none;
}

.event-address p {
  font-weight: 500;
  margin-top: 0;

}

.event-address p:nth-child(2) {
  margin-bottom: 0;
}

.event-address .btn_wrapper {
  text-align: center;
  margin-top: 20px;
}

.event-address p i {
  font-size: 20px;
  margin-right: 15px;
}

.event-address p .fa-location-arrow {
  font-size: 26px;
  margin-right: 15px;
}

.counter-address {
  left: 0;
  right: 0;
  bottom: 10px;
}


.counter-container {
  width: 100%;
  margin: auto;
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px #fff solid;
  padding: 16px 25px;
  cursor: pointer;
}

.active:hover {
  background-color: #F1F1F1;
}


.caret svg {
  width: 25px;
  height: 100%;
  transition: 0.3s;
}

.event-menu {
  list-style: none;
  background: #fff;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  box-shadow: 0 0 0.8em #b6b8bd7a;
  display: none;
  animation: fade-in 0.5s;
  transform-origin: top;




}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

.activedrop {
  display: block;
  animation: fade-in 0.5s;


}

.rotate-arrow-down svg {
  transform: rotate(180deg);
}

li.active {
  padding: 20px 25px;
  cursor: pointer;
}


.event-time>ul>li {
  width: 100%;

}

.event-time>ul>li:last-child:after {
  display: none;
}


.event-time>ul>li:after {
  content: "";
  background: #000;
  position: absolute;
  width: 2px;
  height: 70%;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

@media only screen and (max-width: 1200px) {

  /* .eventban-bg .banner-heading {
    width: 46%;
  } */

  .event-dis {
    padding: 0 10px;
  }

}

@media (min-width: 992px) {
  .counter-address .container {
    max-width: 1120px;
  }
}

@media (max-width:999px) {
  .secondary-div {
    justify-content: inherit;
    grid-template-columns: 1fr;
    gap: 30px;
  }


  .event-form-container {
    margin-bottom: 25px;
  }

  .counter-form-container {
    gap: 50px;
  }

  .waves {
    display: none;
  }

  .event-menu {
    z-index: 999;
  }

  .event-time {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 30px 20px;
  }

  .event-address {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 30px 30px;
    background-color: var(--light-black);
  }

  .event-wheninfo::before {
    display: none;
  }

  .counter-address {
    bottom: 0;
  }

  .eventban-bg .banner-heading {
    width: 100%;
  }

  .event-time>ul>li>span {
    font-size: 40px;
    line-height: 52px;
  }

  .event-time>ul>li {
    font-size: 18px;
  }

  .event-address {
    flex: auto;
    max-width: 100%;
  }

}


@media only screen and (max-width: 769px) {
  .eventban-bg .banner-heading {
    font-size: 68px;
  }

  /* .eventban-bg .secondary-div {
    padding-top: 92px;
  } */

  .event-time>ul>li:nth-child(even)::after {
    display: none;
  }

  .event-time>ul {
    grid-template-columns: repeat(2, 50%);
    position: relative;
  }

  .eventban-bg {
    padding-top: 0px;
  }

  .counter-form-container {
    gap: 30px;
  }

  .event-time>ul>li>span {
    font-size: 30px;
    line-height: 40px;
  }

  .event-time>ul>li {
    font-size: 16px;
  }

  .eventban-bg {
    margin-bottom: 0;
  }

  .event-dis {
    padding: 0 30px;
  }
}



@media only screen and (max-width: 575px) {
  .eventban-bg .banner-heading {
    font-size: 48px !important;
    padding-left: 10px;
  }

  .counter-address .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .select {
    padding: 16px;
  }

  .counter-form-container {
    gap: 30px;
  }


  .event-time>ul>li {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    margin-bottom: 30px;
    font-size: 14px;
  }

  .event-time>ul>li::after {
    right: 0;
  }

  .event-time>ul>li:nth-child(2)::after {
    display: none;
  }

  .event-time {
    padding-bottom: 15px;
  }

  .event-time>ul>li>span {
    font-size: 22px;
    line-height: 34px;
  }

  .event-address p {
    font-size: 14px;
  }

  .event-wheninfo {
    display: inherit;
  }
}

@media only screen and (max-width: 375px) {
  .eventban-bg .banner-heading {
    font-size: 35px !important;
  }
}

@media (max-width:347px) {

  .event-form-container h2 {
    font-size: 26px;
  }

  .eventban-bg .banner-heading {
    font-size: 26px !important;
  }
}