<section class="eventban-bg section-id" id="{{ module.section_id|replace(' ', '_')|lower }}">
  <div class="image-container">
    <div class="image-wrapper">
      <img src="{{ module.style.background.bg_img.bg_banner_image.src }}" alt="{{ module.style.background.bg_img.bg_banner_image.alt }}">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220">
        <path
        fill="{% if module.style.background.bottom_shape_color.color %}rgba({{ module.style.background.bottom_shape_color.color | convert_rgb }},{{  module.style.background.bottom_shape_color.opacity  / 100 }}) {% else %} #FFFFFF {% endif %}"
        fill-opacity="1"
        d="M0,160L120,170.7C240,181,480,203,720,181.3C960,160,1200,96,1320,64L1440,32L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
      </path>
    </svg>
  </div>
    {% if module.need_overlay_ %}
    <div class="overlay"></div>
    {% endif %}
  </div>
  <div class="content-wrapper">
    <div class="event_bg-wrapper">
      <div class="container">
        <div class="secondary-div">
          <div class="counter-form-container">
            {% if module.title  %}
            <div class="banner-heading">{{ module.title }}</div>
            {% endif %}
            <!-- counter -->
            {% if module.display_counter %}
            <div class="counter-container row">
              <div class="offset-xl-2  col-xl-10 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="event-wheninfo">
                  <div class="event-address">
                    <div class="event-address-wrapper">
                      <div class="event_location event-dis" id="locationContainer">
                        <span class="event-icon-loc">
                          {% icon
                      name="{{ module.location_icon.name }}"
                      style="{{ module.location_icon.type }}"
                      unicode="{{ module.location_icon.unicode }}"
                      icon_set="{{ module.location_icon.icon_set }}"
                      %}
                        </span>

                        <p id="selectedLocation">
                        </p>
                      </div>
                      <!-- <div class="event_blank">
                        <span>
                         <img src="https://23962694.fs1.hubspotusercontent-na1.net/hubfs/23962694/Icons/ph_timer-bold.png" alt="">
                        </span>

                        <p>
                          
                          webinar starts in
                        </p>
                      </div> -->


                      <div class="event_time event-dis">
                        <span class="event-icon-cal">
                          {% icon
                      name="{{ module.calendar_icon.name }}"
                      style="{{ module.calendar_icon.type }}"
                      unicode="{{ module.calendar_icon.unicode }}"
                      icon_set="{{ module.calendar_icon.icon_set }}"
                    %}
                        </span>
                        <p id="selectedDateTime">
                        </p>
                      </div>
                    </div>
                  </div>
                 
                  <div id="countdown" class="event-time"
                    style="background:{% if module.style.timer_box.color.timer_box_background_color.color %}rgba({{ module.style.timer_box.color.timer_box_background_color.color | convert_rgb }},{{ module.style.timer_box.color.timer_box_background_color.opacity / 100 }}) {% else %} #ffe603 {% endif %}">
                    <ul>
                      <li><span id="days"></span>Days</li>
                      <li><span id="hours"></span>Hours</li>
                      <li><span id="minutes"></span>Minutes</li>
                      <li><span id="seconds"></span>Seconds</li>
                    </ul>
                  </div>
                 
                </div>
              </div>
              <div class="event_container_drop--down">
                <div class="event_drop-drown">
                  <div class="event_drop-drown--list">
                    <div class="select">
                      <span class="selected" id="selectedItem"></span>
                      <div class="caret">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                          <rect width="40" height="40" rx="20" fill="#F84E5D"/>
                          <path d="M28.1666 15.3334C27.4999 14.6667 26.4999 14.6667 25.8333 15.3334L19.9999 21.1667L14.1666 15.3334C13.4999 14.6667 12.4999 14.6667 11.8333 15.3334C11.1666 16 11.1666 17 11.8333 17.6667L18.8333 24.6667C19.1666 25 19.4999 25.1667 19.9999 25.1667C20.4999 25.1667 20.8333 25 21.1666 24.6667L28.1666 17.6667C28.8333 17 28.8333 16 28.1666 15.3334Z" fill="white"/>
                        </svg>
                      </div>
                    </div>
                    <ul class="event-menu">
                      {% for item in module.Events %}
                      <li class="active"
                         data-original-time="{{ item.datetime_field|datetimeformat('%Y-%m-%dT%H:%M:%S') }}"
                        data-original-endtime ="{{item.event_end_date |datetimeformat('%Y-%m-%dT%H:%M:%S') }}"
                        data-original-location ="{{ item.address }}"
                        data-original-webinar-id ="{{ item.webinar_id }}"
                        data-original-event-title ="{{ item.event_title }}"  
                        >
                      </li>
                      {% endfor %}

                    </ul>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            <div class="event-rich-text-container">
              <h2>
                {{ module.rich_text.title }}
              </h2>
              <div class="event-rich-text-wrapper">
                {{ module.rich_text.rich_text }}
              </div>

            </div>

          </div>
          <div class="event-form-container">
            <h2>
              {{ module.form_title }}
            </h2>
            <div class="event-form-wrapper">
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
              {% if  module.choice_field == "add_to_calender" %}
              <script>
                hbspt.forms.create({
                  region: "na1",
                  portalId: "23962694",
                  formId: "{{ module.form_field.form_id }}",
                  onFormSubmit: function ($form) {
                    var eventTitle = $form.find('input[name="event_title"]').val();
                    var eventDate = $form.find('input[name="event_date"]').val();
                    var eventTime = $form.find('input[name="event_time"]').val();
                    var eventEndDate = $form.find('input[name="event_end_date"]').val();
                    var eventEndTime = $form.find('input[name="event_end_time"]').val();
                    var EventLiveStromLink = $form.find('input[name="event_livestrom_link"]').val();

                    // Check if any of the required fields are empty
                        if (!eventDate || !eventTime || !eventEndDate || !eventEndTime) {
                            alert("Please Choose Your Preferred Slot");
                            window.location.reload();
                            return true; 
                        }

                    var redirectUrl = "{{ module.redirect_link.url.href }}?" +
                      "eventTitle=" + encodeURIComponent(eventTitle) +
                      "&eventDate=" + encodeURIComponent(eventDate) +
                      "&eventTime=" + encodeURIComponent(eventTime)+
                      "&eventEndDate=" + encodeURIComponent(eventEndDate)+
                      "&eventEndTime=" + encodeURIComponent(eventEndTime)+
                      "&eventLink=" + encodeURIComponent(EventLiveStromLink);

                    setTimeout(function () {
                      window.location = redirectUrl;
                    }, 250);
                  }

                  });
              </script>
              {% endif %}
              {% if  module.choice_field == "thankyou_page" %}
              {% form
                form_to_use="{{ module.form_field.form_id }}"
                response_response_type="{{ module.form_field.response_type }}"
                response_message="{{ module.form_field.message }}"
                response_redirect_id="{{ module.form_field.redirect_id }}"
                response_redirect_url="{{module.form_field.redirect_url}}"
                gotowebinar_webinar_key="{{ module.form_field.gotowebinar_webinar_key }}"
              %}
              {% endif %}
            </div>
          </div>
        </div>
        </div>
      </div>

  </div>


</section>



{% if module.display_counter %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script type="text/javascript" src="https://momentjs.com/downloads/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>


<script>
document.addEventListener("DOMContentLoaded", function () {
  // selecting DOM element
  const eventTimes = document.querySelectorAll(".active");
  const menuItems = document.querySelectorAll(".event-menu li");
  const selectedDateTimeElement = document.getElementById("selectedDateTime");
  const selectedItem = document.getElementById("selectedItem");
  const dropdown = document.querySelector(".caret");
  const menu = document.querySelector(".event-menu");
  const selectedLocation = document.getElementById("selectedLocation");
  const selectedLocationDiv=document.getElementById("locationContainer");
  const selectDiv=document.querySelector(".event_drop-drown--list");
  // const eventIcon=document.querySelector(".event-icon-cal");
  const eventIconLoc=document.querySelector(".event-icon-loc");
  let webinarIdInput;
  let userTimeZone;

  // Event listener for body click to close dropdown
  document.body.addEventListener("click", function () {
    menu.classList.remove("activedrop");
    dropdown.classList.remove("rotate-arrow-down"); 

  })

  // Setting up moment.js configurations
  moment.suppressDeprecationWarnings = true;
  moment.defaultFormat = 'YYYY-MM-DDTHH:mm:ss[Z]';

  // Delayed execution to ensure elements are loaded
  setTimeout(function () {
    // Assigning input elements to variables
    webinarIdInput = document.querySelector('input[name="livestorm_session_id"]');
    EventTitle = document.querySelector(`input[name="event_title"]`);
    EventDate = document.querySelector(`input[name="event_date"]`);
    EventTime = document.querySelector(`input[name="event_time"]`);
    EventEndTime = document.querySelector(`input[name="event_end_time"]`);
    EventEndDate = document.querySelector(`input[name="event_end_date"]`);
    EventFormatedDate = document.querySelector(`input[name="event_formated_datetime"]`);
    EventLiveLink = document.querySelector('input[name="event_livestrom_link"]');
    thankPageRedirectUrl = document.querySelector(`input[name="thank_you_page_redirect_link"]`);
    timeZone = document.querySelector(`input[name="event_time_zone"]`);

    // Initialize with default webinar information
    useWebinarIdInput(webinarIdInput,EventTitle,EventTime,EventDate,EventEndDate,EventEndTime,EventFormatedDate,EventLiveLink,timeZone,menuItems[0]);
  }, 1000);

  let countDownDate;
  
  // Function to set the initial time zone based on the location of the selected menu item
  function setInitialTimeZone() {
    const selectedLocation = menuItems[0].getAttribute("data-original-location");
    userTimeZone = moment.tz.guess();
    selectedLocation.textContent = selectedLocation;
    
    // Updating event times with user time zone
    for (const eventTime of eventTimes) {
      updateEventTime(eventTime, userTimeZone);
    }
  }
  // Calling the initial time zone function
  setInitialTimeZone();

  // Function to handle webinar information based on selected menu item
  function useWebinarIdInput(webinarIdInput,EventTitle,EventTime,EventDate,EventEndDate,EventEndTime,EventFormatedDate,EventLiveLink,timeZone, item) {

  if (item) {
  // Extracting webinar details from the selected menu item attributes
  const webinarID = item?.getAttribute("data-original-webinar-id");
  const webinarTitle = item?.getAttribute("data-original-event-title");
  const webinarTimeDate = item?.getAttribute("data-original-time");
  const webinarEndTimeDate = item?.getAttribute("data-original-endtime");

    // Determine user's time zone
  const selectedTimeZone = moment.tz.guess(); // time zone
  const convertedWebinarTime = moment.tz(webinarTimeDate, "Asia/Kolkata").tz(selectedTimeZone);
  const convertedWebinarEndTime = moment.tz(webinarEndTimeDate, "Asia/Kolkata").tz(selectedTimeZone);
  const formattedWebinarTime = convertedWebinarTime.format('YYYY-MM-DDTHH:mm:ss');
  const formattedWebinarEndTime = convertedWebinarEndTime.format('YYYY-MM-DDTHH:mm:ss');
  const selectedTimeZoneAbbr = convertedWebinarTime.zoneAbbr();

// Extracting date and time information
  const startDate = formattedWebinarTime.split('T')[0].replace(/-/g, "").replace(/\s/g, "") ;
  const startTime = formattedWebinarTime.split('T')[1].replace(/:/g, "");
  const endDate =  formattedWebinarEndTime.split('T')[0].replace(/-/g, "").replace(/\s/g, "") ;
  const endTime = formattedWebinarEndTime.split('T')[1].replace(/:/g, "");

  var date = new Date(formattedWebinarTime);
    // Defined months array
    var months = [
        "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"
    ];

    // Format the date
    var day = date.getDate();
    var month = months[date.getMonth()];
    var year = date.getFullYear();

    // Function to add ordinal suffix to day
    function getOrdinalSuffix(day) {
        if (day >= 11 && day <= 13) {
            return "th";
        }
        switch (day % 10) {
            case 1: return "st";
            case 2: return "nd";
            case 3: return "rd";
            default: return "th";
        }
    }

    // Add ordinal suffix to day
    var suffix = getOrdinalSuffix(day);

    // Formatted date string
    var formattedDate = day + suffix + " " + month + " " + year;

    // generating thank you page redirect url
    var redirectUrl = "{{ module.redirect_link.url.href }}?" +
                      "eventTitle=" + encodeURIComponent(webinarTitle) +
                      "&eventDate=" + encodeURIComponent(startDate) +
                      "&eventTime=" + encodeURIComponent(startTime)+
                      "&eventEndDate=" + encodeURIComponent(endDate)+
                      "&eventEndTime=" + encodeURIComponent(endTime)+
                      "&eventLink=" + encodeURIComponent(livestormLink);

    // assigning the value to the form fields
      var livestormLink = "{{contact.livestorm_connection_link}}";
      webinarIdInput.value = webinarID || "No Webinar ID Found";
      EventTitle.value = webinarTitle || "No Title Found";
      EventTime.value = formattedWebinarTime.split('T')[1];
      EventDate.value = formattedWebinarTime.split('T')[0]; // Extract date
      EventEndTime.value = formattedWebinarEndTime.split('T')[1]; // Extract time
      EventEndDate.value = formattedWebinarEndTime.split('T')[0]; // Extract end date
      EventFormatedDate.value = formattedDate;
      EventLiveLink.value = livestormLink;
      timeZone.value=selectedTimeZoneAbbr;
      setTimeout(() => {
        thankPageRedirectUrl.value=redirectUrl;
      }, 300);
    }
    }

    // Function to handle click on "Choose your preferred slot" drop down option
    const chooseOption = document.createElement("li");
    chooseOption.textContent = "Choose your preferred slot:";
    chooseOption.classList.add("active");

  selectDiv.addEventListener("click",function(){
    event.stopPropagation(); 

    menu.classList.toggle("activedrop");
    const hasClass = dropdown.classList.contains('rotate-arrow-down');
    if (hasClass) {
      dropdown.classList.remove('rotate-arrow-down');
    } else {
      dropdown.classList.add('rotate-arrow-down');
    }

})

  // Dropdown toggle
  dropdown.addEventListener("click", function () {

    event.stopPropagation(); 
    menu.classList.toggle("activedrop");
    $(this).toggleClass("rotate-arrow-down");

  });


  // Function to update event time
  function updateEventTime(eventTime, timeZone) {
    const originalTime = moment.tz(eventTime.getAttribute("data-original-time"), "Asia/Kolkata");
    const originalMoment = moment(originalTime);
    const formattedDate = originalMoment.clone().tz(timeZone).format("dddd, MMMM D, YYYY - h:mm A z");
    eventTime.textContent = formattedDate;

  }

  // Counter updates
  let selectedDate;
  let formattedDate;
  let location;
  function updateSelectedDate(item) {    
    selectedItem.textContent = item.textContent;
    if (item.textContent  !== "Choose your preferred slot:") {
      selectedDate = item.getAttribute("data-original-time");
      formattedDate = moment(selectedDate).format('MMMM D, YYYY');
      location = item.getAttribute("data-original-location");
      selectedDateTimeElement.textContent = formattedDate;
      selectedLocation.textContent = location;

    }else if (item.textContent === "Choose your preferred slot:"){
       const secondMenuItem = menuItems[1]; // Assuming menuItems[1] corresponds to the second menu item
       selectedDate = secondMenuItem.getAttribute("data-original-time");
       formattedDate = moment(selectedDate).format('MMMM D, YYYY');
        location = secondMenuItem.getAttribute("data-original-location");
        selectedDateTimeElement.textContent = formattedDate;
        selectedLocation.textContent = location;

    }

  if (selectedLocation.textContent.length > 0) {  
    selectedLocationDiv.style.display="flex"
    
} else {
  selectedLocationDiv.style.display="none"

}
countDownDate = new Date(selectedDate).getTime();

}
    // Update selected date initially
  updateSelectedDate(chooseOption);
  console.log(chooseOption);

  menuItems.forEach(function (menuItem) {
    menuItem.addEventListener("click", function () {
      event.stopPropagation(); 
      menu.classList.toggle("activedrop");
      dropdown.classList.toggle("rotate-arrow-down"); 

      updateSelectedDate(menuItem);
      useWebinarIdInput(webinarIdInput,EventTitle,EventTime,EventDate,EventEndDate,EventEndTime,EventFormatedDate,EventLiveLink,timeZone,menuItem);
      updateCountdown();
    });
  });

 // Function to update countdown
  function updateCountdown() {
    const second = 1000,
      minute = second * 60,
      hour = minute * 60,
      day = hour * 24;

    const x = setInterval(function () {
      const now = new Date().getTime();
      const distance = countDownDate - now;

      if (Math.floor(distance / day) >= 0 && Math.floor((distance % day) / hour) >= 0 &&
        Math.floor((distance % hour) / minute) >= 0 && Math.floor((distance % minute) / second) >= 0) {
        document.getElementById('days').innerText = Math.floor(distance / day),
        document.getElementById('hours').innerText = Math.floor((distance % day) / hour),
        document.getElementById('minutes').innerText = Math.floor((distance % hour) / minute),
        document.getElementById('seconds').innerText = Math.floor((distance % minute) / second);
      } else {
        document.getElementById('days').innerText = '00',
        document.getElementById('hours').innerText = '00',
        document.getElementById('minutes').innerText = '00',
        document.getElementById('seconds').innerText = '00';
      }
    }, second);
  }

  // Initial call to update countdown
  updateCountdown();

});
</script>
{% endif %}

{% require_css %}
<style>
  {% scope_css %}
  .counter-form-container  {
    {% if module.display_counter %}
    gap:30px;
    {% else %}
    gap:157px;
    {% endif %}

  }

  .selected,
  .event_drop-drown--title{
    color: {{ module.style.drop_down_title_font.color }};
   font-size: {{ module.style.drop_down_title_font.size }}{{module.style.drop_down_title_font.size_unit }};

  }
  .event-menu li{
    color: {{ module.style.event_menu_font.color }}; 
    font-size: {{ module.style.event_menu_font.size }}{{module.style.event_menu_font.size_unit }};
  }
  .event-form-wrapper .submitted-message p{
    color: #000 !important;
   } 
   .event-dis span,
   .event-dis p{
      color:{{ module.style.address_box.color.address_box_text_color.color }} ;
      font-size: {{ module.style.address_box.color.address_box_text_color.size }}{{module.style.address_box.color.address_box_text_color.size_unit }};
   }

   .event-form-wrapper .submitted-message {
    height: 40vh;
   }
   
  .event-form-container h2 {
    color: {{ module.style.form_title_font.color }}; 
    font-size: {{ module.style.form_title_font.size }}{{module.style.form_title_font.size_unit }};
 }
  .eventban-bg {
    {{ module.style.section_spacing.desktop_spacing.css}};

  }
  .event-rich-text-container h2{
    color: {{ module.rich_text.title_font.color }};
    font-size: {{ module.rich_text.title_font.size }}{{module.rich_text.title_font.size_unit }};
    text-align: {{ module.rich_text.title_alignment }};
  }

  .eventban-bg .banner-heading{
    {% if !module.display_counter %}
    height:200px;
    {% endif %}
    font-weight:{{ module.style.title_bold }} ;
    color:{{ module.style.banner_title_font.color }};
    font-size:  {{ module.style.banner_title_font.size }}{{module.style.banner_title_font.size_unit }};
  }
  .event-form-wrapper form label{
    color:{{ module.style.form_label_text_color.color }};  
   padding-bottom:10px;}


  .event-form-container form .input input, .event-form-container form .input textarea{
    {{ module.style.form_input_border_line.css }};
 
  }
  
  .event-time > ul > li > span {
    display: block;
    font-size: 40px;
    font-weight: 500; 
    line-height: 64px;
    color:  {{ module.style.timer_box.color.counter_font.color }};
    font-size:{{ module.style.timer_box.color.counter_font.size }}{{module.style.timer_box.color.counter_font.size_unit }};
  }
  .event-time > ul > li {
    display: inline-block;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    list-style: none;
    position: relative;
    color:  {{ module.style.timer_box.color.counter_font.color }};
  
  }
  span.hs-button.subs_btn {
    color: {% if module.style.address_box.color.address_box_text_color.color %} rgba({{ module.style.address_box.color.address_box_text_color.color | convert_rgb }},{{ module.style.address_box.color.address_box_text_color.opacity / 100 }}){% else %} #fff {% endif %}

  } 
  

  .event-address{
    position: relative;
    min-height: 1px;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    {% if module.style.address_box.color.background_color.color %}
    background-color:rgba({{ module.style.address_box.color.background_color.color | convert_rgb }},{{ module.style.address_box.color.background_color.opacity / 100 }});
    {% else %}
    background-color: var(--light-black);
    {% endif %}
  }
  @media(max-width:1086px){
  {% if !module.display_counter %}
  .counter-form-container  {
    gap:80px;
  }
  .eventban-bg .secondary-div {
    padding-top: 155px;
  }
  .eventban-bg .banner-heading{
    height:300px;
 }

  {% endif %}

  }

  
  @media(max-width:1055px){
  {% if !module.display_counter %}
  .image-wrapper {
    height:540px;
  }
  
  {% endif %}

  }


  @media(max-width:999px) {
    {% if !module.display_counter %}
  .eventban-bg .secondary-div {
    padding-top: 75px;
  }
  .image-wrapper{
    height: 300px;
  }
  .eventban-bg .banner-heading{
    height:200px;
   }

  .counter-form-container  {
    gap:50px;
  }
  
  {% endif %}

}




  @media(max-width:768px){
    .eventban-bg{
      {{ module.style.section_spacing.mobile_spacing.css }}

    }
    .eventban-bg .banner-heading{
      font-size: 45px !important;

    }
    .counter-form-container  {
    {% if module.display_counter %}
    gap:30px;
    {% else %}
    gap:50px;
    {% endif %}

  }
  .eventban-bg .secondary-div {
    {% if module.display_counter %}
    padding-top:75px;
    {% endif %}

  }
}

  @media(max-width:554px){
  .event-rich-text-container {
    padding: 0 20px;
  }
  .eventban-bg .banner-heading{
      font-size: 35px !important;

    }

  }
  @media(max-width:406px){
    {% if !module.display_counter %}
    .eventban-bg .banner-heading{
      font-size: 30px !important;

    }
  .image-wrapper{
    height: 200px;
  }

  .eventban-bg .banner-heading{
    height:auto;
   }
  {% endif %}
  
  }

  
@media(max-width:393px) {
    {% if !module.display_counter %}
    .counter-form-container  {
    gap:30px;
  }

  .eventban-bg .secondary-div {
    padding-top: 25px;
  }
  {% endif %}

}


  {% end_scope_css %}
</style>
{% end_require_css %}
