{% set default_image = get_asset_url("../../images/page_images/interface-min.png") %}
{% if module.show_hide %}
<section id="{{ module.section_id|replace(' ', '_')|lower }}" class="image-text-slider-section section-padding section-id">
  <div class="content-wrapper">
    {% if  module.title %}
    <h2>
      {{ module.title }}
  </h2>
  {% endif %}
  <div class="image-text-slider" >
  {% for item in module.slide %}
  <div class="image-text-slider-inner">
    <div class="image-slider-container ">  
      {% set href = item.link_field.url.href %}
        {% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
        {% endif %}
     {% if href %}
      <a href="{{ href }}"
          {% if item.link_field.open_in_new_tab %}target="_blank"{% endif %}
          {% if item.link_field.rel %}rel="{{ item.link_field.rel }}"{% endif %}
       >
        {% endif %}
          {% if item.image.src %}
          {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
              {% if item.image.size_type == 'auto' %}
                {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}" style="max-width: 100%; height: auto;"' %}
                {% elif item.image.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%; height: auto;"' %}
              {% endif %}
               {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
              <img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
            {% else %}
            <img src="{{ default_image }}" class="defaut" alt="Slide Image" loading="lazy">
        {% endif %}    
      {% if item.heading %}<h5 style="width={{item.image.max_width}}">{{item.heading}}</h5> {% endif %}
     {% if href %} </a>{% endif %}
    </div>
  </div>
  {% endfor %}
</div>
</div>
</section>
{% endif %}


<style>
    {% scope_css %}
      .image-text-slider-section{
        {% if module.style.background.backgrund_type == "color" and  module.style.background.section_background_color.color  %}
          background-color: rgb({{ module.style.background.section_background_color.color | convert_rgb }}, {{ module.style.background.section_background_color.opacity / 100 }});
        {% elif module.style.background.backgrund_type == "gradient" %}
          background: {{ module.style.background.gradient_field.css }};
        {% elif module.style.background.backgrund_type == "image" %}
          {{module.style.background.section_background_image.css }};
        {% endif %}
        {{ module.style.section_spacing.desktop_spacing.css}};

    }
    .image-text-slider-inner {
          margin: 0px {{ module.style.slider_settings.space_between_each_slide }}px;
        }
        
        {% if module.style.custom_color %}	
        .image-text-slider h5{
          color: rgba({{ module.style.heading_color.color|convert_rgb }}, {{module.style.heading_color.opacity/100 }} );
        } 
        
        .image-text-slider p,.image-text-slider li,.image-text-slider span{
          color: rgba({{ module.style.content_color.color|convert_rgb }}, {{module.style.content_color.opacity/100 }} );
        }
        
    {% endif %}
       .image-text-slider .slick-slide img {         
          width: 100%;
          height: 435px;
        }
        .image-text-slider .slick-prev {
          left: -40px;
      }
        .image-text-slider .slick-dots li button {
          background-color: {{ module.style.slide_dot_color.color }};
          border: 0;
          border-radius: 10px;
          display: block;
          height: 0.8rem;
          padding: 0;
          text-indent: -9999px;
          width: 0.8rem;
      } 

      .image-text-slider-section h2{
        text-align: center;
        
      }

      .image-text-slider li.slick-active button {           
        width: 1.5rem;
        position: relative;
        right: 5px;
        background-color: {{ module.style.slider_dot_color_active.color }};
      }
      .image-text-slider .slick-dots {
        bottom: -60px;
      }

      .image-text-slider .slick-prev:before {
        content: "\f104";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 60px;
      }
      .image-text-slider .slick-next:before {
        content: "\f105";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 60px;
      }
        .image-text-slider .slick-next,.banner-slider .slick-prev {  
          height: 60px;
          z-index: 9999;
      }
      .image-text-slider-inner .row-fluid{
        position:relative;
      }
      .image-text-slider{
        padding: 50px 0 0;
      }
      .image-text-slider-inner h5{
            width: 100%;
            text-align: center;
            display: inline-block;
            background: {{ module.style.slide_dot_color.color }};
            padding: 15px;
            margin-bottom: 0;
            font-size: 16px;
      }
  @media(max-width:769px){
    {% if module.slider_settings.arrow %}
      .banner-slider-inner .row-fluid {
          padding: 0px 25px;
      }
      .image-text-slider-section{
        {{ module.style.section_spacing.desktop_spacing.css}};

      }
    .image-text-slider .slick-next {
        right: -8px;
    }
    .image-text-slider .slick-prev {
        left: -8px;
    }
    {% endif %}
   
    
  }

  @media (max-width:600px){
    .image-slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-text-slider-inner h5{
width: 325px;
}
.image-text-slider .slick-slide img {         
          width: fit-content;
        }

  }
    {% end_scope_css %}
</style>

<script>
  
  $( document ).ready(function() {

        $('#hs_cos_wrapper_{{name}} .image-text-slider').slick({
          arrows: {{ module.style.slider_settings.arrow }},
          dots:{{ module.style.slider_settings.dots }},
          autoplay: {{ module.style.slider_settings.autoplay }},
          autoplaySpeed: {{ module.style.slider_settings.autoplay_speed }},
          infinite: true,
          slidesToShow: {{ module.style.slider_settings.slides_to_show }},
          slidesToScroll: {{ module.style.slider_settings.slides_to_scroll }},
          responsive: [
              {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
              
            ]
        });
  });
  
</script>
