<!--
templateType: none
-->
<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>

<head>
  <meta charset="utf-8">
  {% if page_meta.html_title || pageTitle %}<title>{{ page_meta.html_title || pageTitle }}</title>{% endif %}
  {% if site_settings.favicon_src %}
  <link rel="shortcut icon" href="{{brandSettings.primaryFavicon.src}}" />{% endif %}
  <meta name="description" content="{{ page_meta.meta_description }}">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {{ require_css(get_asset_url("../../css/main.css"), { async: true }) }}
  {# This is intended to be used if a template requires template specific style sheets #}
  {% if template_css %}
  {{ require_css(get_asset_url(template_css), { async: true }) }}
  {% endif %}
  {{ require_css(get_asset_url("../../css/additional/bootstrap.css"), { async: true }) }}
  {{ require_css(get_asset_url("../../css/additional/slick.css"), { async: true }) }}
  {{ require_css(get_asset_url("../../css/additional/slick-theme.css"), { async: true }) }}
  {{ require_css(get_asset_url("../../css/theme-overrides.css"), { async: true }) }}

  {{ require_css(get_asset_url("../../css/css-module/menu.css"), { async: true }) }}
  {{ require_js(get_asset_url("../../js/additional/jquery.min.js"), { position: "head" }) }}
  {# To see a full list of what is included via standard_header_includes please reference this article: https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables #}
  {{ standard_header_includes }}
</head>

<body>
  <div class="body-wrapper {{ builtin_body_classes }}">
    {% block header %}
    {% global_partial path="../partials/header.html" %}
    {% endblock header %}

    {# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}

    <main id="main-content" class="body-container-wrapper">
      {% block body %}
      {% module "module_16953657711301" path="../../modules/scroll-top", label="scroll-top" %}
      {% endblock body %}
    </main>

    {% block footer %}
    {% global_partial path="../partials/footer.html" %}
    {% endblock footer %}
  </div>
  {{ require_js(get_asset_url("../../js/additional/slick.js")) }}
  {{ require_js(get_asset_url("../../js/additional/slick-min.js")) }}
  {{ require_js(get_asset_url("../../js/main.js")) }}

<!-- `<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>`
 -->

  <script>
    // Passive event listeners
    jQuery.event.special.touchstart = {
      setup: function (_, ns, handle) {
        this.addEventListener("touchstart", handle, {
          passive: !ns.includes("noPreventDefault")
        });
      }
    };
    jQuery.event.special.touchmove = {
      setup: function (_, ns, handle) {
        this.addEventListener("touchmove", handle, {
          passive: !ns.includes("noPreventDefault")
        });
      }
    };
  </script>


 <!-- Include Luxon via CDN -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.2.0/luxon.min.js"></script>
 <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>


  {# To see a full list of what is included via standard_footer_includes please reference this article: https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables #}
  {{ standard_footer_includes }}
</body>

</html>