<!-- module html  -->
<section class="section-id" id="{{ module.section_id|replace(' ', '_')|lower }}">
    <div class="feature-tab-content testimonial2-section">
        <div class="testimonial-container" style="background-image: url({{ module.background_image.src}});">
            <div class="testimonial-slider content-wrapper">
                {% for item in module.testimonial_cards %}
                <div class="testimonial-wrapper">
                    <div class="testimonial-inner">
                        {% if item.title or item.content %}
                        <div class="testimonial-content-section">
                            <h4>{{item.title}}</h4>
                            <p>{{ item.content }}</p>
                        </div>
                        {% endif %}
                        <div class="testimonial-client-detail">
                            {% if item.client_detail.client_image.src %}
                            <div class="testimonial-image">
                                {% set sizeAttrs = 'width="{{ item.client_detail.client_image.width }}" height="{{ item.client_detail.client_image.height }}"' %}
                                {% if item.client_detail.client_image.size_type == 'auto' %}
                                {% set sizeAttrs = 'width="{{ item.client_detail.client_image.width }}" height="{{ item.client_detail.client_image.height }}" style="max-width: 100%; height: auto;"' %}
                                {% elif item.client_detail.client_image.size_type == 'auto_custom_max' %}
                                {% set sizeAttrs = 'width="{{ item.client_detail.client_image.max_width }}" height="{{ item.client_detail.client_image.max_height }}" style="max-width: 100%; height: auto;"' %}
                                {% endif %}
                                {% set loadingAttr = item.client_detail.client_image.loading != 'disabled' ? 'loading="{{ item.client_detail.client_image.loading }}"' : '' %}
                                <img src="{{ item.client_detail.client_image.src }}"
                                    alt="{{ item.client_detail.client_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>

                            </div>
                            {% endif %}
                            {% if item.client_detail.client_name_ or item.client_detail.designation  %}
                            <div class="testimonial-detail">
                                <h3>{{ item.client_detail.client_name_ }}</h3>
                                <p>{{ item.client_detail.designation }} </p>
                            </div>
                            {% endif %}
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</section>


<style>
    {% scope_css %}
    .testimonial2-section{
        {{ module.style.section_spacing.desktop_spacing.css}};
    }

    @media(max-width:768px){
        .testimonial2-section{
          {{ module.style.section_spacing.mobile_spacing.css }};

        }
      }
   {% end_scope_css %}
 
</style>