{% if module.show_hide %}
<section class="fb_form_container section-padding section-id" id="{{ module.section_id|replace(' ', '_')|lower }}">
  <div class="content-wrapper">
    {% if module.title  %}
    <div class="fb_title">
      <h2>
        {{ module.title }}
      </h2>
    </div>
    {% endif %}
    <div class="fb_form-wrapper">
      {% if module.sub_title  %}
      <div class="fb_sub-title">
      <p>
        {{ module.sub_title }}
      </p>
    </div>
    {% endif %}
    <div class="fb_form--container {{ module.form_field.form_id }}">
      {% form
      form_to_use="{{ module.form_field.form_id }}"
      response_response_type="{{ module.form_field.response_type }}"
      response_message="{{ module.form_field.message }}"
      response_redirect_id="{{ module.form_field.redirect_id }}"
      response_redirect_url="{{module.form_field.redirect_url}}"
      gotowebinar_webinar_key="{{ module.form_field.gotowebinar_webinar_key }}"
      %}
    </div>
  </div>
</div>
</section>
{% endif %}

{% require_css %}
<style>
{% scope_css %}
.fb_form_container {
  {% if module.style.background.backgrund_type == "color" and   module.style.background.section_background_color.color %}
          background-color: rgb({{  module.style.background.section_background_color.color | convert_rgb }}, {{ module.style.background.section_background_color.opacity / 100 }});
        {% elif module.style.background.backgrund_type == "gradient" %}
          background: {{  module.style.background.gradient_field.css }};
        {% elif module.style.background.backgrund_type == "image" %}
          {{ module.style.background.section_background_image.css }};
        {% endif %} 
        {{ module.style.section_spacing.desktop_spacing.css }};
}
  .fb_title h2{
    color: {{ module.title_font.color }}; 
    {% if module.title_font.size %}
    font-size: {{ module.title_font.size }}{{module.title_font.size_unit }};
    {% endif %}
  }
  
 .fb_sub-title p{
   color: {{ module.subtitle_font.color }}; 
   font-size: {{ module.subtitle_font.size }}{{module.subtitle_font.size_unit }};
  }
  
  @media(max-width:768px){
    .fb_form_container{
      {{ module.style.section_spacing.mobile_spacing.css }};

    }
  }
{% end_scope_css %}
</style>
{% end_require_css %}

{% require_js %}
<script>

</script>
{% end_require_js %}

 