.fb_title,
.fb_sub-title {
  text-align: center;
}

.fb_form-wrapper {
  padding: 0 25px;
}

.fb_form--container fieldset {
  max-width: 100% !important;
}

.fb_sub-title p {
  margin: 0;
  padding: 40px 0 40px;
}

.fb_form--container form .form-columns-2 {
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
  /* align-items: center; */
}

.fb_form--container form .hs-fieldtype-intl-phone select.hs-input {
  height: 51px;
  background: #F1F1F1;

}

.fb_form--container form .input .hs-fieldtype-textarea::placeholder,
.fb_form--container form .input input::placeholder,
.fb_form--container form .input select::placeholder,
.fb_form--container form .hs-fieldtype-intl-phone select.hs-input::placeholder {
  color: #999 !important;
  font-weight: 450;
  font-size: 18px;
}



.fb_form--container form .input .hs-fieldtype-textarea {
  width: 100%;
  background: #F1F1F1;
  height: 50px;
  font-size: 18px;

}

.fb_form--container .actions {
  text-align: center;
  margin-top: 20px;

}

.fb_form--container form {
  width: 80%;
  margin: auto;
}

.fb_form--container form .input input {
  background: #F1F1F1;
  font-size: 18px;


}

.fb_form--container form .input select {
  background: #F1F1F1;
  height: 50px;
  font-size: 18px;
}

.fb_form--container form fieldset.form-columns-1 select[name="how_did_you_hear_about_futurebridge_"] {
  width: 99% !important;

}

.fb_form--container form fieldset.form-columns-1 .hs_how_did_you_hear_about_futurebridge_ .input {
  margin-right: 0 !important;
}


.fb_form--container form .hs-button {
  padding: 10px 30px;
}


@media(max-width:999px) {
  .fb_form--container form {
    width: 100%;
  }

}

@media (max-width : 768px) {

  .fb_form--container form .form-columns-2 {
    gap: 30px;
  }
}


@media(max-width:650px) {
  .fb_sub-title p {
    padding: 20px 0;
  }

  .fb_form--container form .form-columns-2 {
    display: inherit;
  }
}

@media (max-width:550px) {
  .fb_form--container form fieldset.form-columns-2 .hs-form-field {
    width: 100% !important;
  }

}


@media(max-width:481px) {
  .fb_form--container form .form-columns-2 .hs-form-field .input {
    margin-right: 0px;
  }

  .fb_form--container form fieldset.form-columns-1 select[name="how_did_you_hear_about_futurebridge_"] {
    width: 95% !important;
  
  }
  

  .fb_form--container form .form-columns-2 .hs-form-field .input {
    margin-right: 0px;
  }

  .fb_form-wrapper {
    padding: 0px;
  }
}

