{{ require_css(get_asset_url("../../css/additional/lightbox.css"), { async: true }) }}
{{ require_js(get_asset_url("../../js/additional/lightbox.js")) }}
{% if module.show_hide %}
<section id="button_popup" class="video_sec section-padding">
  {% if module.choose_video == "video_popup" %}
  <div class=" p-0 container-fluid content-wrapper">
    <div class="left-border"></div>
      <div class="text_area">
        {% if module.text_content %}
        <p>
          {{ module.text_content }}
      </p>
      {% endif %}
      <div class="play-button">
        <a class="button {{ module.style.button_type }} glightbox3 {{ name }}_popup" href=" {% if module.popup_content_type == 'image' %} {{ module.popup_image.src }} {% elif module.popup_content_type == 'video' %} {% if module.video.video_type == 'youtube' %} {{ module.video.youtube_video_link }} {% else %} {{ module.video.local_video }} {% endif %} {% else %} #text_content {% endif %} " >
          {% if module.style.enable_button_icon %}
          {% if module.style.button_icon.icon_type == 'hs_icon' %}
          <span class="icon_parent">
            {% icon
              name="{{ module.style.button_icon.button_icon.name }}"
          style="{{ module.style.button_icon.button_icon.type }}"
          unicode="{{ module.style.button_icon.button_icon.unicode }}"
          icon_set="{{ module.style.button_icon.button_icon.icon_set }}"
          %}
        </span>
        {% else %}
        {% if module.style.button_icon.icon_image.src %}
        {% set loadingAttr = module.style.button_icon.icon_image.loading != 'disabled' ? 'loading="{{ module.style.button_icon.icon_image.loading }}"' : '' %}
        <img class="img-fluid play_image" src="{{ module.style.button_icon.icon_image.src }}" alt="{{ module.style.button_icon.icon_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
        {% endif %}
        {% endif %}
        {% if module.button_text %}
        {{ module.button_text }}
        {% endif %}
      </a>
    </div>
    </div>
    <div class="right-border"></div>
  </div>
  {% endif %}
  {% if module.choose_video == "video_popup" %}
  {% if module.style.show_overlay %}
  <div class="overlay"></div>
  {% endif %}
  {% endif %}


  {% if module.choose_video == "video_container" %}
  {% set youtube_id = module.video.youtube_video_link.split('=')[1].split('&')[0] %}
  <div class="video-container content-wrapper">
    {% if module.video.video_type == 'youtube' %}
    <iframe src="https://www.youtube.com/embed/{{ youtube_id }}" width="100" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    {% else %}
     <video  height="360" controls class="video-tag"
      poster="{{ module.video.thumbnail_image.src|escape_url }}">
      <source
        src="  {{ module.video.local_video }} "
        type="video/mp4">
      Your browser does not support the video tag.
    </video>
    {% endif %}
</div>
  {% endif %}
</section>
{% endif %}



{% require_js %}
<script>
  var lightboxVideo = GLightbox({
    selector: '.{{ name }}_popup'
  });
  lightboxVideo.on('slide_changed', ({ prev, current }) => {
    const { slideIndex, slideNode, slideConfig, player } = current;
    if (player) {
      if (!player.ready) {
        player.on('ready', (event) => {
        });
      }
      player.on('play', (event) => {
        console.log('Started play');
      });
      player.on('volumechange', (event) => {
        console.log('Volume change');
      });
      player.on('ended', (event) => {
        console.log('Video ended');
      });
    }
  });

</script>
{% end_require_js %}

{% require_css %}
<style>
  {% scope_css %}
  .video-tag{
background-color: #000;

  }
  .video_sec{
    height: 450px;
    background-position: top center !important;
    {% if module.style.background.backgrund_type == "color" and   module.style.background.section_background_color.color%}
    background-color: rgb({{ module.style.background.section_background_color.color| convert_rgb }}, {{module.style.background.section_background_color.opacity / 100 }});
    {% elif module.style.background.backgrund_type == "gradient" %}
    background: {{ module.style.background.gradient_field.css }};
    {% elif module.style.background.backgrund_type == "image" %}
    {{ module.style.background.section_background_image.css }};
    {% endif %}
        {{ module.style.section_spacing.desktop_spacing.css }};
  }

  .text_area p {
    color: {{ module.text_font.color }};  
    font-size: {{ module.text_font.size }}{{module.text_font.size_unit }};
    margin: 0;
    text-align: center;
}

.play-button a{
    color:{{ module.style.text_color.color }};
  }
  #button_popup{
    display: flex;    
  }
  .gslide-media{
    background-image: url("{{ module.video.thumbnail_image.src|escape_url }}");

  }

  #button_popup .text_content{
    display:none;
  }
  #button_popup ul li {
    list-style: none;
    position:relative;
    overflow:hidden;
  }
  #button_popup .icon_parent svg, #button_popup .play_image{
    width:{{ module.style.button_size }}px;
    fill:{{ module.style.button_icon.icon_color.color }};
  }
  {% if module.style.transparent_background_color %}
  #button_popup .button {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }
  {% endif %}
  #button_popup .button .icon_parent {
    padding-right: 7px;
  }
  #button_popup .button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  #button_popup .icon_parent svg {
    max-width: 200px;
  }
  {% if module.style.show_only_icon %}
  #button_popup .button {
    background: transparent;
    border: none;
    box-shadow: none;
  }
  {% endif %}
  @media(max-width:769px){
    #button_popup .icon_parent svg{
      max-width:120px;
    }
    .video_sec{
      {{ module.style.section_spacing.mobile_spacing.css }};

    }
  }

  
  {% end_scope_css %}
  @-webkit-keyframes shadow-pulse{
    0% {
      -webkit-box-shadow: 0 0 0 0px rgb(13 36 129 / 7%);
      box-shadow: 0 0 0 0px rgb(13 36 129 / 7%);
    }
    50% {
      -webkit-box-shadow: 0 0 0 35px rgb(13 36 129 / 5%);
      box-shadow: 0 0 0 35px rgb(13 36 129 / 5%);
    }
    70% {
      -webkit-box-shadow: 0 0 0 35px rgb(13 36 129 / 2%);
      box-shadow: 0 0 0 35px rgb(13 36 129 / 2%);
    }
    100% {
      -webkit-box-shadow: 0 0 0 35px rgb(13 36 129 / 1%);
      box-shadow: 0 0 0 35px rgb(13 36 129 / 1%);
    }
  }
  @keyframes shadow-pulse{
    0% {
      -webkit-box-shadow: 0 0 0 0px rgb(13 36 129 / 7%);
      box-shadow: 0 0 0 0px rgb(13 36 129 / 7%);
    }
    50% {
      -webkit-box-shadow: 0 0 0 35px rgb(13 36 129 / 5%);
      box-shadow: 0 0 0 35px rgb(13 36 129 / 5%);
    }
    70% {
      -webkit-box-shadow: 0 0 0 35px rgb(13 36 129 / 2%);
      box-shadow: 0 0 0 35px rgb(13 36 129 / 2%);
    }
    100% {
      -webkit-box-shadow: 0 0 0 35px rgb(13 36 129 / 1%);
      box-shadow: 0 0 0 35px rgb(13 36 129 / 1%);
    }
  }
</style>
{% end_require_css %}