.video_sec {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.p-0.container-fluid {
  align-items: center;
  display: grid;
  position: relative;
  z-index: 1;
  gap: 2%;
  width: 80%;
  grid-template-columns: 20% 40% 38%;
}

.left-border {
  position: relative;
}

.left-border::before {
  background: #fff;
  content: "";
  height: 230px;
  position: absolute;
  top: 0;
  width: 4px;

}

.right-border,
.left-border {
  width: 100%;
  height: 4px;
  background-color: #fff;
}

.icon_parent {
  margin: 0px !important;
  position: relative;
}


.video-container iframe {
  position: absolute;
  top: 46px;
  width: 65%;
  margin: auto;
  left: 0;
  right: 0;
}
.video-container iframe video{
  width: 50%;
}
.video-tag{
  width: 1000px;
}

.text_area {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;

}

@media(max-width:1080px) {

  .p-0.container-fluid {
    grid-template-columns: 20% 50% 30%;

  }
}

@media(max-width:1000px) {

  /* .p-0.container-fluid {
    grid-template-columns: 20% 40% 40%;

  } */

  .text_area p {
    font-size: 30px;
  }
}

@media(max-width:1010px) {
  .video-tag{
    width: 500px;

  }

}

@media(max-width:520px) {
  .video-tag{
    width: 300px;

  }

}
@media(max-width:370px) {
 .video-container{
  margin-top: 45px;
 }

}


@media(max-width:865px) {

  .text_area p {
    font-size: 20px;
  }

  .p-0.container-fluid {
    grid-template-columns: 20% 37% 43%;
  }
}

@media(max-width:400px) {

  #button_popup {
    padding: 0 10px;
  }

  .p-0.container-fluid {
    gap: 0;
  }

}

@media(max-width:790px) {

  .left-border,
  .right-border {
    display: none;
  }

  .p-0.container-fluid {
    grid-template-columns: 1fr;


  }

  .text_area p {
    font-size: 40px;
  }

  .text_area {
    flex-direction: column;
    align-items: baseline;
    gap: 25px;
  }

}

@media(max-width:600px) {
  .video-container iframe {

    width: 90%;
    margin: auto;
  }

}