{% if module.show_hide %}
<div id="{{ module.section_id|replace(' ', '_')|lower }}" class="faq section-padding section-id">
  <div class="content-wrapper">
    {% if module.title %}
     <h2>
       {{ module.title }}
      </h2>
     {% endif %}
     <div class="accordion_container">
       {% for item in module.faq %}
       <div class="accordion-wrapper">
         <h4 class="accordion_head"
           style="{% if item.do_you_want_to_override_module_colors_ %}color:{{ item.Question_Text_color.color }};{% endif %}">
           {{ item.Question }} <span class="plusminus">+</span> </h4>
         <div class="accordion_body" style="display:none;">
           <p {% if item.do_you_want_to_override_module_colors_ %} style="color:{{ item.Answer_Text_color.color }}; "
             {% endif %}>{{ item.answer_text }}</p>
            </div>
       </div>
       {% endfor %}
      </div>
   </div>
  </div>
  {% endif %}


 <script>
   //Faq
   $(document).ready(function () {
     //toggle the component with class accordion_body
     $("#hs_cos_wrapper_{{name}} .faq .accordion_head").click(function () {
       if ($('#hs_cos_wrapper_{{name}} .faq .accordion_body').is(':visible')) {
         $("#hs_cos_wrapper_{{name}} .faq .accordion_body").slideUp(300);
         $("#hs_cos_wrapper_{{name}} .faq .plusminus").text('+');
       }
       if ($(this).next("#hs_cos_wrapper_{{name}} .faq .accordion_body").is(':visible')) {
         $(this).next("#hs_cos_wrapper_{{name}} .faq .accordion_body").slideUp(300);
         $(this).children("#hs_cos_wrapper_{{name}} .faq .plusminus").text('+');
       } else {
         $(this).next("#hs_cos_wrapper_{{name}} .faq .accordion_body").slideDown(300);
         $(this).children("#hs_cos_wrapper_{{name}} .faq .plusminus").text('-');
       }
     });
   });
 </script>

 {% require_css %}
 <style>
 .faq {
      {% if module.style.background.backgrund_type == "color" and   module.style.background.section_background_color.color %}
          background-color: rgb({{  module.style.background.section_background_color.color | convert_rgb }}, {{ module.style.background.section_background_color.opacity / 100 }});
        {% elif module.style.background.backgrund_type == "gradient" %}
          background: {{  module.style.background.gradient_field.css }};
        {% elif module.style.background.backgrund_type == "image" %}
          {{ module.style.background.section_background_image.css }};
        {% endif %} 
        {{ module.style.section_spacing.desktop_spacing.css }};
  }
  

   .faq .accordion_container {
     margin: auto;
     border-radius: 15px;
     padding: 0 25px;
   }

   .faq h2 {
     text-align:{{ module.title_alignment }} ;
      padding: 0 30px 10px;  
 }

   .faq .accordion_head {
     cursor: pointer;
     margin: 0;
     padding: 40px 10px 15px 10px;
     position: relative;
     padding-right: 50px;
     width: 100%;
     display: inline-block;
     font-size: 18px;
   }

   .accordion-wrapper {
     border-bottom: solid 1px #ddd;

   }

   .accordion_body {
     padding: 0px 0;
     padding-top: 10px;
   }

   .faq .accordion_body p {
     padding: 0px 10px 5px 10px;
     margin: 0px;

   }

   .faq .plusminus {
     float: right;
     font-size: 20px;
     position: absolute;
     right: 15px;
     font-weight: 700;

   }

   @media (max-width: 769px) {

     .faq {
      {{ module.style.section_spacing.mobile_spacing.css }};
     }
   }
 </style>
 {% end_require_css %}