.blog-section .slick-arrow,
.blog-list-slider .slick-arrow {
    display: none !important;

}

.author-content {
    padding-bottom: 10px;
}

.blog-content-container {
    background: #FFF;
    box-shadow: 5px 3px 6px 0px rgba(0, 0, 0, 0.16);
    margin-right: 35px;
    margin-bottom: 10px;
    height: auto !important;
}

.blog-title-content {
    margin-bottom: 35px;
}

.blog-button a {
    position: absolute;
    bottom: 20px;
}


.blog-section li.slick-active button,
.blog-list-slider li.slick-active button {
    width: 1.5rem !important;
    position: relative;
    right: 5px;
    background-color: #F84E5D !important;
}

.blog-section .slick-dots,
.blog-list-slider .slick-dots {
    bottom: -50px;
}

.blog-section .slick-dots li button,
.blog-list-slider .slick-dots li button {
    background-color: #7A7A81;
    border: 0;
    border-radius: 10px;
    display: block;
    height: 0.8rem;
    padding: 0;
    text-indent: -9999px;
    width: 0.8rem;
}

.blog-section,
.blog-list-slider {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.blog-content-wrapper {
    padding: 20px 30px 25px;
}

.blog-title-content h5 {
    font-size: 24px;
    padding-bottom: 10px;
    line-height: 1.5;
    font-weight: 700;

}

.blog-dis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: normal;
    line-height: 1.5;
}

.blog-image {
    height: 250px;
}

.blog-image img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
}

.blog-button svg {
    stroke: rgb(75, 75, 85, 1.0);
    display: block;
    transform: translate(30px, -4px);
    transition: .5s ease-in-out;


}



.blog-button a:hover svg {
    transform: translate(60px, -4px);
    transition: .3s ease-in-out;
}


.blog-button {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}





/* logo slide css */

.logo-wrapper img {
    margin: auto;
    width: 150px;
    height: 150px !important;
    object-fit: contain;
}



.logo-section {
    padding-bottom: 20px;
}

.logo-content {
    padding: 18px 20px 20px;
    margin: 0;
}


.logo-container .slick-prev {
    left: 0px;
}

.logo-container .slick-next,
.logo-container .slick-prev {
    top: 50%;
    transform: translateY(-100%);
}

.logo-container .slick-next::before,
.logo-container .slick-prev::before {
    display: inline-block;
}


.logo-container .slick-next {
    right: 25px;
    bottom: 0;
}

.logo-container {
    padding: 0px 30px 0;
}

.testimonial-slider .slick-prev:before,
.testimonial-slider .slick-next:before {
    display: inline-block;
}

.testimonial-slider .slick-prev:before {
    margin-left: -4px;
}

.logo-container .slick-prev:before,
.testimonial-slider .slick-prev:before {
    content: url(https://23962694.fs1.hubspotusercontent-na1.net/hubfs/23962694/left%20arrow.svg);
    opacity: 1;
}

.testimonial-slider .slick-next:before {
    margin-right: -4px;
}

.logo-container .slick-next:before,
.testimonial-slider .slick-next:before {
    content: url(https://23962694.fs1.hubspotusercontent-na1.net/hubfs/23962694/right%20arrow.svg);
    opacity: 1;
}

.testimonial-slider .slick-prev {
    left: 72%;
    z-index: 1;

}

.testimonial-slider .slick-next,
.testimonial-slider .slick-prev {
    display: flex;
    justify-content: center;
    border: 1px solid #4B4B55;
    width: 40px;
    top: inherit;
    bottom: 18%;
    height: 40px;
    border-radius: 50%;
    text-align: center;

}

.testimonial-slider .slick-next {
    right: 20%;

}



/* testimonial slider */


.testimonial-container {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100% !important;
    /* max-height: 500px !important; */
}

.testimonial-client-detail {
    display: flex;
    align-items: center;
    gap: 20px
}

.testimonial-content-section::-webkit-scrollbar {
    width: 2px;
    background: rgba(128, 128, 128, 0.288);
}

.testimonial-image img {
    max-width: 80px !important;
    max-height: 80px !important;
    border-radius: 50%;
    height: 100% !important;
    width: 100% !important;

}

.testimonial-section {
    padding: 0 !important;
    height: 100%;
}

.testimonial-inner {
    display: flex;
    padding: 40px;
    flex-direction: column;
    background: #fff;
    width: 70%;
    margin: 60px auto;
    height: 380px;
    border-radius: 10px;
}

.testimonial-content-section h4 {
    padding-bottom: 18px;
}

.testimonial-content-section {
    width: 100%;
    overflow: auto;
    margin-bottom: 40px;
}


.testimonial-content-section h5 {
    padding-bottom: 18px;

}

.blog-section .slick-track,
.blog-list-slider .slick-track {
    display: flex !important;
}

.testimonial-detail h3 {
    font-size: 24px;
}

.testimonial-detail p {
    font-size: 18px;
}

.testimonial-content-section p {
    padding-right: 20px;
}

.author-content span:last-child {
    margin-left: 5px;
    position: relative;
}

.author-content p {
    font-size: 14px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.author-content span:last-child::before {
    content: "";
    width: 5px;
    height: 5px;
    display: inline-block;
    background: #ccc !important;
    clip-path: circle(45%);
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: -7px;

}

@media (max-width:1250px) {

    .blog-section,
    .blog-list-slider {
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media (max-width : 1023px) {
    .blog-section.feature-tab-content {
        padding: 60px 0 20px;
    }
}

@media (max-width:1000px) {
    .testimonial-inner {
        width: 80%;
    }
}


@media(max-width :1100px) {
    .testimonial-slider .slick-prev {
        left: 70%;

    }

}

@media(max-width :999px) {

    .testimonial-slider .slick-next,
    .testimonial-slider .slick-prev {
        margin-left: -40px;
    }

    .testimonial-slider .slick-prev {
        left: 73%;

    }

    .section-padding {
        padding: 30px 1rem;
    }
}


@media (max-width:767px) {
    .testimonial-slider .slick-next {
        right: 17%;
    }

    .testimonial-detail {
        width: 50%;
    }

    .testimonial-inner {
        height: 400px;
    }
}

@media(max-width:700px) {

    .testimonial-slider .slick-prev,
    .testimonial-slider .slick-next {
        display: none !important;
    }

    .testimonial-detail {
        width: 100%;
    }

    .testimonial-inner {
        height: 100%;
    }

    .testimonial-content-section p {
        padding-right: 0px;
    }

    .blog-content-container {
        margin-left: 25px;
    }
}

@media(max-width:540px) {
    .testimonial-image img {
        height: 80px !important;
        width: 80px !important;
    }

    .blog-image {
        height: 150px;
    }

    .testimonial-detail h3 {
        font-size: 20px;
    }

    .testimonial-detail p {
        font-size: 14px;
        margin: 0;
    }

    .testimonial-content-section h4 {
        padding-bottom: 15px;

    }

    .testimonial-content-section h4 {
        font-size: 22px;

    }

    .testimonial-content-section p {
        font-size: 14px;
        line-height: 1.8;
        margin: 0;
    }

    .testimonial-inner {
        padding: 20px;
        width: 90%;
    }

    .feature-tab-section h5 {
        font-size: 17px;

    }

}

@media (max-width :376px) {
    .blog-title-content h5 {
        font-size: 18px;

    }

    .blog-content-wrapper {
        padding: 20px;
    }

    .testimonial-detail h3 {
        font-size: 16px;
    }

    .testimonial-detail p {
        font-size: 14px;
    }
}

@media (max-width:340px) {
    .feature-tab-section h5 {
        font-size: 16px;

    }
}