.featured-block-container {
    padding: 30px;
    padding: 30px 20px;
    width: 32%;
}

.featured-block-wrapper {
    flex-wrap: wrap;
    display: flex;
    gap: 2%;
    padding: 50px 30px 0;
    row-gap: 25px;
}

.feature-content {
    text-align: center;
    padding: 0 30px;
}



.feature-content p {
    width: 50%;
    margin: auto;
}

.featured-block-content {
    padding-top: 20px;
}

@media (max-width:999px) {
    .featured-block-container {
        width: 45%;
    }

    .featured-block-wrapper {
        padding: 50px 0px 0;
    }

}

@media(max-width:769px) {
    .feature-content p {
        width: 100%;
        margin: inherit;
    }

}

@media (max-width:742px) {
    .featured-block-container {
        width: 60%;
    }
}

@media (max-width:742px) {

    .feature-content {
        padding: 0px;
    }

    .featured-block-container {
        width: 100%;
    }
}