{% set default_image = get_asset_url("../../images/page_images/features-icon.png") %}
{% if module.show_hide %}
<div class="featured-block-section section-padding section-id" id="{{ module.section_id|replace(' ', '_')|lower }}">
  <div class="content-wrapper">
    <div class="feature-content">
      {% if module.title %}
      <h2>
        {{ module.title }}
    </h2>
    {% endif %}
    {% if module.sub_title  %}
    <div>
      {{ module.sub_title }}
    </div>
    {% endif %}
  </div>
  <div class="featured-block-wrapper features-fourbox_block-wrapper">
    {% for item in module.feature_cards %}
    <div class="featured-block-container features-fourbox_container">
      <div class="featured-block">
        <div class="featured-block-top d-flex align-items-center">
          {% if item.heading %}
          <div class="col-9" style="{% if !item.icon_field.name || !item.icon.src %} width: 100% {% endif %}">
            <h5>{{ item.heading }}</h5>
        </div>
        {% endif %}
      </div>
      {% if item.content  %}
      <div class="featured-block-content">
        {{ item.content }}
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
</div>
</div>
{% endif %}


<style>
  {% scope_css %}
  .featured-block-section{
        {% if module.style.background.backgrund_type == "color" and   module.style.background.section_background_color.color %}
          background-color: rgb({{  module.style.background.section_background_color.color | convert_rgb }}, {{ module.style.background.section_background_color.opacity / 100 }});
        {% elif module.style.background.backgrund_type == "gradient" %}
          background: {{ module.style.background.gradient_field.css }};
        {% elif module.style.background.backgrund_type == "image" %}
          {{ module.style.background.section_background_image.css }};
        {% endif %} 
        {{ module.style.section_spacing.desktop_spacing.css}};
  }

  .feature-content div{
    color: {{ module.style.sub_title_font.color }};
    font-size: {{ module.style.sub_title_font.size }}{{module.style.sub_title_font.size_unit }};
  }

  .feature-content h2{
    color: {{ module.style.title_font.color }}; 
    font-size: {{ module.style.title_font.size }}{{module.style.title_font.size_unit }};
  }

  {% if module.sub_title  %}
  .feature-content h2{
     
    padding-bottom: 15px;
}
{% endif %}
  
.features-fourbox_container {
    width: 23.5%;
}
  .featured-block-container {
    background-color: rgba({{ module.style.cards_background_color.color |convert_rgb }} ,{{ module.style.cards_background_color.opacity /100 }});
  }

  .featured-block-wrapper {
    justify-content:{{ module.feature_cards_alignment }} ;
  }
  .feature-content {  
  text-align: {{ module.title_alignment }};
}

.col-9 h5{
    color: {{ module.style.colors.heading_font.color }}; 
    font-size: {{ module.style.colors.heading_font.size }}{{module.style.colors.heading_font.size_unit }};
  }

  {% if module.style.custom_color %}
        .featured-block-content{ 
          color: {{ module.style.colors.card_content_font.color }}; 
          font-size: {{ module.style.colors.card_content_font.size }}{{module.style.colors.card_content_font.size_unit }};
        }
{% endif %}


      
      @media (max-width:998px){
        .features-fourbox_container {
         width: 30%;
        }
        .features-fourbox_block-wrapper{
          row-gap: 17px;
        }

      }

      @media(max-width:768px){
        .featured-block-section{
          {{ module.style.section_spacing.mobile_spacing.css }};

        }
      }

      @media (max-width:646px){
        .features-fourbox_container {
         width: 45%;
        }

      }

      @media (max-width:500px){
        .features-fourbox_container {
         width: 100%;
        }

      }
    

   {% end_scope_css %}
 
</style>