<table cellspacing="10" cellpadding="10" id="calendar-module" align="center"
    style="width: 100%; text-align: center; padding: 20px;margin: auto;background-color:#4B4B55;">
    <tbody>
        <tr>
            <td background="https://23962694.fs1.hubspotusercontent-na1.net/hubfs/23962694/email%20mkt/image%20bg.png"
                style="padding: 0;background-repeat: no-repeat; background-size: cover;">
                <div style="width: 60%;
                margin: auto;
                padding: 20px;">
                    <table>
                        <tbody>
                            <tr>
                                <td colspan="4" style="color:#fff;">
                                    <h3 style="text-align: center;font-size:15px;line-height: 1.7;">
                                        {{ module.title }}</h3>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="direction:ltr;font-size:0px;border-collapse:collapse;"
                                    align="center">
                                    <div style="display: inline-block;padding:10px 0;">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                            style="vertical-align:top;border-collapse:collapse" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td align="center"
                                                        style="font-size:0px;word-break:break-word;min-width:90px;border-collapse:collapse;padding:5px">

                                                        <table border="0" cellpadding="0" cellspacing="0"
                                                            role="presentation"
                                                            style="border-collapse:separate;width:100%;line-height:100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center" bgcolor="#0078D4"
                                                                        role="presentation"
                                                                        style="border-radius:3px;border-collapse:collapse;border:none;color: #fff;"
                                                                        valign="middle">
                                                                        <a style="display:inline-block;background: #F84E5D;font-weight: 600; padding: 10px;width: 100%;color:#fff;font-size:12px;line-height:120%;text-decoration:none;text-transform:none;border-radius:3px;margin:0;"
                                                                            target="_blank"
                                                                            href="{{ contact.thank_you_page_redirect_link }}">{{ module.button_text }}</a>

                                                                    </td>
                                                                </tr>
                                                            </tbody>

                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <p style="color: #fff;
                                    opacity: 80%;
                text-align: center;
                font-size: 12px;
                line-height: 20px;margin: auto;">
                                        {{ module.description }}
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>