<!-- module html  -->
<table id="calendar-module" style="width: auto;margin:20px; padding: 20px;">
    <tr>
        <td colspan="4">
            <a style="padding: 10px;
            background: transparent;
            width: fit-content;
            color: #F84E5D;
            text-decoration: none;
            border-radius: 3px;
            border: 1px solid #F84E5D;"
                href="{% if contact.livestorm_connection_link %}{{ contact.livestorm_connection_link }}{% else %}https://app.livestorm.co/futurebridge/unveiling-the-future-of-food-4-exclusive-scenarios-for-food-and-nutrition-leaders/live?s=cf61a081-3079-450f-b82f-83098909e3d5#/{% endif %}">
                Click here to join the webinar</a>
        </td>

    </tr>
</table>