

<div class="video-block">
  <div class="container-fluid p-0">
    {% if module.video_type == 'local' %}
    <video width="1920" height="1000" poster="{{ module.video_poster.src }}" controls>
      <source src="{{ module.video }}" type="video/mp4">
      <source src="{{ module.video }}" type="video/ogg">
      Your browser does not support the video tag.
    </video>
    {% else %}
    <div class="hs-responsive-embed-youtube {{ name }}video">
      <iframe src="{{ module.youtube_link }}?controls=0" frameborder="0" allowfullscreen=""></iframe>
    </div>
    {% endif %}
  </div>
</div>


<style>
  {% scope_css %}
  .video-block{
    position:relative;
    z-index:1;
  }
   .{{ name }}video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  }
  .{{ name }}video iframe {
    position: absolute;
    width: 100%!important;
    height: 100%!important;
  }
  .video-block video{
    width: 100%!important;
    height: auto!important;
  }
  {% end_scope_css %}
</style>


