<!--
  templateType: section
  label: Client Logo
  isAvailableForNewContent: true
  screenshotPath: ../images/section-previews/client-logo-section.png
  description: "This is section with heading, sub heading and client logos."
-->
{% dnd_section
  background_color={{ context.background_color or "#FAF9FF" }},
  vertical_alignment="MIDDLE"
%}
  {% dnd_column  
       width='12',
       offset='0'   
  %} 
  {% dnd_row %} 
     {% dnd_column  
       width='5',
       offset='0'   
      %} 
       {% dnd_row %} 
          {% dnd_module
              path="@hubspot/rich_text",
              html={{ context.content or '<h2>Recommended by</h2>' }}
            %}
          {% end_dnd_module %}
       {% end_dnd_row %} 
    {% end_dnd_column %}
    {% dnd_column  
      width='7',
      offset='5'   
     %} 
           {% dnd_row %} 
              {% dnd_module
                  path="@hubspot/rich_text",
                  html={{ context.content or '<p>Lorem ipsum dolor sit a, consectetur adipiscing elit. Praesent non elit eu ante commodo luctus. Sed tristique leo sit amet.</p>' }}
                %}
              {% end_dnd_module %}
         {% end_dnd_row %} 
      {% end_dnd_column %}
    
  {% end_dnd_row %} 
 {% dnd_row padding={
              "default" : {
                "top" : "40px"
              }
            }
    %}
     {% dnd_module
          path="../modules/client-logos",
              offset=0,
              width=12,
        %}
    {% end_dnd_module %}
   {% end_dnd_row %} 
   

  {% end_dnd_column %}
{% end_dnd_section %}
