<!--
  templateType: section
  label: Features
  isAvailableForNewContent: true
  screenshotPath: ../images/section-previews/features.png
  description: "This is featured section with heading, sub heading and 3 column section blocks."
-->
{% dnd_section
  background_color={{ context.background_color or "#FAF9FF" }},
  vertical_alignment="MIDDLE"
%}
  {% dnd_column  
       width='12',
       offset='0'   
  %} 
  {% dnd_row %}
 
    {% dnd_module
        path="@hubspot/rich_text",
        html={{ context.content or '<div style="text-align: center"><h2>Our features</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt<br> ut labore et dolore magna aliqua.</p></div>' }}
      %}
      {% end_dnd_module %}
     {% end_dnd_row %} 

 {% dnd_row %}
    {% dnd_column  
         width='4',
         offset='0',
         padding={
            'default':{
              'top':10,
              'bottom': 10,
              'left': 00,
              'right':00
            }
          }
    %}
      {% dnd_row 
          background_color={{ context.background_color or "#fff" }},
          padding={
            'default':{
              'top':30,
              'bottom': 30,
              'left': 30,
              'right':30
            }
          }
      %}
          {% dnd_module path="../modules/features-block", label="Features Block" %}
                 {% module_attribute "heading" %}
                     Feature 1               
                 {% end_module_attribute %}
          {% end_dnd_module %}
      {% end_dnd_row %}
  {% end_dnd_column %}

  {% dnd_column  
         width='4',
         offset='4',
         padding={
            'default':{
              'top':10,
              'bottom': 10,
              'left': 00,
              'right':00
            }
          }
    %}
      {% dnd_row 
          background_color={{ context.background_color or "#fff" }},
          padding={
            'default':{
              'top':30,
              'bottom': 30,
              'left': 30,
              'right':30
            }
          }
      %}
        {% dnd_module path="../modules/features-block", label="Features Block" %} 
            {% module_attribute "heading" %}
               Feature 2               
             {% end_module_attribute %}
        {% end_dnd_module  %}
      {% end_dnd_row %}
  {% end_dnd_column %}

  {% dnd_column  
         width='4',
         offset='8',
         padding={
            'default':{
              'top':10,
              'bottom': 10,
              'left': 00,
              'right':00
            }
          }
   %}
      {% dnd_row 
          background_color={{ context.background_color or "#fff" }},
          padding={
            'default':{
              'top':30,
              'bottom': 30,
              'left': 30,
              'right':30
            }
          }
      %}
          {% dnd_module path="../modules/features-block", label="Features Block" %}
            {% module_attribute "heading" %}
               Feature 3               
             {% end_module_attribute %}
          {% end_dnd_module  %}
      {% end_dnd_row %}
  {% end_dnd_column %}

  {% end_dnd_row %}

{% dnd_row %}
    {% dnd_column  
         width='4',
         offset='0',
         padding={
            'default':{
              'top':10,
              'bottom': 10,
              'left': 00,
              'right':00
            }
          }
    %}
      {% dnd_row 
          background_color={{ context.background_color or "#fff" }},
          padding={
            'default':{
              'top':30,
              'bottom': 30,
              'left': 30,
              'right':30
            }
          }
      %}
          {% dnd_module path="../modules/features-block", label="Features Block" %}
            {% module_attribute "heading" %}
               Feature 4               
             {% end_module_attribute %}
          {% end_dnd_module %}
      {% end_dnd_row %}
  {% end_dnd_column %}

  {% dnd_column  
         width='4',
         offset='4',
         padding={
            'default':{
              'top':10,
              'bottom': 10,
              'left': 00,
              'right':00
            }
          }
    %}
      {% dnd_row 
          background_color={{ context.background_color or "#fff" }},
          padding={
            'default':{
              'top':30,
              'bottom': 30,
              'left': 30,
              'right':30
            }
          }
      %}
        {% dnd_module path="../modules/features-block", label="Features Block" %}  
            {% module_attribute "heading" %}
               Feature 5               
             {% end_module_attribute %}
        {% end_dnd_module  %}
      {% end_dnd_row %}
  {% end_dnd_column %}

  {% dnd_column  
         width='4',
         offset='8',
         padding={
            'default':{
              'top':10,
              'bottom': 10,
              'left': 00,
              'right':00
            }
          }
   %}
      {% dnd_row 
          background_color={{ context.background_color or "#fff" }},
          padding={
            'default':{
              'top':30,
              'bottom': 30,
              'left': 30,
              'right':30
            }
          }
      %}
          {% dnd_module path="../modules/features-block", label="Features Block" %}
            {% module_attribute "heading" %}
               Feature 6               
             {% end_module_attribute %}
          {% end_dnd_module  %}
      {% end_dnd_row %}
  {% end_dnd_column %}

  {% end_dnd_row %}


  {% end_dnd_column %}
{% end_dnd_section %}
