<!--
  templateType: section
  label: Meet Our Team
  isAvailableForNewContent: true
  screenshotPath: ../images/section-previews/meet-our-team.png
  description: "This is section with heading, team member image and there name."
-->
{% dnd_section
  background_color={{ context.background_color or "#FAF9FF" }},
  vertical_alignment="MIDDLE"
%}
  {% dnd_column  
       width='12',
       offset='0'   
  %} 
  {% dnd_row %} 
    {% dnd_module
        path="@hubspot/rich_text",
        html={{ context.content or '<div style="text-align: center"><h2>Meet Our Team</h2></div>' }}
      %}
      {% end_dnd_module %}
  {% end_dnd_row %} 

 {% dnd_row 
     
 %}
    {% dnd_column  
         width='12',
         offset='0' ,
         padding={
            "default": {
                "top": 20  
                }  
           }
     %}
        {% dnd_row %} 
        {% dnd_module
            path="../modules/multi-col-Image-slider",    
            offset=0,
            width=12,
            style={             
              "slider_settings":{
                 "slides_to_show" : "3",
                 "space_between_each_slide": "20",
                 
              }         
            },
            slide=[
              {
               "heading" : "Selena Kyle / CEO",
                "image":{
                    "alt": "Team Image",  
                    "loading": "lazy",
                    "src": get_asset_url("../images/page_images/team1.png")
                  }
              },
              {
               "heading" : "James Dunhall / Manager",
               "image":{
                    "alt": "Team Image", 
                    "loading": "lazy",
                    "src": get_asset_url("../images/page_images/team2.png")
                  }
              },
              {
               "heading" : "Alica Medow/ Team lead",
               "image":{
                    "alt": "Team Image",  
                    "loading": "lazy",
                    "src": get_asset_url("../images/page_images/team3.png")
                  }
              },
              {
               "heading" : "Selena Kyle / CEO",
               "image":{
                    "alt": "Team Image", 
                    "loading": "lazy",
                    "src": get_asset_url("../images/page_images/team1.png")
                  }
              }
            ]
          %}
         {% end_dnd_module %}
        {% end_dnd_row %} 
    {% end_dnd_column %}
   {% end_dnd_row %} 
   

  {% end_dnd_column %}
{% end_dnd_section %}
