<!--
  templateType: section
  label: Multi Column Content
  isAvailableForNewContent: true
  screenshotPath: ../images/section-previews/multi-column-content.png
  description: "Full size background color section separated in three columns with with an image and text in each."
-->
{% dnd_section
  background_color={{ context.background_color or "#f8fafc" }},
  vertical_alignment="MIDDLE"
%}
  {% dnd_column
    offset=0,
    width=4
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/linked_image",
        img={
          "alt": context.column_one_image_alt or "Stock placeholder image with grayscale geometrical mountain landscape",
          "loading": context.column_one_image_loading or "lazy",
          "max_height": context.column_one_image_height or 451,
          "max_width": context.column_one_image_width or 605,
          "size_type": "auto_custom_max",
          "src": context.column_one_image or get_asset_url("../images/page_images/interface-min.png")
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/rich_text",
        html={{ context.column_one_content or "<h3>Feature one</h3><p>Use text and images to tell your company’s story. Explain what makes your product or service extraordinary.</p>" }}
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=4,
    width=4
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/linked_image",
        img={
          "alt": context.column_two_image_alt or "Stock placeholder image with grayscale geometrical mountain landscape",
          "loading": context.column_two_image_loading or "lazy",
          "max_height": context.column_two_image_height or 451,
          "max_width": context.column_two_image_width or 605,
          "size_type": "auto_custom_max",
          "src": context.column_two_image or get_asset_url("../images/page_images/interface-min.png")
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/rich_text",
        html={{ context.column_two_content or "<h3>Feature two</h3><p>Use text and images to tell your company’s story. Explain what makes your product or service extraordinary.</p>" }}
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=8,
    width=4
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/linked_image",
        img={
          "alt": context.column_three_image_alt or "Stock placeholder image with grayscale geometrical mountain landscape",
          "loading": context.column_three_image_loading or "lazy",
          "max_height": context.column_three_image_height or 451,
          "max_width": context.column_three_image_width or 605,
          "size_type": "auto_custom_max",
          "src": context.column_three_image or get_asset_url("../images/page_images/interface-min.png")
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/rich_text",
        html={{ context.column_three_content or "<h3>Feature three</h3><p>Use text and images to tell your company’s story. Explain what makes your product or service extraordinary.</p>" }}
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
