<!--
  templateType: section
  label: Multi Row Content
  isAvailableForNewContent: true
  screenshotPath: ../images/section-previews/multi-row-content.png
  description: "Section separated in two columns, left column has text and right column has an image."
-->
{% dnd_section
  vertical_alignment="MIDDLE"
%}
  {% dnd_module
    path="@hubspot/rich_text",
    html={{ context.content or "<h2>Provide more details here.</h2><p>Use text and images to tell your company’s story. Explain what makes your product or service extraordinary.</p>" }}
    offset=0,
    width=6
  %}

  {% end_dnd_module %}
  {% dnd_module path="@hubspot/linked_image",
    img={
      "alt": context.image_alt or "Stock placeholder image with grayscale geometrical mountain landscape",
      "loading": context.image_loading or "disabled",
      "max_height": context.image_height or 451,
      "max_width": context.image_width or 605,
      "size_type": "auto_custom_max",
      "src": context.image or get_asset_url("../images/page_images/banner-right-min.png")
    },
    offset=6,
    width=6
  %}
  {% end_dnd_module %}
{% end_dnd_section %}
