<!--
  templateType: section
  label: Pricing
  isAvailableForNewContent: true
  screenshotPath: ../images/section-previews/pricing.png
  description: "This section contains centered heading above three pricing cards, containing a subheading, description, and button each."
-->
{% dnd_section background_color="#FAF9FF" %}
  {% dnd_column %}
    {% dnd_row 
        padding={
          "default" : {
            "bottom" : "40px"
           }
        }
      %}
      {% dnd_module
        path="@hubspot/rich_text",
        html={{ context.heading or '<div style="text-align: center;"><h2>Choose a plan that works for you</h2></div>' }}
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="../modules/pricing-card",
        button_text={{ context.card_one_button_text or "Get Started" }},
        description={{ context.card_one_description or "" }},
        features=[
          "Ad management",
          "Live chat",
          "Conversational bots",
          "Forms",
          "Pop-up forms",
          "Contact website activity",
          "List segmentation",
          "Email marketing",
          "Ad retargeting"
        ],
        offset=0,
        price={{ context.card_one_price or "$0" }},
        tier={{ context.card_one_tier or "<h3>Starter</h3>" }},
        timeframe={{ context.card_one_timeframe or "/mo" }},
        width=4
      %}
      {% end_dnd_module %}
      {% dnd_module
        path="../modules/pricing-card",
        button_text={{ context.card_two_button_text or "Buy professional" }},
        description={{ context.card_two_description or "" }},
        features=[
          "Marketing automation",
          "Smart content",
          "Content creation tools",
          "SEO & content strategy",
          "Social media",
          "A/B testing",
          "Landing pages",
          "Calls-to-action",
          "Video hosting"
        ],
        offset=4,
        price={{ context.card_two_price or "$1200" }},
        tier={{ context.card_two_tier or "<h3>Professional</h3>" }},
        timeframe={{ context.card_two_timeframe or "/mo" }},
        width=4
      %}
      {% end_dnd_module %}
      {% dnd_module
        path="../modules/pricing-card",
        button_text={{ context.card_three_button_text or "Get Started" }},
        description={{ context.card_three_description or "" }},
        features=[
          "Content partitioning",
          "Hierarchical teams",
          "Single sign-on",
          "Social permissions",
          "Additional domains",
          "Email send frequency cap",
          "Calculated properties",
          "CMS membership",
          "Filtered analytics view"
        ],
        offset=8,
        price={{ context.card_three_price or "$3200" }},
        tier={{ context.card_three_tier or "<h3>Enterprise</h3>" }},
        timeframe={{ context.card_three_timeframe or "/mo" }},
        width=4
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
