<!--
  templateType: section
  label: Product Interface
  isAvailableForNewContent: true
  screenshotPath: ../images/section-previews/interface_section.png
  description: "This is section with heading, sub heading and product image slider."
-->
{% dnd_section
  background_color={{ context.background_color or "#FAF9FF" }},
  vertical_alignment="MIDDLE"
%}
  {% dnd_column  
    width='12',
    offset='0'   
  %} 
  {% dnd_row %} 
    {% dnd_module
        path="@hubspot/rich_text",
        html={{ context.content or '<div style="text-align: center"><h2>Product Interface</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt<br> ut labore et dolore magna aliqua.</p></div>' }}
      %}
      {% end_dnd_module %}
  {% end_dnd_row %} 
 {% dnd_row %}
  {% dnd_column  
    width='12',
    offset='0' ,
    padding={
      "default": {
      "top": 20  
      }  
     }
   %}
    {% dnd_row %} 
      {% dnd_module
          path="../modules/multi-col-Image-slider",    
          offset=0,
          width=12
       %}
      {% end_dnd_module %}
      {% end_dnd_row %} 
    {% end_dnd_column %}
  {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
