<!--
  templateType: section
  label: Product Call To Action
  isAvailableForNewContent: true
  screenshotPath: ../images/section-previews/product_cta.png
  description: "This is product CTA section contains left image and right content with button."
-->
{% dnd_section
  background_image={
    "backgroundPosition": "MIDDLE_CENTER",
    "backgroundSize": "cover",
    "imageUrl": context.background_image or get_asset_url("../images/page_images/product_cta.png")
  },
  padding={
    "default": {
      "top": 40,    
      "bottom": 40
    },
    "mobile": {
      "top": 40,    
      "bottom": 40
     }
    },
  vertical_alignment="MIDDLE",   
%}
  {% dnd_column  
       width='12',
       offset='0' ,
        vertical_alignment="MIDDLE",   
  %} 
    {% dnd_row  vertical_alignment="MIDDLE"   %}
       {% dnd_column  
           width='6',
           offset='0'   
        %} 
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/linked_image",
            img={
              "alt": "Stock placeholder image with grayscale geometrical mountain landscape",
              "loading": "lazy",
              "max_height": 475,
              "max_width": 475,
              "size_type": "auto_custom_max",
              "src": get_asset_url("../images/page_images/cta-img-min.png")
              }
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
       {% end_dnd_column %}


        {% dnd_column  
           width='6',
           offset='6'   
         %} 
      {% dnd_row %}
           {% dnd_module
              path="@hubspot/rich_text",
              html="<h2 style='color:#FFFFFF'>Designed to impress</h2>
              <p style='color:#FFFFFF'>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br>Ut enim ad minim veniam.</p>",
              
            %}           
          {% end_dnd_module %}
       {% end_dnd_row %}
        {% dnd_row %} 
           {% dnd_module
                  path='../modules/custom-button',
                  button_text={{ context.button_text or "Free sign up" }},
                  styles={
                    "alignment": {
                      "alignment": {
                        "horizontal_align": "LEFT"
                      }
                    },
                    "text":{
                      "font": {
                        "color":theme.global_colors.secondary.color
                      }
                    },
                    "background":{
                      "color": {
                        "color":"#FFFFFF",
                        "opacity":100
                      }
                    }
                  }
                %}
            {% end_dnd_module %}
          {% end_dnd_row %}
       {% end_dnd_column %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
