<!--
  templateType: section
  label: Testimonial Slider
  isAvailableForNewContent: true
  screenshotPath: ../images/section-previews/testimonial-section.png
  description: "Full size background image section with heading and testimonial image and content."
-->
{% dnd_section
  background_image={
    "backgroundPosition": "MIDDLE_CENTER",
    "backgroundSize": "cover",
    "imageUrl": context.background_image or get_asset_url("../images/page_images/testimonial-bg.png")
  },
  padding={
  "default": {
    "top": 60,    
    "bottom": 80
   },
   "mobile": {
      "top": 40,    
      "bottom": 80
    }
  },
  vertical_alignment="MIDDLE",   
%}

  {% dnd_column %}
    {% dnd_row  
    padding={
      "default": {               
        "bottom": 20
        }
      }
    %}
      {% dnd_module
        path="@hubspot/rich_text",
        html={{ '<div style="text-align: center"><h2 style="color:#FFFFFF">Reviews From Our Users</h2></div>' }}
      %}
      {% end_dnd_module %}
     {% end_dnd_row %}
     {% dnd_row %}
      {% dnd_module
          path="../modules/testimonial-slider",    
          offset=0,
          width=12
        %}
       {% end_dnd_module %}
    {% end_dnd_row %}
{% end_dnd_column %}

{% end_dnd_section %}
