<!--
  templateType: section
  label: Unique Features
  isAvailableForNewContent: true
  screenshotPath: ../images/section-previews/unique-features.png
  description: "This is section with heading and features of the product with image."
-->
{% dnd_section
  background_color={{ context.background_color or "#FAF9FF" }},
  vertical_alignment="MIDDLE"
%}
  {% dnd_column width='12',offset='0' %} 
    {% dnd_row %} 
        {% dnd_module
            path="@hubspot/rich_text",
            html={{ context.content or '<div style="text-align: center"><h2>Unique features</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt<br> ut labore et dolore magna aliqua.</p></div>' }}
        %}
       {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_column  
        width='3',
        offset='0' ,
        padding={
           "default": {
           "top": 20  
           } 
         }
       %}
       {% dnd_row %} 
         {% dnd_module
           path="@hubspot/rich_text",    
           offset=0,
           width=12,
           padding={
             "default": {
                "top": 40  
                } 
             }                     
           %}
            {% module_attribute "html" %}
              <h3 style="color:#8979F5">01</h3>
              <h3>Feature</h3>          
              <p>Duis aute irure dolor in reprehenderit in voluptate velit.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %} 
        {% dnd_row %} 
          {% dnd_module
            path="@hubspot/rich_text",    
            offset=0,
            width=12,
            padding={
              "default": {
              "top": 40  
              } 
            }
           %}
              {% module_attribute "html" %}
                <h3 style="color:#8979F5">03</h3>
                <h3>Feature</h3>          
                <p>Duis aute irure dolor in reprehenderit in voluptate velit.</p>
              {% end_module_attribute %}
           {% end_dnd_module %}
        {% end_dnd_row %} 
      {% end_dnd_column %}

    {% dnd_column  
      width='6',
      offset='3' ,
      padding={
        "default": {
        "top": 20  
        } 
       }
     %}
      {% dnd_row %} 
        {% dnd_module
          path="@hubspot/linked_image",
            img={
              "alt": "Product Image",
              "loading": "lazy",
              "max_height": 1000,
              "max_width": 1000,
              "size_type": "auto_custom_max",
              "src": get_asset_url("../images/page_images/OS971A1-min.png")
              },
             offset=0,
             width=12
         %}
        {% end_dnd_module %}
      {% end_dnd_row %} 
    {% end_dnd_column %}

  {% dnd_column  
    width='3',
    offset='9' ,
    padding={
      "default": {
      "top": 20  
      } 
     }
   %}
      {% dnd_row %} 
        {% dnd_module
          path="@hubspot/rich_text",    
          offset=0,
          width=12,
          padding={
            "default": {
            "top": 40  
            } 
           }
         %}
            {% module_attribute "html" %}
                <h3 style="color:#8979F5">02</h3>
                <h3>Feature</h3>          
                <p>Duis aute irure dolor in reprehenderit in voluptate velit.</p>
            {% end_module_attribute %}
         {% end_dnd_module %}
        {% end_dnd_row %} 
        {% dnd_row %} 
          {% dnd_module
            path="@hubspot/rich_text",    
            offset=0,
            width=12,
            padding={
              "default": {
              "top": 40  
              } 
            }
          %}
            {% module_attribute "html" %}
              <h3 style="color:#8979F5">04</h3>
              <h3>Feature</h3>          
              <p>Duis aute irure dolor in reprehenderit in voluptate velit.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %} 
    {% end_dnd_column %}
   {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}