{% set default_image = get_asset_url("../../images/page_images/interface.png") %} {% if module.blog_field %} {% set blog_post = blog_recent_posts(module.blog_field, module.blog_settings.number_of_posts) %} {% else %} {% set blog_post = blog_recent_posts('default', module.blog_settings.number_of_posts) %} {% endif %} <div class="blog-slider"> {% for post in blog_post %} <div class="blog-slider-inner">
    <div class="blog-featured-image" style="position:relative;">
      <div>
        <img src="{{ post.featured_image }}" alt="{{post.name}}" style="position:absolute;top:0;right:0;left:0;bottom:0;object-fit:cover;height:100%;width:100%;">
      </div>
    </div>
    <div class="blog-slider-body"> {% if module.blog_settings.enable_date or module.blog_settings.enable_author %} <p class="blog-slide-top"> {% if module.blog_settings.enable_date %} <span>{{ post.publish_date|datetimeformat('%b %d, %Y') }}</span>{% endif %} {% if module.blog_settings.enable_author %} <span>By {{post.blog_author}}</span>{% endif %} </p> {% endif %} <h4>{{post.name}}</h4> {% if module.blog_settings.enable_blog_content %} <p>{{ post.post_list_content|truncate(135, True, '...') }} </p>{% endif %} <a href="{{post.absolute_url}}">{{ module.button_text }}</a>
    </div>
  </div> {% endfor %} </div>
<style>
  {% scope_css %}

  .blog-featured-image {
    min-height: 220px;
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  .blog-slider .slick-slide {
    height: auto;
  }

  .blog-slider-inner {
    margin: 10px 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
  }

  .blog-slide-top {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .blog-slider-body {
    background: #fff;
    padding: 20px;
  }

  .blog-slider-body a {
    text-decoration: underline;
  }

  .blog-slider .slick-track {
    display: flex;
    flex-wrap: wrap;
  }

  .blog-slider .slick-slide img {
    margin: 0 auto;
  }

  .blog-slider .slick-prev {
    left: -40px;
  }

  .blog-slider .slick-dots li button {
    background-color: {{ module.style.slide_dot_color.color}};
    border: 0;
    border-radius: 10px;
    display: block;
    height: 0.8rem;
    padding: 0;
    text-indent: -9999px;
    width: 0.8rem;
  }

  .blog-slider li.slick-active button {
    width: 1.5rem;
    position: relative;
    right: 5px;

    background-color: {{module.style.slider_dot_color_active.color}};
  }

  .blog-slider .slick-dots {
    bottom: -60px;
  }

  .blog-slider .slick-prev:before {
    content: "\f104";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 60px;
  }

  .blog-slider .slick-next:before {
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 60px;
  }

  .blog-slider .slick-next,
  .blog-slider .slick-prev {
    height: 60px;
    z-index: 9999;
  }

  .blog-slider-inner .row-fluid {
    position: relative;
  }

  .blog-slider-inner h5 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    display: inline-block;

    background:{{ module.style.slider_dot_color_active.color }};
    padding: 15px 0px;
    margin-bottom: 0;
    font-size: 16px;
  }

  @media(max-width:769px) {
      {% if module.slider_settings.arrow %}

        .blog-slider-inner .row-fluid {
          padding: 0px 25px;
        }

        .blog-slider .slick-next {
          right: -8px;
        }

        .blog-slider .slick-prev {
          left: -8px;
        }

      {% endif %}
  }

    {% end_scope_css %}
</style>
<script>
  $(document).ready(function() {
    $('#hs_cos_wrapper_{{name}} .blog-slider').slick({
      arrows: {{ module.style.slider_settings.arrow }},
      dots: {{ module.style.slider_settings.dots}},
      autoplay: {{ module.style.slider_settings.autoplay }},
      autoplaySpeed: {{ module.style.slider_settings.autoplay_speed }},
      infinite: true,
      slidesToShow: {{ module.style.slider_settings.slides_to_show }},
      slidesToScroll: {{ module.style.slider_settings.slides_to_scroll }},
      responsive: 
      [
        {
          breakpoint: 769,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
        }
      ]
    });
  });
</script>