.two_column-text-container h4 {
    font-weight: 600;
}

.two_column-text-container h1,
.two_column-text-container h2,
.two_column-text-container h3,
.two_column-text-container h4,
.two_column-text-container h5,
.two_column-text-container h5 {
    padding-bottom: 18px;
}

.two-column-content {
    padding: 0 0 18px;
}

.two_column-text-container ul {
    padding-inline-start: 10px !important;
    margin: 0;
    margin-left: 10px;
}

.two_column-text-container ul li {
    padding-bottom: 10px;
}

.two-column-inner--container {
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 50px; */
}

.two_column-image-container {
    width: 50%;
    min-height: 400px;
    display: flex;
    position: relative;
}

.two_column-text-container {
    width: 50%;
    height: 100%;
}

.two_column-image-container img {
    height: calc(100% - 2.4rem) !important;
    left: 40px;
    position: absolute;
    top: 40px;
    width: 80%;
  object-fit:cover;

}

.right-svg {
    position: absolute;
    right: 0;
    z-index: -1;

}

.tc_button-container {
    display: flex;
    flex-direction: column;
}

.tc_button-container svg {
    /* margin-left: 25px; */
    display: block;
    transform: translate(30px, -4px);
    transition: .5s ease-in-out;
    ;
}

.tc_button-container a:hover svg {
    transform: translate(60px, -4px);
    transition: .3s ease-in-out;
}

.two-column-title {
    padding: 0 30px;

}

.two-column-wrapper {
    padding: 0 30px;
}

.left {
    left: auto !important;
    right:40px;
}

@media (min-width: 1282px) and (max-width: 2764px) {
    .two_column-image-container img {
        width: 80%;
    }

    .left {
        left: 5.5rem !important;
    }

    /* .two-column-inner--container:nth-child(2) {
        margin: 50px 0;
    } */

    .two-column-inner--container:last-child {
        margin-bottom: 0 !important;
    }

}

@media (max-width:999px) {
    .two-column-inner--container {
        flex-direction: column !important;
    }

    .two-column-inner--container h4 {
        padding-top: 20px;
    }

    .two-column-inner--container:nth-child(2) {
        padding: 0;
    }

    .two_column-image-container {
        width: 100%;
        height: 400px;
    }

    .two-column-inner--container:nth-child(2) {
        margin: 0;
    }

    .two_column-text-container {
        width: 100%;
        margin-top: 20px;
        padding: 0 10px;
    }

    .right-svg,
    .two_column-image-container svg {
        display: none;
    }

    .two_column-image-container img {
        position: static;
        width: 100%;
        height: 100% !important;
        object-fit: contain;
    }

}

@media(max-width:768px) {
    .two-column-inner--container {
        padding: 30px 0 0 !important;
    }
  
}

@media only screen and (max-width: 575px) {

    .two-column-wrapper,
    .two-column-title,
    .two_column-text-container {
        padding: 0;
    }

}
@media (max-width:426px) {

    .two_column-image-container {
        height: 100%;
        min-height: 100%;
    }

}