<!-- module html  -->
{% if module.show_hide %}
<div class="two-column-section section-padding section-id" id="{{ module.section_id|replace(' ', '_')|lower }}">
    <div class="two-column-container content-wrapper">
        {% if  module.title  %}
        <div class="two-column-title">
            <h2>
                {{ module.title }}
            </h2>
        </div>
        {% endif %}
        <div class="two-column-wrapper">
            {% for item in module.product_cards %}
            <div class="two-column-inner--container" style="flex-direction: {{item.image_left_right}};">
                {% if item.card_image.src %}
                <div class="two_column-image-container">
                    {% if item.image_left_right== "row" %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="349" height="308" viewBox="0 0 349 308" fill="none">
                        <path d="M0 0H348.5L0 308V0Z"  />
                    </svg>
                    {% endif %}
                    {% set sizeAttrs = 'width="{{ item.card_image.width }}" height="{{ item.card_image.height }}"' %}
                    {% if item.card_image.size_type == 'auto' %}
                    {% set sizeAttrs = 'width="{{ item.card_image.width }}" height="{{ item.card_image.height }}" style="max-width: 100%; height: auto;"' %}
                    {% elif item.card_image.size_type == 'auto_custom_max' %}
                    {% set sizeAttrs = 'width="{{ item.card_image.max_width }}" height="{{ item.card_image.max_height }}" style="max-width: 100%; height: auto;"' %}
                    {% endif %}
                    {% set loadingAttr = item.card_image.loading != 'disabled' ? 'loading="{{ item.card_image.loading }}"' : '' %}
                    <img src="{{ item.card_image.src }}" alt="{{ item.card_image.alt }}" {{ loadingAttr }}
                        {{ sizeAttrs }} class="{% if item.image_left_right== 'row-reverse'%} left {% endif %} ">
                        
                        {% if item.image_left_right== "row-reverse" %}
                        <svg class="right-svg"  xmlns="http://www.w3.org/2000/svg" width="349" height="308" viewBox="0 0 349 308" fill="none">
                            <path d="M349 0H0.5L349 308V0Z"  />
                        </svg>
                        {% endif %}                        
                    </div>
                    {% endif %}
                <div class="{% if item.card_image.src  %} two_column-text-container{% else %} two-column-without-image  {% endif %}">
                    {% if  item.title  %}
                    <h4>
                        {{ item.title }} 
                    </h4>
                    {% endif %}
                    {% if item.content %}
                    <div class="two-column-content">
                        {{ item.content }}
                    </div>
                    {% endif %}
                    {% if item.button_section.button_text %}
                    <div class="tc_button-container">
                        <a href="{{ item.button_section.link.url.href }}"
                            {% if item.button_section.link.open_in_new_tab %}target="_blank" {% endif %}
                            {% if item.button_section.link.rel %}rel="{{ item.button_section.link.rel }}"
                            {% endif %}>{{ item.button_section.button_text }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="18" viewBox="0 0 70 18" fill="none">
                            <g clip-path="url(#clip0_43_5570)">
                                <path d="M1 8.93945H56.1427" stroke-width="1.99955"
                                    stroke-linecap="round" />
                                <path d="M60.9844 16.264L68.3105 8.93951L60.9844 1.61499" 
                                    stroke-width="1.99955" stroke-linecap="round" stroke-linejoin="round" />
                            </g>
                            <defs>
                                <clipPath id="clip0_43_5570">
                                    <rect width="69.31" height="17.48" fill="white" transform="translate(0 0.199951)" />
                                </clipPath>
                            </defs>
                        </svg>
                    </a>
                    </div>
                    {% endif %}

                </div>

            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endif %}

{% require_css %}
<style>
    {% scope_css %}
    .two-column-section{
        {{ module.style.section_spacing.desktop_spacing.css }}
        {% if module.styles.background.backgrund_type == "color" and  module.styles.background.section_background_color.color %}
          background-color: {{ module.styles.background.section_background_color.color }};
          opacity:{{ module.style.background.section_background_color.opacity}};
        {% elif module.styles.background.backgrund_type == "gradient" %}
          background: {{  module.styles.background.gradient_field.css }};
        {% elif module.styles.background.backgrund_type == "image" %}
          {{module.styles.background.section_background_image.css }};
        {% endif %}
        {{ module.styles.section_spacing.desktop_spacing.css }};
    }

    .two-column-inner--container {
    padding: 0 0 30px;
    {% if  module.title  %}
        padding: 50px 0 30px;
    {% endif %}

}

.two-column-title{
    text-align: {{ module.title_alignment }};
}


    .two_column-image-container svg{
        fill: rgb({{ module.styles.image_svg_color.color |convert_rgb }},{{ module.styles.image_svg_color.opacity /100 }});
    }

    .tc_button-container svg{
        stroke: rgb({{ module.styles.arrow_color.color |convert_rgb }},{{ module.styles.arrow_color.opacity /100 }});
    }
    {% if module.styles.custom_color %}
    .two-column-title h2{
        color: {{ module.styles.colors.heading_font.color }};
        font-size: {{ module.styles.colors.heading_font.size }}{{module.styles.colors.heading_font.size_unit }};;
    }

    .two_column-text-container h4{
        color: {{ module.styles.colors.card_title_color.color }}; font-size:
         {{ module.styles.colors.card_title_color.size }}   
        }
        
    .two_column-text-container .two-column-content{
        color: rgb({{ module.styles.colors.content_color.color | convert_rgb }},{{ module.styles.colors.content_color.opacity /100 }});
    }
    .tc_button-container a{
      color:rgb({{ module.styles.colors.arrow_button_color.color |convert_rgb }},{{ module.styles.colors.arrow_button_color.opacity /100 }});
    }

    {% endif %}

    @media(max-width:768px){
        .two-column-section{
            {{ module.styles.section_spacing.mobile_spacing.css }};
        }
    }
    
    {% end_scope_css %}
</style>
{% end_require_css %}

