
.rich-text-wrapper {
    padding: 0 30px;
}

.rich-text-wrapper ul li {
    padding-bottom: 8px;
}

.rich-text-wrapper p {
    padding-bottom: 10px;
}

.rich-text-wrapper h1,
.rich-text-wrapper h2,
.rich-text-wrapper h3,
.rich-text-wrapper h5,
.rich-text-wrapper h4,
.rich-text-wrapper h6 {
    padding-bottom: 10px;
}

.rich-text h2 {
    padding-bottom: 20px;
    padding-left:30px;
    padding-right:30px;
  
}