<!-- module html  -->
{% if module.show_hide %}
<section class="section-padding rich-text-section section-id" id="{{ module.section_id|replace(' ', '_')|lower }}">
    <div class="content-wrapper">
        {% if module.text %}
        <div class="rich-text">
            {% if module.title %}
            <h2>{{ module.title }}</h2>
            {% endif %}
            <div class="rich-text-wrapper">

                {{ module.text }}
            </div>
        </div>
        {% endif %}
    </div>

</section>
{% endif %}


{% require_css %}
<style>
{% scope_css %}
.rich-text-section{
    {% if module.styles.section_spacing.desktop_spacing.cs  %}
    {{ module.styles.section_spacing.desktop_spacing.cs }}
    {% else %}
    padding:60px 16px;
    {% endif %}

}


.rich-text h2{
    font-size:{{ module.styles.title_font.size }}{{module.styles.title_font.size_unit }};
    text-align: {{ module.styles.title_alignment }};
    color:{{ module.styles.title_font.color }};
}
.rich-text-wrapper {
    display: flex;
    flex-direction: column;
    text-align: {{ module.styles.rich_text_align }};
}
@media(max-width:767px){
    .rich-text-section{
        {{ module.styles.section_spacing.mobile_spacing.css }}
}

}
{% end_scope_css %}
@media(max-width:950px){
    .rich-text-wrapper{
        align-items: inherit !important;
    }
}
</style>
{% end_require_css %}


