.banner3-section {
    background-size: cover;
    padding: 60px 1rem 65px;
    position: relative;
    z-index: 2;
}

.banner3-wrapper {
    position: relative;
    z-index: 2;

}

.carousel-banner-section.slick-dotted.slick-slider {
    margin-bottom: 45px !important;
}

.calendar-option img {
    width: 20px;
    height: 20px;
    margin-top: -3px;

}

.banner3-button-section {
    display: inline-block;
    position: relative;
}

.banner3-content-wrapper h2 {
    padding-bottom: 18px;
}

.banner3-button-section .button img {
    width: 25px;
    height: 25px;
    margin-top: -5px;

}

.banner3-button-section .button {
    padding: 18px 20px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;

}

.banner3-content-wrapper p {
    width: 42%;
    margin: 0;
    padding-bottom: 24px;
}

.banner3-content-wrapper {
    padding-left: 50px;
}

.banner3-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* calender */

.calendar-dropdown {
    position: relative;
    display: inline-block;
}

.calendar-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.open-dropdown {
    display: block;

}

.calendar-dropdown-content a {
    color: #000000c7;
}

.calendar-option {
    padding: 15px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500 !important;
    color: #4B4B55 !important;
}

.calendar-option:hover {
    background-color: #F1F1F1;
}

@media (max-width:436px) {
    .calendar-option {
        padding: 15px;
    }
}

@media(max-width:999px) {
    .banner3-section {
        /* margin-top: 50px; */

    }
}

@media (max-width:768px) {
    .banner3-content-wrapper p {
        width: 100%;
    }

    .banner3-content-wrapper {
        padding-left: 0px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}