{% if module.show_hide %}
<section class="banner3-section section-id" id="{{ module.section_id|replace(' ', '_')|lower }}">
  <div class="content-wrapper banner3-wrapper">
    <div class="banner3-content-section">
      <div class="banner3-content-wrapper">
        {% if module.title %}
        <h2>
          {{ module.title }}
        </h2>
        {% endif %}
        {% if module.subtitle %}
        <p>
          {{ module.subtitle }}
        </p>
      {% endif %}
      {% if  module.button_choose == "add_to_calendar" %}
      {% if module.button_title %}
        <div class="banner3-button-section">
          <button class="calendar-dropdown-button button" id="calendar-dropdown-button"><span><img src="https://23962694.fs1.hubspotusercontent-na1.net/hubfs/23962694/solar_calendar-bold.svg" alt=""></span> {{ module.button_title }}</button>
          <div class="calendar-dropdown-content" id="calendar-dropdown-content">
              <a href="#" id="add-to-google-calendar" class="calendar-option" target="_blank"><span><img src="https://23962694.fs1.hubspotusercontent-na1.net/hubfs/23962694/logos_google-calendar.svg" alt=""></span> Google Calendar</a>
              <a href="#" id="add-to-apple-calendar" class="calendar-option"><span><img src="https://23962694.fs1.hubspotusercontent-na1.net/hubfs/23962694/Frame%201.svg" alt=""></span> Apple Calendar</a>
              <a href="#" id="add-to-outlook-calendar" class="calendar-option"><span><img src="https://23962694.fs1.hubspotusercontent-na1.net/hubfs/23962694/vscode-icons_file-type-outlook%20(1).svg" alt=""></span> Outlook Calendar</a>
          </div>
        </div>
        {% endif %}      
       {% endif %}
       {% if  module.button_choose == "normal_button" %}
       {% if module.button_title %}
         <div>
      <a href="{{  module.link.url.href }}" class="button"
        {% if module.link.open_in_new_tab %}target="_blank"{% endif %}
        {% if module.link.rel %}rel="{{ module.link.rel }}"{% endif %}
        >
        {{ module.button_title }}
        </a>
         </div>
         {% endif %}      
        {% endif %}

      </div>
    </div>
    
  </div>
  {% if module.style.show_overlay %}
  <div class="overlay"></div>
  {% endif %}
</section>
{% endif %}



{% require_css %}
<style>
  {% scope_css %}
  .banner3-section{
    {{ module.style.section_spacing.desktop_spacing.css }};
    {% if module.style.background.background_type == "image" %}
    {{ module.style.background.backgroundimage_field.css }} ;
    background-position: center 12%;}
    {% elif module.style.background.background_type == "gradient" %}
    background: {{  module.style.background.background_gradient.css }};
    {% elif module.style.background.background_type == "color" %}
    background-color: {{ module.style.background.background_color.color }};
    {% endif %}
   
    .banner3-content-wrapper p {
      {% if  module.style.content_color.color %}
    color:{{ module.style.content_color.color }};
    {% endif %}
    font-size: {{ module.style.content_color.size }}{{module.style.content_color.size_unit }};
}
.banner3-content-wrapper h2 {
  {% if module.style.title_color.color %};
    color: {{ module.style.title_color.color }};
    {% endif %}
    font-size: {{ module.style.title_color.size }}{{module.style.title_color.size_unit }};
}

.overlay {
    background-color: rgb({{module.style.overlay_color.color |convert_rgb}}, {{ module.style.overlay_color.opacity /100 }});

}

@media(max-width:768px){
  .banner3-section{
    {{ module.style.section_spacing.mobile_spacing.css }}
  }
}
  {% end_scope_css %}
</style>
{% end_require_css %}


