<!-- module html  -->
{% if module.show_hide %}
<section id="{{  module.section_id|replace(' ', '_')|lower }}" class="section-padding logo-slider-container section-id">
    <div class="content-wrapper">
        <div class="logo-section logo-content">
            {% if module.title %}
            <h2>
                {{ module.title }}
            </h2>
            {% endif %}
            {% if module.content %}
            <div class="logo-content">
                {{ module.content }}
            </div>
        </div>
        {% endif %}
        <div class="logo-container">
            {% for item in module.logo_section %}
            {% if item.logo_image.src %}
            <div class="logo-wrapper">
               
                    {% set sizeAttrs = 'width="{{ item.logo_image.width }}" height="{{ item.logo_image.height }}"' %}
                    {% if item.logo_image.size_type == 'auto' %}
                    {% set sizeAttrs = 'width="{{ item.logo_image.width }}" height="{{ item.logo_image.height }}" style="max-width: 100%; height: auto;"' %}
                    {% elif item.logo_image.size_type == 'auto_custom_max' %}
                    {% set sizeAttrs = 'width="{{ item.logo_image.max_width }}" height="{{ item.logo_image.max_height }}" style="max-width: 100%; height: auto;"' %}
                    {% endif %}
                    {% set loadingAttr = item.logo_image.loading != 'disabled' ? 'loading="{{ item.logo_image.loading }}"' : '' %}
                    <img src="{{ item.logo_image.src }}" alt="{{ item.logo_image.alt }}" {{ loadingAttr }}
                        {{ sizeAttrs }}>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}


{% require_css %}
  <style>
    {% scope_css %}
      .logo-slider-container{
        {% if module.styles.background.backgrund_type  == "color" and module.styles.background.section_background_color.color %}
        background-color: rgb({{ module.styles.background.section_background_color.color | convert_rgb }}, {{ module.styles.background.section_background_color.opacity/ 100 }});
        {% elif module.styles.background.backgrund_type  == "gradient" %}
        background: {{ module.styles.background.gradient_field.css }};
        {% elif module.styles.background.backgrund_type  == "image" %}
        {{  module.styles.background.section_background_image.css }};
        {% endif %}
        {{ module.styles.section_spacing.desktop_spacing.css}};

       }


       .logo-section h2{
        {% if module.content %}
        padding: 0 16px;
        {% else %}
        padding-bottom:24px;
        {% endif %}

    }

       .logo-section h2,
    .logo-content {
        text-align: {{ module.content_alignment }};
        }

       .logo-section h2{
        color: {{ module.styles.title_font.color }};
     font-size: {{ module.styles.title_font.size }}{{module.styles.title_font.size_unit }};
       }
       
       {% if module.styles.content_color.color %}
       .logo-section .logo-content{
        color:rgb({{ module.styles.content_color.color |convert_rgb}}, {{ module.styles.content_color.opacity /100 }});
       }
    {% endif %}

    @media(max-width:768px){
        .logo-slider-container{
            {{ module.styles.section_spacing.mobile_spacing.css }};
        }
    }
    
   {% end_scope_css %}
  </style>
{% end_require_css %}

