<!-- module html  -->
<table role="presentation" cellpadding="0" cellspacing="0" width="100%"
    style="border-spacing:0 !important; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt">
    <tbody>
        <tr>
            <td class="hs_padded"
                style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; font-size:15px; color:#f84e5d; word-break:break-word;">
                <div id="hs_cos_wrapper_module_16968430991234"
                    class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
                    style="color: inherit; font-size: inherit; line-height: inherit;" data-hs-cos-general-type="widget"
                    data-hs-cos-type="module">
                    <table role="presentation" align="center"
                        style="border-spacing:0 !important; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; width:auto; text-align:center"
                        class="hs_cos_wrapper_type_social_module" width="auto">
                        <tbody>
                            <tr align="center">
                                {% for item in module.social_icons %}
                                <td class="social-network-cell"
                                    style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; font-size:15px; color:#f84e5d; word-break:break-word">
                                    <table role="presentation" align="center"
                                        style="border-spacing:0 !important; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; width:auto; text-align:center"
                                        class="hs_cos_wrapper_type_social_module_single" width="auto">
                                        <tbody>
                                            <tr align="center">
                                                <td class="display_block_on_small_screens"
                                                    style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; font-size:15px; color:#f84e5d; word-break:break-word; line-height:1; vertical-align:middle;padding: 0 5px;"
                                                    valign="middle">
                                                    <a href="{{item.social_icon_link.url.href}}"
                                                        style="color:#00a4bd; mso-line-height-rule:exactly; text-decoration:none !important"
                                                        data-hs-link-id="0" target="_blank">
                                                        <img src="{{item.social_icons_image.src}}" alt="LinkedIn"
                                                            height="20"
                                                            style="outline:none; text-decoration:none; -ms-interpolation-mode:bicubic; border:none; width:auto!important; height:25px!important; vertical-align:-webkit-baseline-middle;"
                                                            valign="middle" width="auto">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>

                </div>
            </td>
        </tr>
    </tbody>
</table>