.banner-container {
    position: relative;
    z-index: 1;
}

.container-banner .banner-container {
    display: flex;
}

.banner-content h2 {
    padding-bottom: 18px;
}

.slider-content.pb-1 {
    padding-bottom: 24px !important;
}

.banner-content {
    width: 100%;
    padding: 90px 60px;
}

.banner-image-container {
    width: 100%;
}

.banner-image-container img {
    height: 100% !important;
  object-fit:cover;
}

.hero-banner {
    position: relative;
}

.overlay-hero-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000071;

}

@media (min-width: 1281px) and (max-width: 2764px) {
    .banner-content {
        padding: 60px 0px;
    }
}


@media (min-width:1200px) and (max-width:1280px) {
    .hero-banner .content-wrapper {
        max-width: 100% !important;
        margin: 0 !important;
    }
}

@media (max-width:1082px) {
    .banner-content {
        padding: 90px 30px;
    }
}

/* @media (max-width:993px) {
    .hero-banner {
        margin-top: 50px;

    }

} */

@media (max-width:999px) {
    .container-banner .banner-container {
        flex-direction: column !important;
    }


    .banner-image-container img {
        height: 50%;
        width: 100%;
    }

}

@media (max-width:768px) {
    .full-width-banner .banner-content {
        padding: 20px;
    }

    .container-banner .banner-content {
        padding: 40px;
    }

}


@media(max-width:600px) {
    .hero-banner h2 {
        font-size: 28px;
    }

    /* .full-width-banner .banner-content {
        padding: 0px;
    } */

    .container-banner .banner-content {
        padding: 40px 30px;

    }
}


@media(max-width:370px) {
    .container-banner .banner-content {
        padding: 40px 15px;

    }
}