
{% set default_image = get_asset_url("../../images/page_images/banner-right-min.png") %}
{% if module.show_hide %}
<div class="hero-banner section-id {% if module.banner_full_width_container_image == 'container_image' %} container-banner {% else %} full-width-banner {% endif %}" id="{{ module.section_id|replace(' ', '_')|lower }}">
  <div class="content-wrapper banner-wrapper">
    <div class="banner-container">
      <div class="banner-content">
        {% if module.heading %}
        <h2>
          {{ module.heading }}
        </h2>
        {% endif %}
        {% if module.content %}
        <div class="slider-content pb-1">
          {{ module.content }}
        </div>
        {% endif %}
        {% if module.button_text  %}
        <a href="{{ module.button_link.url.href }}" class="button"
          {% if module.button_link.open_in_new_tab %}target="_blank" {% endif %}
          {% if module.button_link.rel %}rel="{{ module.button_link.rel }}" {% endif %}>
          {{ module.button_text }}
        </a>
        {% endif %}
      </div>
      {% if module.banner_full_width_container_image == "container_image" %}
      {% if module.right_image.src %}
      <div class="banner-image-container">
        {% set sizeAttrs = 'width="{{ module.right_image.width }}" height="{{ module.right_image.height }}"' %}
        {% if module.right_image.size_type == 'auto' %}
        {% set sizeAttrs = 'width="{{ module.right_image.width }}" height="{{ module.right_image.height }}" style="max-width: 100%; height: auto;"' %}
        {% elif module.right_image.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.right_image.max_width }}" height="{{ module.right_image.max_height }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}
        {% set loadingAttr = module.right_image.loading != 'disabled' ? 'loading="{{ module.right_image.loading }}"' : '' %}
        <img src="{{ module.right_image.src }}" alt="{{ module.right_image.alt }}" {{ loadingAttr }}
        {{ sizeAttrs }}>
      </div>
      {% endif %}
      {% endif %}
  </div>
</div>
{% if module.banner_full_width_container_image == "full_width_image" %}
{% if module.show_overlay %}
  <div class="overlay-hero-banner"></div>
{% endif %}
{% endif %}

</div>
{% endif %}

<style>
    {% scope_css %}
    .container-banner{
        {% if module.style.background.backgrund_type == "color" and  module.style.background.section_background_color.color %}
          background-color: rgb({{  module.style.background.section_background_color.color|convert_rgb }}, {{ module.style.background.section_background_color.opacity / 100 }});
        {% elif module.style.background.backgrund_type == "gradient" %}
          background: {{  module.style.background.gradient_field.css }};
        {% elif module.style.background.backgrund_type == "image" %}
          {{ module.style.background.section_background_image.css }};
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        {% endif %}
      }
      
      .banner-content {
      text-align: {{ module.title_alignment }};
      
      }
      .full-width-banner {
        background-image:url({{module.right_image.src}}) ;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
      }
      .hero-banner{
      {{ module.style.section_spacing.desktop_spacing.css }};

    }
        .banner-content h2{
          color: {{ module.style.heading_color.color }}; 
           font-size: {{ module.style.heading_color.size }}{{module.style.heading_color.size_unit }};
        } 

    .slider-content{
      color: {{ module.style.content_color.color }}; 
      font-size: {{ module.style.content_color.size }}{{module.style.content_color.size_unit }};
    }
    .hero-banner .button{
      color: rgba({{ module.style.button_text_color.color |convert_rgb }}  , {{module.style.button_text_color.opacity/100 }} );
      background-color: rgba({{ module.style.button_background_color.color |convert_rgb }}  , {{module.style.button_background_color.opacity/100 }} );
    }
    .container-banner .banner-container {
    flex-direction: {{ module.image_left_right }};
    
}

.overlay-hero-banner{
background-color: rgb({{ module.overlay_color.color |convert_rgb}}, {{ module.overlay_color.opacity  /100 }});

}

@media (max-width:999px) {
  {% if  module.banner_full_width_container_image == "full_width_image" %}
    .banner-content {
        width: 100% !important;
    }
    {% endif %}
  }
    

  @media(max-width:769px){
    .hero-banner-inner img,
    .hero-banner-inner {
        height: inherit !important;
    } 
    .full-width-banner{
      {{ module.style.section_spacing.mobile_spacing.css }};

    }
   
  }
    {% end_scope_css %}
</style>

<!-- <script>
  $( document ).ready(function() {

      $('.hero-banner-wrapper').slick({
        arrows: {{ module.style.slider_settings.arrow }},
        dots:{{ module.style.slider_settings.dots }},
        autoplay: {{ module.style.slider_settings.autoplay }},
        autoplaySpeed: {{ module.style.slider_settings.autoplay_speed }},
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1
      });
  });

</script> -->
