.tabs-block {
  display: flex;
  flex-direction: column;
  position: relative;
}

.tabs_block_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs {
  width: 25%;
  height: 100%;
  cursor: pointer;
  display: flex;
  padding: 20px;
}

.tabs_content {
  width: 75%;
  background-color: #fff;
  padding: 35px 35px 35px;
  word-wrap: break-word;
  display: none;
  position: absolute;
  top: 0px;
  left: 25%;
  right: 0;
  bottom: 0;
}

.tabs_block_container .tabs h5 {
  font-size: 18px;
}

.tabs-container {
  background-color: #fff;
}

.tabs_block_container:last-child .tabs {
  border-bottom: 1px solid #B7B7BB !important;
}

.tabs_content.bottom-side {
  overflow: auto;
}

.tabs_content.bottom-side .tabs_content-text {
  overflow: initial;
  padding-bottom: 20px;
}

.tabs_content.left-side {
  flex-direction: row !important;
}

.tabs_content.right-side {
  flex-direction: row-reverse !important;
}

.tabs_content.top-side {
  flex-direction: column-reverse !important;
}

.tabs_content.bottom-side {
  flex-direction: column !important;
}

.tabs_content.actives {
  display: flex;
  gap: 10px;
}

.tabs.actives:after {
  content: '';
  position: absolute;
  left: 25%;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  z-index: 1;
}

.tabs.actives {
  border: none !important;
}

.tabs_content-text::-webkit-scrollbar,
.tabs_content::-webkit-scrollbar {
  width: 3px;
  background: #8080804c;
}

.tabs_content-text::-webkit-scrollbar-thumb,
.tabs_content::-webkit-scrollbar-thumb {
  background-color: #808080;

}

.tabs_content-text {
  width: 70%;
  overflow: auto;
  padding-right: 10px;
}

.tabs_content-text ul {
  padding: 0 1rem;
}

.tabs_content-text li {
  padding-bottom: 10px;
}

.tabs_content-text> :last-child {
  margin-bottom: 20px;
}

.tabs_content-image {
  width: 50%;
}

.tabs_content-image img {
  object-fit: cover;
  width: 100%;
  height: 100% !important;
}

.tabs-wrapper {
  padding: 50px 30px 0;
}

.tabs_content.bottom-side {
  margin-bottom: 35px;
}

.tabs_content-text li:last-child {
  padding-bottom: 0;
}

.tabs_content.bottom-side>.tabs_content-image img {
  height: 115% !important;
}

.tabs_content.bottom-side>.tabs_content-image,
.tabs_content.top-side>.tabs_content-image {
  width: 100% !important;
  height: 100% !important;
}



.tabs_content.bottom-side>.tabs_content-text {
  width: 100%;
}

.tabs_content.top-side>.tabs_content-text {
  width: 100%;
}

.tabs_content-text h4,
.tabs_content-text h2,
.tabs_content-text h3,
.tabs_content-text h5,
.tabs_content-text h6 {
  padding-bottom: 18px !important;
}

/* Mobile View */

@media (max-width: 992px) {
  .tabs-wrapper {
    padding: 20px 15px;
  }

  .article-block {
    padding: 0 15px;
  }

  .tabs-block {
    flex-direction: column;
  }

  .tabs_block_container {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }


  .tabs_content {
    width: 100%;
    position: static;
    overflow-y: auto;
    height: auto;
    padding: 16px;
  }

  .tabs {
    width: 100%;
    padding: 15px;
  }

  .tabs_content.actives {
    flex-wrap: wrap;
  }

  .tabs.actives:after {
    display: none;
  }

  .tabs_content-text {
    width: 100%;
  }

  .tabs_content-image {
    margin: 0 auto;
  }
}

.tabs_content-text h3 {
  padding-bottom: 25px;
}

@media(max-width:700px) {
  .article-block h2 {
    font-size: 32px;
  }
}

@media (max-width:426px) {
  .article-block h2 {
    font-size: 28px;
  }
}