{% if module.show_hide %}
<div class="site-wrapper section-padding section-id" id="{{ module.section_id|replace(' ', '_')|lower }}">
    <div class="content-wrapper">
      {% if  module.section_title %}
      <div class="article-block">
        <h2>{{ module.section_title }}</h2>
      </div>
      {% endif %}
      <div class="tabs-wrapper">
        <div class="tabs-container">
          <div class="tabs-block">
            {% for item in module.tabs %}
            <div class="tabs_block_container">
              <div id="tabs-section" class="tabs {% if loop.first %}actives{% endif %}">
                <h5>
                  {{ item.tab_name }}
                </h5>
              </div>
              <div
                class="tabs_content {{item.content.choice_image_text_direction}} {% if loop.first %}actives{% endif %}">
                <div class="tabs_content-text">
                  {{ item.content.richtext_field }}
                </div>
                <div class="tabs_content-image">
                  {% if item.content.image_field.src %}
                  {% set sizeAttrs = 'width="{{ item.content.image_field.width }}" height="{{ item.content.image_field.height }}"' %}
                  {% if item.content.image_field.size_type == 'auto' %}
                  {% set sizeAttrs = 'width="{{ item.content.image_field.width }}" height="{{ item.content.image_field.height }}" style="max-width: 100%; height: auto;"' %}
                  {% elif item.content.image_field.size_type == 'auto_custom_max' %}
                  {% set sizeAttrs = 'width="{{ item.content.image_field.max_width }}" height="{{ item.content.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
                  {% endif %}
                  {% set loadingAttr = item.content.image_field.loading != 'disabled' ? 'loading="{{ item.content.image_field.loading }}"' : '' %}
                  <img src="{{ item.content.image_field.src }}" alt="{{ item.content.image_field.alt }}"
                 {{ sizeAttrs }}>
                  {% endif %}
                </div>
                
              </div>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>

  </div>
{% endif %}

  {% require_css %}
  <style>
    {% scope_css %}

    .site-wrapper{
        background-color:{{ module.style.section_background_color.color }};
        {{ module.style.section_spacing.desktop_spacing.css }};
        
    }

    .article-block h2{
      color: {{ module.style.title_font.color }}; 
      font-size: {{ module.style.title_font.size }}{{module.style.title_font.size_unit }};
    }

    .tabs h5{
      {% if  module.style.tab_text_font.size %}
      font-size: {{ module.style.tab_text_font.size }}{{module.style.tab_text_font.size_unit }};
      {% endif %}
      color: {{ module.style.tab_text_font.color }};

    }

    .article-block {
      text-align: {{ module.title_alignment }};
    }
   
    .tabs{
      justify-content: {{ module.tab_text_alignment }};
      background-color: {{ module.style.tabs_background_color.color }};
      {{ module.style.tabs_border.css }};
      border-bottom: none;
    }

    .tabs.actives  h5{
      {% if  module.style.tab_text_font.size %}
      font-size: {{ module.style.tab_text_font.size }}{{module.style.tab_text_font.size_unit }};
      {% endif %}      
      color: {{ module.style.active_tab_text_color.color }};
    }
    .tabs.actives {
      {% if module.style.active_tab_bg_color.color  %}
      background-color: {{ module.style.active_tab_bg_color.color }} !important;
      {% endif %}
      background-color: {{theme.global_colors.primary.color}};
    }

    .tabs.actives:after{
      {% if module.style.active_tab_bg_color.color  %}
      border-left: 10px solid {{ module.style.active_tab_bg_color.color }} !important;
      {% endif %}
      border-left: 10px solid  {{theme.global_colors.primary.color}};
    }

    @media(max-width : 768px){
      .site-wrapper{
        {{ module.style.section_spacing.mobile_spacing.css }}
      }
    }
    {% end_scope_css %}
  </style>
  {% end_require_css %}