.ci_profile-container {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 25px;
  column-gap: 50px;
  margin-top: 155px;

}

.ci_container_wrapper {
  padding: 0 30px !important;
}

.ci_profile {
  max-width: 364px;
  width: 100%;
}

.ci_name {
  font-weight: 600;
  padding-bottom: 5px;
}

.ci_text-container {
  height: fit-content;
  position: relative;
  top: -75px;
  padding: 15px;
  box-sizing: border-box;
}


.ci_profile:nth-child(3n+2) {
  position: relative;
  top: -100px;
}

.ci_img {
  position: relative;
}

.ci_img .ci_hidden-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s ease;
  border-radius: 5px;
  padding: 25px;
  width: 85%;
  max-width: 100%;
}

.ci_img:hover .ci_hidden-text {
  opacity: 1;
  transform: translate(-50%, -100px);
}

.ci_mar {
  margin-bottom: 30px;
}

.ci_space {
  padding: 0 45px;
}

@media(max-width:992px) {
  .ci_profile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
  }

  .ci_profile-container .ci_profile:nth-of-type(2n) {
    position: relative;
    top: -50px;
  }

  .ci_profile-container .ci_profile:nth-child(5) {
    position: relative;
    top: 0px;
  }

  .ci_space {
    padding: 0 50px;
  }
}

@media(max-width:875px) {
  .ci_profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0px;
    margin-top: 90px;
  }

  .ci_profile-container .ci_profile:nth-of-type(2n) {
    position: relative;
    top: 0px;
  }

  .ci_profile {
    max-width: 500px;
    height: 500px;
  }

  .ci_profile img {
    width: 500px;
    height: 420px !important;
    object-fit: cover;
  }
}



@media(max-width:575px) {
  .ci_space {
    padding: 0 16px;
  }

  .ci_container_wrapper {
    padding: 0 !important;
  }
}

@media(max-width:345px) {
  .ci_img .ci_hidden-text {
    width: 210px;
  }
}