<div class="ci_container section-padding section-id" id="{{ module.section_id|replace(' ', '_')|lower }}">
  <div class="container content-wrapper ci_container_wrapper">
    <div class="ci_heading">
      <h2>
        {{ module.section_title }}
      </h2>
      <p>
     {{ module.section_content }}
      </p>
    </div>

    <div class="ci_profile-container">
      {% for item in module.heading %}
      <div class="ci_profile">
        <div class="ci_img">
          {% if item.image_field.src %}
          {% set sizeAttrs = 'width="{{ item.image_field.width }}" height="{{ item.image_field.height }}"' %}
          {% if item.image_field.size_type == 'auto' %}
          {% set sizeAttrs = 'width="{{ item.image_field.width }}" height="{{ item.image_field.height }}" style="max-width: 100%; height: auto;"' %}
          {% elif item.image_field.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ item.image_field.max_width }}" height="{{ item.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading }}"' : '' %}
          <img src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}   
          <div class="ci_hidden-text">     
            {{ item.hidden_text }}
          </div>
        </div>
        <div class="ci_text-container">
          <div class="ci_name">
            {{ item.title }}
          </div>
          <div class = "ci_designation">
            {{ item.sub_title }}
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% require_css %}
<style>
  {% scope_css %}

  .ci_container{
    {% if module.style.background.background_choice == "color" and module.style.background.background_color.color %}
    background-color: {{ module.style.background.background_color.color }};
    {% elif module.style.background.background_choice == "gradient" %}
    background: {{ module.style.background.background_gradient.css }};
    {% elif module.style.background.background_choice == "image" %}
    {{ module.style.background.backgroundimage_field.css}};
    {% endif %}
  }

  .ci_heading h2 {
    color:rgb({{module.style.title_color.color |convert_rgb}},{{ module.style.title_color.opacity/100 }});
  }

  .ci_heading p{
    width:50%;
    color:rgb({{ module.style.sub_title.color |convert_rgb }},{{ module.style.sub_title.opacity/100 }})
  }
  .ci_heading h2{
    padding-bottom:18px ;
  }
  @media(min-width:992px){
    .ci_container{
      {{ module.style.desktop_spacing.css }}
    }
  }
  @media(max-width:992px){
    .ci_container .container{
      padding: 0;
    }
    .ci_container{
      {{ module.style.mobile_spacing.css }}
    }
  }
  .ci_img .ci_hidden-text{
    background: {{ module.style.text_content.text_content_background_color.color }};
    color: {{ module.style.text_content.text_content_color.color }};
  }
  .ci_text-container{
   background:{{ module.style.speaker_backgroundcolor.color }};
  }

  @media(max-width:768px){
    .ci_heading p{
    width:100%
  }
  }


  {% end_scope_css %}
</style>
{% end_require_css %}
