.banner-image-text_container {
    display: flex;
    justify-content: space-evenly;
}


.banner-2-section .carousel-banner-section.slick-dotted.slick-slider .slick-track {
    display: flex !important;
}

.banner-2-section .carousel-banner-section.slick-dotted.slick-slider .slick-track .full-width-image.slick-slide {
    height: inherit !important;
}
.carousel-banner-section.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}
.banner-text-container .banner-text-button {
    padding-bottom: 0 !important;
}

.overlay-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.banner2-image-container img {
    height: 280px !important;
    width: 100%;
}

.banner-text-container {
    position: relative;
    z-index: 1;
    max-width: 1140px;

}

.banner-text-container h2 {
    padding-bottom: 18px;
    word-break: break-word;
}

.carousel-banner-wrapper {
    display: flex !important;
    justify-content: space-evenly !important;
}

.carousel-banner-section li.slick-active button {
    width: 1.5rem !important;
    position: relative;
    right: 5px;
}

.carousel-banner-section .slick-dots {
    bottom: 0px;
    padding: 20px 0;
}

.carousel-banner-section .slick-dots li button {
    border: 0;
    border-radius: 10px;
    display: block;
    height: 0.8rem;
    padding: 0;
    text-indent: -9999px;
    width: 0.8rem;
}

.banner-text-button .button {
    padding: 15px 25px;
    font-weight: 400 !important;

}

@media (min-width:1200px) and (max-width:2764px) {
    .carousel-banner-wrapper {
        /* justify-content: space-between !important; */
    }
}

@media(max-width:999px) {
    .banner-image-text_container {
        flex-direction: column !important;
        align-items: center;
        gap: 50px;
    }


    .carousel-banner-section .slick-dots {
        bottom: 0px;
    }


    .banner-text-container {
        width: 100%;
        padding: 0px 20px;
    }

    .banner2-image-container {
        margin: auto;
        width: auto;

    }
}




@media(max-width:600px) {
    .banner-text-container h2 {
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    .banner-text-container h2 {
        font-size: 25px;
    }

    .banner-text-container {
        padding: 0;
    }


}

@media (min-width: 1660px) {
    .banner-text-container {

        padding: 50px 0;
    }
}