    <!-- module html  -->
{% if module.show_hide %}
<section class="section-id banner-2-section {% if module.banner_section.full_width_image_banner_Container_image == 'full_width' and module.banner_carousel_banner == 'banner' %} full_width {% else %} container-image {% endif %}" id="{{ module.section_id|replace(' ', '_')|lower }}">
    <div class="{% if module.Carousel_banner.full_width_image_Container_image == 'container_image' and module.banner_carousel_banner == 'carousel-banner' %} content-wrapper {% elif module.banner_carousel_banner == 'banner' %} content-wrapper {% endif %}">
        {% if module.banner_carousel_banner == "carousel-banner" %}
            <div class="carousel-banner-section">
                {% for item in module.Carousel_banner.banner_carousel %}
                <div class="banner-image-text_container carousel-banner-wrapper {% if module.Carousel_banner.full_width_image_Container_image == 'full_width_image' %} full-width-image {% endif %}  "   style=" flex-direction: {{ item.image_left_right }}; {% if  module.Carousel_banner.full_width_image_Container_image == 'full_width_image' %} background-image: url({{item.image.src}});{% endif %}">
                 {% if item.image.src %}
                 {% if module.Carousel_banner.full_width_image_Container_image == "container_image"%}
                 <div class="banner2-image-container">
                    {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
                    {% if item.image.size_type == 'auto' %}
                    {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}" style="max-width: 100%; height: auto;"' %}
                    {% elif item.image.size_type == 'auto_custom_max' %}
                    {% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%; height: auto;"' %}
                    {% endif %}
                    {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
                    <img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                </div>
                {% endif %}
                {% endif %}
            {% if item.title or  item.content  %}
            <div class="banner-text-container">
                <h2>{{ item.title }}</h2>
                <div>{{ item.content }}</div>
                {% if item.button_section.button_text %}
                <div class="banner-text-button">
                    <a href="{{ item.button_section.link.url.href  }}" class="button"
                        {% if item.button_section.link.open_in_new_tab %}target="_blank" {% endif %}
                        {% if item.button_section.link.rel %}rel="{{ item.button_section.link.rel }}" {% endif %}>
                        {{ item.button_section.button_text }}</a>
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% if module.Carousel_banner.full_width_image_Container_image == "full_width_image"  and  module.banner_carousel_banner == "carousel-banner" %}
            {% if module.styles.show_overlay %}
            <div class="overlay-banner"></div>
            {% endif %}
            {% endif %}

        </div>
        {% endfor %}
    </div>
        {% endif %}

        {% if module.banner_carousel_banner == "banner" %}
        <div class="banner-image-text_container" style="flex-direction: {{ module.banner_section.image_left_right }};">
            {% if  module.banner_section.full_width_image_banner_Container_image == "container" %}
            {% if  module.banner_section.image.src %}
            <div class="banner2-image-container">
                {% set sizeAttrs = 'width="{{  module.banner_section.image.width }}" height="{{  module.banner_section.image.height }}"' %}
                {% if  module.banner_section.image.size_type == 'auto' %}
                {% set sizeAttrs = 'width="{{  module.banner_section.image.width }}" height="{{  module.banner_section.image.height }}" style="max-width: 100%; height: auto;"' %}
                {% elif  module.banner_section.image.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{  module.banner_section.image.max_width }}" height="{{  module.banner_section.image.max_height }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                {% set loadingAttr =  module.banner_section.image.loading != 'disabled' ? 'loading="{{  module.banner_section.image.loading }}"' : '' %}
                <img src="{{  module.banner_section.image.src }}" alt="{{  module.banner_section.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
            </div>
            {% endif %}
            {% endif %}
            {% if  module.banner_section.title or   module.banner_section.content  %}
            <div class="banner-text-container  {% if module.banner_section.full_width_image_banner_Container_image == 'full_width' %} full-banner-text-container {% endif %}">
                <h2>{{  module.banner_section.title }}</h2>
                <div>{{  module.banner_section.content }}</div>
                {% if  module.banner_section.button_section.button_text %}
                <div class="banner-text-button">
                    <a href="{{  module.banner_section.button_section.link.url.href  }}" class="button"
                        {% if  module.banner_section.button_section.link.open_in_new_tab %}target="_blank" {% endif %}
                        {% if  module.banner_section.button_section.link.rel %}rel="{{  module.banner_section.button_section.link.rel }}" {% endif %}>
                        {{  module.banner_section.button_section.button_text }}</a>
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% if module.banner_section.full_width_image_banner_Container_image == "full_width" and module.banner_carousel_banner == "banner" %}
    {% if module.styles.show_overlay %}
    <div class="overlay-banner"></div>
    {% endif %}
    {% endif %}

</section>
{% endif %}
{% require_css %}
<style>
    {% scope_css %}
    .banner-2-section{
        position: relative;
        {% if module.Carousel_banner.full_width_image_Container_image == "container_image" and module.banner_carousel_banner == 'carousel-banner' %}
        {% if module.styles.background.backgrund_type == "color" and   module.styles.background.section_background_color.color %}
          background-color: rgb({{  module.styles.background.section_background_color.color | convert_rgb }}, {{ module.styles.background.section_background_color.opacity / 100 }});
        {% elif module.styles.background.backgrund_type == "gradient" %}
          background: {{ module.styles.background.gradient_field.css }};
        {% endif %}
        {% endif %}

        {{ module.styles.section_spacing.desktop_spacing.css}};
    }

    .container-image{
        {% if module.banner_section.full_width_image_banner_Container_image == "container"   %}    
        {% if module.styles.background.backgrund_type == "color" and   module.styles.background.section_background_color.color %}
          background-color: rgb({{  module.styles.background.section_background_color.color | convert_rgb }}, {{ module.styles.background.section_background_color.opacity / 100 }});
        {% elif module.styles.background.backgrund_type == "gradient" %}
          background: {{ module.styles.background.gradient_field.css }};
        {% elif module.styles.background.backgrund_type == "image" %}
          {{ module.styles.background.section_background_image.css }};
        {% endif %}
        {% endif %}
    }
    .full_width{

        {% if module.banner_section.full_width_image_banner_Container_image == "full_width" %}
          background-image:url("{{ module.banner_section.image.src }}")
        {% endif %}
    } 

    .full_width {
        padding: 55px 16px !important;

    }

    .full-width-image{
        padding: 60px 1rem !important;
    }


    .full-width-image,
    .full_width {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        justify-content: center !important;
        position: relative;
        display: flex;
    }

    .full-banner-text-container  {
        width: 70% !important;
    }

    .banner-text-container {
    {% if module.banner_section.image.src %}
    display: flex;
    width: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    {% else %}
    width: 100%;
    display: block;
    {% endif %}
}

.banner2-image-container {
    {% if module.banner_section.image.src %}
    max-width:400px;
    max-height:350px;
    {% else %}
    width: auto;
    height: 100%;
    {% endif %}
}



    .banner-image-text_container{
        padding: 30px;
    }

.banner-text-container h2{
    color: {{ module.styles.title_font.color }};
    font-size: {{ module.styles.title_font.size }}{{module.styles.title_font.size_unit }};
}

.overlay-banner {
    background-color: rgb({{module.styles.overlay_color.color |convert_rgb}}, {{ module.styles.overlay_color.opacity /100 }});

}

.banner-text-container div{
    color: {{ module.styles.content_font.color }};
    font-size:{{ module.styles.content_font.size }}{{module.styles.content_font.size_unit }};
    margin: 0;
    padding-bottom: 24px;
}

  {% if module.styles.slider_style.slider_active_dots.color %}
.carousel-banner-section li.slick-active button {
    background-color: rgb({{module.styles.slider_style.slider_active_dots.color |convert_rgb }},{{ module.styles.slider_style.slider_active_dots.opacity/100 }}) !important;
}
{% endif %}

{% if module.styles.slider_style.slider_dots.color %}
.carousel-banner-section .slick-dots li button{
    background-color: rgb({{module.styles.slider_style.slider_dots.color |convert_rgb }},{{ module.styles.slider_style.slider_dots.opacity /100 }});
}
{% endif %}

@media(max-width:999px){
    .banner-2-section{
        {{ module.styles.section_spacing.mobile_spacing.css }} !important;

    }
    .banner-text-container {
    {% if module.banner_section.image.src %}
    width: 100%;
    {% endif %}
}
}

    {% end_scope_css %}
</style>
{% end_require_css %}


