.agenda-tabbing-title-section h3 {
    padding-bottom: 18px;
}

.agenda-events-section {
    padding: 30px 20px 0;
}

.agenda-event-tabs {
    display: flex;
    align-items: center;
    gap: 20px 70px;
    flex-wrap: wrap;
}

.agenda-event-tabs span {
    display: block;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 400 !important;
}

.agenda-event-tabs h6 {
    font-weight: 700;
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
}

.agenda-tab-content.custom-class {
    display: flex;
    animation: fade-in 0.5s;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
        opacity: 1;
    }
}



.agenda-tab-content {
    display: none;
    padding-top: 30px;
    flex-direction: column;
    gap: 30px;
    animation: fade-in 0.5s;
    /* transform-origin: top; */
}

.agenda-time-container p {
    margin: 0;

}

.agenda-time-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 150px
}

.agenda-speaker-details-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px !important;
}

.agenda-events_container {
    display: flex;

}

.agenda-discription-content {
    padding-bottom: 15px;
}

.agenda-discription {
    padding: 30px;
    display: none;
    margin-left: 150px;
    animation: fade-in 0.5s;
    transform-origin: top;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
        opacity: 1;
    }
}

.show {
    display: block;
    animation: fade-in 0.5s;

}

.agenda-speaker-details {
    padding: 30px;
    width: calc(100% - 150px);

}

.rotate-down {
    transform: rotate(180deg);
}

.agenda-speaker-avtar {
    gap: 15px;
    display: flex;
}

.agenda-speaker-details h6 {
    position: relative;
}

.drop-down {
    cursor: pointer;
    display: flex;
    height: 25px;
    width: 25px;
    min-height: 25px;
    min-width: 25px;
    padding: 5px;
    align-items: center;
}

.agenda-discription-wrapper h6 {
    font-size: 16px;
    font-weight: 700;
}

.agenda-discription-wrapper p {
    line-height: 1.8;
}

.drop-down img {
    width: 15px;
    height: 10px;
}

.agenda-speaker-title {
    display: flex;
    justify-content: space-between;
}


.speaker-name {
    margin: 0;
    font-weight: 700;
    color: #000;

}

.speaker-designation {
    margin: 0;
}

.speaker-social-links {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
}


.speaker-social-links li i {
    text-align: center;
}

.speaker-image {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;

}

.speaker-image img {
    height: 100% !important;
    width: 100% !important;

}

@media(max-width:769px) {
    .agenda-event-tabs {
        flex-wrap: wrap;
        gap:20px 40px;
        justify-content: center;
    }
}


@media(max-width : 1140px) {
    .agenda-speaker-details-wrapper {
        gap: 0px;
    }
}

@media(max-width :999px) {
    .agenda-speaker-details-wrapper {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
    }
}


@media(max-width :700px) {
    .agenda-time-container {
        width: 125px;
    }

    .agenda-speaker-details {
        width: 100%;
    }

    .agenda-discription {
        margin-left: 0;
    }

    .agenda-time-container {
        width: 100%;
    }

    .agenda-events_container {
        flex-direction: column;
    }

    .speaker-social-links {
        flex-wrap: wrap;
    }

    .agenda-event-tabs {
        gap:15px 30px;
    }
}

@media(max-width :575px) {
    .agenda-events-section {
        padding: 30px 0px 0;
    }
}

@media(max-width :550px) {

    .agenda-speaker-details-wrapper {
        column-gap: 0px;
    }

    .agenda-speaker-details-wrapper {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;

    }

    .agenda-speaker-avtar {
        flex-direction: column;
        align-items: center;
    }

}

@media(max-width : 445px) {
    .agenda-speaker-details {
        padding: 15px;
    }

    /*     .drop-down img {
        width: 31px;
    }
 */
    .agenda-speaker-title {
        gap: 20px;
    }
}


@media(max-width : 378px) {
    .agenda-speaker-details h6 {
        font-size: 15px;
    }

    .agenda-speaker-details-wrapper {
        row-gap: 20px;

    }
}

@media(max-width :370px) {
    .agenda-events-section {
        padding: 30px 0px 0;
    }
}