<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- module html  -->
{% if module.show_hide %}
<section class="section-padding agenda-tabbing-section section-id" id="{{ module.section_id|replace(' ', '_')|lower }}">
    <div class="content-wrapper agenda_tabbing-wrapper">
        <div class="agenda-tabbing-title-section">
            {% if module.title %}
            <h3>
                {{module.title}}
            </h3>
            {% endif %}
            {% if module.sub_title %}
            <div class="agenda-sub-title">
                {{module.sub_title}}
            </div>
            {% endif %}
        </div>
        <div class="agenda-events-section">
            <div class="agenda-event-tabs">
                {% for item in module.tabs %}                    
                    {% if item.Date %}
                    <h6>
                        {% if item.tab_name %}
                    <span>{{ item.tab_name }}</span>
                    {% endif %}
                        {{item.Date}}
                    </h6>
                    {% endif %}
                {% endfor %}
            </div>
            {% for item in module.tabs %}
            <div class="agenda-tab-content">
                {% for item2 in item.tab_content %}
                <div class="agenda-event-wrapper">
                <div class="agenda-events_container">
                    <div class="agenda-time-container">
                        {% if item2.events.timing  %}
                        <p>
                            {{ item2.events.timing }}
                        </p>
                        {% endif %}

                    </div>
                    <div class="agenda-speaker-details" style="{% if item2.make_this_content_collapsible %}{% else %} display: flex;align-items: center;{% endif %}">
                        <div class="agenda-speaker-title">
                            {% if item2.events.event_name %}
                            <h6 style="{% if item2.make_this_content_collapsible %} padding-bottom: 30px; {% else %} padding-bottom:0px; {% endif %}">
                                {{ item2.events.event_name }}
                            </h6>
                            {% if item2.make_this_content_collapsible %}
                            <div class="drop-down">
                                <img src="https://23962694.fs1.hubspotusercontent-na1.net/hubfs/23962694/Vector.png" alt="">

                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% if item2.make_this_content_collapsible %}
                        <div class="agenda-speaker-details-wrapper">
                            {% for item3 in item2.collapsible_box_content.speakers %}
                            {% if item2.make_this_content_collapsible %}
                            <div class="agenda-speaker-avtar">
                                {% if item3.speaker_image.src %}
                                <div class="speaker-image">
                                    {% set sizeAttrs = 'width="{{ item3.speaker_image.width }}" height="{{ item3.speaker_image.height }}"' %}
                                    {% if item3.speaker_image.size_type == 'auto' %}
                                    {% set sizeAttrs = 'width="{{ item3.speaker_image.width }}" height="{{ item3.speaker_image.height }}" style="max-width: 100%; height: auto;"' %}
                                    {% elif item3.speaker_image.size_type == 'auto_custom_max' %}
                                    {% set sizeAttrs = 'width="{{ item3.speaker_image.max_width }}" height="{{ item3.speaker_image.max_height }}" style="max-width: 100%; height: auto;"' %}
                                    {% endif %}
                                    {% set loadingAttr = item3.speaker_image.loading != 'disabled' ? 'loading="{{ item3.speaker_image.loading }}"' : '' %}
                                    <img src="{{ item3.speaker_image.src }}" alt="{{ item3.speaker_image.alt }}"
                                        {{ loadingAttr }} {{ sizeAttrs }}>
                                </div>
                                {% endif %}
                                <div class="speaker-details">
                                    {% if  item3.speakers_name %}
                                    <p class="speaker-name">
                                        {{ item3.speakers_name}}
                                    </p>
                                    {% endif %}
                                    {% if item3.speaker_designation %}
                                    <p class="speaker-designation">
                                        {{ item3.speaker_designation }}
                                    </p>
                                    {% endif %}
                                    <ul class="speaker-social-links">
                                        <li>
                                            <a href="{{ item3.linkedin_url.href }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="{{ item3.youtube_url.href }}"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="{{  item3.twitter_url.href  }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="{{  item3.facebook_url_.href }}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>

                                </div>


                            </div>
                            {% endif %}
                            
                            {% endfor %}
                        </div>
                        
                        {% endif %}

                    </div>
                    

                </div>
                {% if item2.make_this_content_collapsible %}
                <div class="agenda-discription">
                    <div class="agenda-discription-wrapper">
                        {% if item2.collapsible_box_content.event_short_discription %}
                        <div class="agenda-discription-content">{{item2.collapsible_box_content.event_short_discription}}</div>
                        {% endif %}
                        {% if item2.events.sponsored_by_text %}
                        <h6>
                           {{ item2.events.sponsored_by_text}}
                        </h6>
                        {% endif %}
                    </div>

                </div>
                {% endif %}
            </div>

                {% endfor %}
            </div>
            {% endfor %}

        </div>
    </div>

</section>
{% endif %}



{% require_css %}
<style>
    {% scope_css %}

    .agenda-tabbing-section{
        {% if module.styles.background.background_type == "image" %}
        {{ module.styles.background.backgroundimage_field.css }} ;
        {% elif module.styles.background.background_type == "gradient" %}
        background: {{ module.styles.background.background_gradient.css }};
        {% elif  module.styles.background.background_type == "color" %}
            background-color: rgb({{ module.styles.background.background_color.color|convert_rgb }}, {{ module.styles.background.background_color.opacity/100 }});
        {% endif %}

        {{ module.styles.section_spacing.desktop_spacing.css}};

  } 

    .agenda-tabbing-title-section{
        text-align: {{ module.styles.text_alignment }};
    }

.agenda-tabbing-title-section h3{
    {% if  module.styles.title_font.size %}
    font-size: {{ module.styles.title_font.size }}{{module.styles.title_font.size_unit }};
    {% endif %}
    {% if module.styles.title_font.color %}
    color: {{ module.styles.title_font.color }};
    {% endif %}
} 
.agenda-sub-title{
    {% if module.styles.sub_title_font.size %}
    font-size:{{ module.styles.sub_title_font.size }}{{module.styles.sub_title_font.size_unit }} ;
    {% endif %}
    {% if  module.styles.sub_title_font.color %}
    color:{{ module.styles.sub_title_font.color }};
    {% endif %}
}
    {% if module.styles.text_alignment.horizontal_align == "CENTER" %}
    .agenda-sub-title{
        width: 70%;
        margin: auto;
    }
    {% endif %}

    .agenda-event-tabs h6 {
        {% if module.styles.tab_font_style.color %}
        color: {{module.styles.tab_font_style.color}};
        {% endif %}
        font-size:{{ module.styles.tab_font_style.size }}{{module.styles.tab_font_style.size_unit }};
    }

    .agenda-time-container p {
        color: {{ module.styles.event_schedule_font.color }};
        font-size: {{ module.styles.event_schedule_font.size }}{{module.styles.event_schedule_font.size_unit }};
    }
    
    .agenda-discription-wrapper h6, 
    .agenda-discription-wrapper p{
        {% if module.styles.event_title_font.color %}
        color: {{module.styles.event_title_font.color}};
        {% endif %}
    }
    .agenda-speaker-details h6 {
        width: 90%;
        {% if module.styles.event_title_font.color %}
        color: {{module.styles.event_title_font.color}};
        {% endif %}
        font-weight: 700;
        font-size: {{ module.styles.event_title_font.size }}{{module.styles.event_title_font.size_unit }};
    }

    .agenda-discription ,
    .agenda-speaker-details{
         background-color: rgb({{ module.styles.event_discription_bg_color.color|convert_rgb}},{{ module.styles.event_discription_bg_color.opacity /100 }});
    }

    .agenda-time-container {
         background:rgb({{module.styles.event_schedule_background.color |convert_rgb }},{{ module.styles.event_schedule_background.opacity /100 }});
    }

    .speaker-designation,
    .speaker-name {
        {% if module.styles.speaker_name_font_style.color %}
        color:{{ module.styles.speaker_name_font_style.color }}
        {% endif %}
        font-size:{{ module.styles.speaker_name_font_style.size }}{{module.styles.speaker_name_font_style.size_unit }};
    }

    .speaker-social-links i {
        color: rgb({{ module.styles.social_media_color.color |convert_rgb }}, {{ module.styles.social_media_color.opacity/100 }});
    }

.agenda-event-tabs h6:hover,
.agenda-event-tabs .active-tab {
    transform: scaleX(1);
    border-bottom: 3px solid {{ theme.global_colors.primary.color }};

}

.speaker-social-links i:hover {
    color: {{ theme.global_colors.primary.color }};
}

.drop-down {
    background: {{ theme.global_colors.primary.color }};

}

@media(max-width:768px){
    .agenda-tabbing-section{
        {{ module.styles.section_spacing.mobile_spacing.css }};
    }
}
@media(max-width:999px){
    .agenda-sub-title{
        width: 90%;
        /* margin: inherit; */
    }
}
{% end_scope_css %}
</style>
{% end_require_css %}