.feature-tab-section {
  display: flex;
  justify-content: center;
  gap:20px 50px;
  flex-wrap: wrap;
}

.feature_tb-main-section {
  scroll-margin-top: 20vh
}

.feature-tab-section h5.a .feature_tb-main-section {
  padding: 50px 1rem 0;
}

.feature-tab-content {
  width: 100%;
}

.blog-section {
  padding: 60px 0px 20px;

}

.blog-section .slick-list.draggable {
  padding-bottom: 10px;
}

.feature-tab-section h5 {
  cursor: pointer;
  position: relative;
  margin: 0;
}

.feature-tab-section h5::after {
  content: "";
  position: absolute;
  background-color: #F84E5D;
  left: 0;
  top: 35px;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.feature-tab-section h5:hover::after,
.feature-tab-section h5.active-tab::after {
  transform: scaleX(1);
}


.loader-container{
  display:none;
    justify-content:center;
    align-items:center;
  }

  .spinner {
    position: absolute;
    width: 9px;
    height: 9px;
  }
  
  .spinner div {
    position: absolute;
    width: 50%;
    height: 150%;
    background: red;
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
  }
  
  .spinner div:nth-child(1) {
    --delay: 0.1;
    --rotation: 36;
    --translation: 150;
  }
  
  .spinner div:nth-child(2) {
    --delay: 0.2;
    --rotation: 72;
    --translation: 150;
  }
  
  .spinner div:nth-child(3) {
    --delay: 0.3;
    --rotation: 108;
    --translation: 150;
  }
  
  .spinner div:nth-child(4) {
    --delay: 0.4;
    --rotation: 144;
    --translation: 150;
  }
  
  .spinner div:nth-child(5) {
    --delay: 0.5;
    --rotation: 180;
    --translation: 150;
  }
  
  .spinner div:nth-child(6) {
    --delay: 0.6;
    --rotation: 216;
    --translation: 150;
  }
  
  .spinner div:nth-child(7) {
    --delay: 0.7;
    --rotation: 252;
    --translation: 150;
  }
  
  .spinner div:nth-child(8) {
    --delay: 0.8;
    --rotation: 288;
    --translation: 150;
  }
  
  .spinner div:nth-child(9) {
    --delay: 0.9;
    --rotation: 324;
    --translation: 150;
  }
  
  .spinner div:nth-child(10) {
    --delay: 1;
    --rotation: 360;
    --translation: 150;
  }
  
  @keyframes spinner-fzua35 {
    0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
      transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    }
  
    50% {
      transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
    }
  }


@media (max-width:1000px) {
  .feature-tab-section {
    gap:15px 20px;
  }

  .feature-tab-content {
    padding: 60px 0px 20px;
  }
}


.blog-section,
.testimonial-section,
.logo-section {
  display: none;

}

.blog-section.active-content,
.testimonial-section.active-content,
.logo-section.active-content {
  display: block;
}

@media (max-width:990px) {
  .feature-tab-section {
    gap: 35px;
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .feature-tab-section {
    gap: 20px;
    text-align: center;
  }

}

@media (max-width :500px){
  .feature-tab-section h5::after{
    top: 25px;
  }
}