{% if module.show_hide %}
<section class="feature_tb-main-section section-id" id="{{ module.section_id|replace(' ', '_')|lower }}">
    <div class="feature-tb-container">
    <div class="section-padding">
        <div class="feature-tab-section content-wrapper">
            {% for item in module.tab_group %}
            {% if item.tab_name %}
            <h5>{{ item.tab_name }}</h5>
            {% endif %}
            {% endfor %}
        </div>
        {% for item in module.tab_group %}
        {% if item.choose == "blogs" %}
        <div class="blog-section feature-tab-content content-wrapper" data-original-industry="{{ item.select_industry}}">
<div class="loader-container">
<div class="spinner">
            <div></div>   
            <div></div>    
            <div></div>    
            <div></div>    
            <div></div>    
            <div></div>    
            <div></div>    
            <div></div>    
            <div></div>    
            <div></div>    
        </div>
    </div>
    </div>
        {% endif %}

        {% if item.choose == "logos" %}
        <div class="logo-section feature-tab-content content-wrapper">
            {% if item.logo.title %}
            <h2 style="text-align: {{ item.logo.title_alignment }}; {% if item.logo.content %} padding: 0 20px; {% else %} padding-bottom:24px;{% endif %}">
                {{ item.logo.title }}
            </h2>
            {% endif %}
            {% if  item.logo.content %}
            <div class="logo-content" style="text-align: {{ item.logo.title_alignment }};">
                {{ item.logo.content }}
            </div>
            {% endif %}
            <div class="logo-container">
                {% for item2 in item.logo.logo_image %}
                {% if item2.src %}
                <div class="logo-wrapper">
                        {% set sizeAttrs = 'width="{{ item2.width }}" height="{{ item2.height }}"' %}
                        {% if item2.size_type == 'auto' %}
                        {% set sizeAttrs = 'width="{{ item2.width }}" height="{{ item2.height }}" style="max-width: 100%; height: auto;"' %}
                        {% elif item2.size_type == 'auto_custom_max' %}
                        {% set sizeAttrs = 'width="{{ item2.max_width }}" height="{{ item2.max_height }}" style="max-width: 100%; height: auto;"' %}
                        {% endif %}
                        {% set loadingAttr = item2.loading != 'disabled' ? 'loading="{{ item2.loading }}"' : '' %}
                        <img src="{{ item2.src }}" alt="{{ item2.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                </div>
                {% endif %}

                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    {% if item.choose == "testimonial" %}
    <div class="feature-tab-content testimonial-section">
        <div class="testimonial-container"
            style="background-image: url({{item.testimonial_section.background_image.src}});">
            <div class="testimonial-slider content-wrapper">
                {% for item2 in item.testimonial_section.testimonial_cards %}
                <div class="testimonial-wrapper">
                    <div class="testimonial-inner">
                        {% if item2.title or  item2.content %}
                        <div class="testimonial-content-section">
                            <h4>{{item2.title}}</h4>
                            <p>{{ item2.content}}</p>
                        </div>
                        <div class="testimonial-client-detail">
                            {% if item2.client_detail.client_image.src %}
                            <div class="testimonial-image">
                                {% set sizeAttrs = 'width="{{ item2.client_detail.client_image.width }}" height="{{ item2.client_detail.client_image.height }}"' %}
                                {% if item2.client_detail.client_image.size_type == 'auto' %}
                                {% set sizeAttrs = 'width="{{ item2.client_detail.client_image.width }}" height="{{ item2.client_detail.client_image.height }}" style="max-width: 100%; height: auto;"' %}
                                {% elif item2.client_detail.client_image.size_type == 'auto_custom_max' %}
                                {% set sizeAttrs = 'width="{{ item2.client_detail.client_image.max_width }}" height="{{ item2.client_detail.client_image.max_height }}" style="max-width: 100%; height: auto;"' %}
                                {% endif %}
                                {% set loadingAttr = item2.client_detail.client_image.loading != 'disabled' ? 'loading="{{ item2.client_detail.client_image.loading }}"' : '' %}
                                <img src="{{ item2.client_detail.client_image.src }}"
                                    alt="{{ item2.client_detail.client_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>

                            </div>
                            {% endif %}
                            {% if item2.client_detail.client_name_ or  item2.client_detail.designation %}
                            <div class="testimonial-detail">
                                <h3>{{item2.client_detail.client_name_}}</h3>
                                <p>{{ item2.client_detail.designation }} </p>
                            </div>
                            {% endif %}
                        </div>

                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
</section>
{% endif %}

{% require_css %}
<style>
    {% scope_css %}
    .feature_tb-main-section{
        {% if module.style.background.backgrund_type == "color" and   module.style.background.section_background_color.color %}
          background-color: {{ module.style.background.section_background_color.color }};
          opacity :{{ module.style.background.section_background_color.opacity}};
        {% elif module.style.background.backgrund_type == "gradient" %}
          background: {{ module.style.background.gradient_field.css }};
        {% elif module.style.background.backgrund_type == "image" %}
          {{ module.style.background.section_background_image.css }};
        {% endif %} 
        {{ module.style.section_spacing.desktop_spacing.css}}
    }

    /* .logo-section h2,
        .logo-content {
        text-align: {{ item.logo.title_alignment }};
    }
    */


    @media(max-width:768px){
        .feature_tb-main-section{   
            {{ module.style.section_spacing.mobile_spacing.css }};

        }
    }
    {% end_scope_css %}
</style>
{% end_require_css %}


{% require_js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var tabHeadings = document.querySelectorAll(".feature-tab-section h5");
        var tabContents = document.querySelectorAll(".feature-tab-content");
        tabHeadings[0].classList.add("active-tab");
        tabContents[0].classList.add("active-content");
       

        tabHeadings.forEach(function (tabHeading, index) {
            tabHeading.addEventListener("click", function () {
                tabHeadings.forEach(function (heading) {
                    heading.classList.remove("active-tab");
                });

                tabHeading.classList.add("active-tab");

                tabContents.forEach(function (content) {
                  content.classList.remove("active-content");
                });
              tabContents[index].classList.add("active-content");
                $('.slick-slider').slick('setPosition');


                
            });
        });
    });
</script>
{% end_require_js %}