{% set default_video_image_popup = get_asset_url('../../images/module-images/Captures.jpg') %}
<section class="video-info">
  <div class="container">
    <h1 class="teamheading">
      <span class="rightborder"></span>
      <span>{{ module.video_tilte }}</span>
      <div class="videobtn">
        {% if module.Local_or_Youtube =='youtube' %}
        <a class="video-play-button utube-btn youtube-link" href="#" youtubeid="{{ module.video_src_url }}">
          <span></span>
        </a>
        {% else %}
        <a class="video-play-button utube-btn youtube-link" href="#" youtubeid="{{ module.local_video }}">
          <span></span>
        </a>
        {% endif %}
      </div>
    </h1>
  </div>
</section>

<style>
{% scope_css %}
  @media screen and (max-width: 768px) {
  .video-info .teamheading span {
  font-size: 34px;
    }
  }
  video-play-button:after {
  {% if module.style.text_typography.color.video_button_color.color %}
    background:rgba({{ module.style.text_typography.color.video_button_color.color | convert_rgb }},{{ module.style.text_typography.color.video_button_color.opacity / 100 }});
    {% endif %}
  
  }
  
  
  .video-play-button:hover:after {
  {% if module.style.text_typography.color.button_hover_color.color %}
    background-color:rgba({{  module.style.text_typography.color.button_hover_color.color | convert_rgb }},{{ module.style.text_typography.color.button_hover_color.opacity / 100 }});
    {% else %}
  background-color: var(--primary);
    {% endif %}
}

.video-info .teamheading::before {
  position: absolute;
  content: '';
  width: 140px;
  height: 5px;
  background: var(--white);
  left: 0px;
}
  .video-info .teamheading::after {
  position: absolute;
  content: '';
  width: 35%;
  height: 5px;
  background: var(--white);
  right: 0;
}
.vd_sec span{
	display: inline-block;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin:0px auto;
	border-radius: 50%;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
	cursor: pointer;
    background-color:var(--white_color);
}
  
.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 22px solid var(--white);
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  left: 3px;
  border-radius: 2px;
}
  .video-play-button::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 70px;
  height: 70px;
    {% if module.style.text_typography.color.video_button_color.color %}
       background:rgba({{ module.style.text_typography.color.video_button_color.color | convert_rgb }},{{ module.style.text_typography.color.video_button_color.opacity / 100 }});
    {% else %} 
  background: var(--yellow);
    {% endif %}
  border-radius: 50%;
  transition: all 200ms;
}
  
  .rightborder::before {
  position: absolute;
  content: '';
  width: 5px;
  height: 61%;
  background: var(--white);
  left: 0;
}
  
  .video-info .teamheading { 
    margin-bottom: 0px;
    padding-left: 150px;
  padding-top: 180px;
  padding-bottom: 320px;
  
  } 
  .video-info .teamheading span {
    {% if module.style.text_typography.color.content_text_color.color %}
    color:rgba({{ module.style.text_typography.color.content_text_color.color | convert_rgb }},{{ module.style.text_typography.color.content_text_color.opacity / 100 }});
      {% else %} 
   color: var(--white);
{% endif %}
    font-weight: 400;
}
  .video-info::before {
    position:absolute;
    background-size: cover !important;
    background-blend-mode: color;
    width: 93%;
    height: 100%;
    content:'';
    left:0;
    background:{% if module.style.background.color.bg_overlay_color.color %} rgba({{ module.style.background.color.bg_overlay_color.color | convert_rgb }},{{ module.style.background.color.bg_overlay_color.opacity / 100 }}) {% else %} rgba(0,0,0, 0.7)  {% endif %} {% if module.style.background.image.video_bg_image.src %} url({{ module.style.background.image.video_bg_image.src }}) {% else %} url({{ default_video_image_popup }}) {% endif %} repeat 0 0;
  }
  .video-info {
  position:relative;
}

.video-play-button {
  z-index: 10;
  transform: translateX(-0%) translateY(-0%);
  box-sizing: content-box;
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  position:relative;
}







@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}





@media  (min-width: 1150px) and (max-width: 1199px) {
  .video-info::before {
    width: 88% !important;
  }
}
@media  (min-width: 1100px) and (max-width: 1149px) {
  .video-info::before {
    width: 90% !important;
  }
}
@media  (min-width: 1000px) and (max-width: 1099px) {
  .video-info::before {
    width: 94% !important;
  }
}

@media only screen and (max-width: 1199px) {
  .video-info .teamheading {
    font-size: 58px;
    padding-top: 150px;
    padding-bottom: 270px;
  }
}

@media only screen and (max-width: 991px) {
  .video-info .teamheading {
    font-size: 40px;
    padding-top: 130px;
    padding-bottom: 220px;
  }
  .video-info::before {
    width: 100% !important;
    height: 100%;
  }
  .video-info .teamheading::after {
    width: 30%;
    right: 0;
  }
  .video-play-button {
    margin-left: 28px;
  }
  .video-play-button {
    margin-left: 15px;
  }
}


@media only screen and (max-width: 767px) {
  .video-info .teamheading {
    font-size: 30px;
    padding-top: 120px;
    padding-bottom: 200px;
    padding-left: 120px;
    text-align: center;
  }
  .video-play-button span {
    border-left: 15px solid var(--white);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left:0;
  }
  .video-info .teamheading::before {
    width: 100px;
  }
  .video-info .teamheading::after {
    width: 30%;
  }
  .video-play-button::before {
    width: 40px;
    height: 40px;
  }
  .video-play-button::after {
    width: 40px;
    height: 40px;
  }
  .video-play-button {
    margin-left: 0;
  }
}
@media only screen and (max-width: 575px) {
  .video-info .teamheading {
    font-size: 30px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
  }
  .video-info .teamheading::after {
    width: 230px;
    right: 0;
    left: 0;
    margin-top: 75px !important;
    margin: 0 auto;
  }
  .rightborder::before {
    display: none;
  }
  .video-info .teamheading::before {
    display: none;
  }
}


.vd_sec .utube-btn{
	display: inline-block;
	-webkit-animation: shadow-pulse 1.5s infinite;
	        animation: shadow-pulse 1.5s infinite;
    border-radius: 50%;
}
.vd_sec a.utube-btn .bg-light{
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.vd_sec a.utube-btn:hover .bg-light {
    -webkit-transform: scale(.96);
        -ms-transform: scale(.96);
            transform: scale(.96);
    border: 8px solid #ddddda9e !important;
}

.vd_sec span .fa{
	font-size: 22px;
    margin: auto;
    padding: 26px 20px 20px 26px;
    width: 74px;
    height: 74px;
}
.vd_sec .utube-btn:hover, .vd_sec .utube-btn:focus{
	color: var(--white_color);
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}
.vd_sec .utube-btn:hover span, .vd_sec .utube-btn:focus span{
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    background-color: var(--theme_primary);
}

@-webkit-keyframes shadow-pulse{
	0% {
		-webkit-box-shadow: 0 0 0 0px rgb(13 36 129 / 7%);
		        box-shadow: 0 0 0 0px rgb(13 36 129 / 7%);
	}
	50% {
		-webkit-box-shadow: 0 0 0 35px rgb(13 36 129 / 5%);
		        box-shadow: 0 0 0 35px rgb(13 36 129 / 5%);
	}
	70% {
		-webkit-box-shadow: 0 0 0 35px rgb(13 36 129 / 2%);
		        box-shadow: 0 0 0 35px rgb(13 36 129 / 2%);
	}
	100% {
		-webkit-box-shadow: 0 0 0 35px rgb(13 36 129 / 1%);
		        box-shadow: 0 0 0 35px rgb(13 36 129 / 1%);
	}
}

@keyframes shadow-pulse{
	0% {
		-webkit-box-shadow: 0 0 0 0px rgb(13 36 129 / 7%);
		        box-shadow: 0 0 0 0px rgb(13 36 129 / 7%);
	}
	50% {
		-webkit-box-shadow: 0 0 0 35px rgb(13 36 129 / 5%);
		        box-shadow: 0 0 0 35px rgb(13 36 129 / 5%);
	}
	70% {
		-webkit-box-shadow: 0 0 0 35px rgb(13 36 129 / 2%);
		        box-shadow: 0 0 0 35px rgb(13 36 129 / 2%);
	}
	100% {
		-webkit-box-shadow: 0 0 0 35px rgb(13 36 129 / 1%);
		        box-shadow: 0 0 0 35px rgb(13 36 129 / 1%);
	}
}


.grtyoutube-popup {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:99999;
}

.grtyoutube-popup-content {
    margin-top: 100px;
    width: 95%;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.grtyoutube-popup-close {
	position:absolute;
	top:-30px;
	right:0;
	color:#FFF;
	font-size:25px;
	width:17px;
	height:17px;
	cursor:pointer;
}

.grtyoutube-iframe {
	width:100%;
	height:480px;
}
@media (max-width:767px) {
	.grtyoutube-iframe {
		width:100%;
		height:350px;
	}
}

.grtyoutube-dark-theme{
	background: rgba(0,0,0, 0.90);
}

.grtyoutube-dark-theme .grtyoutube-popup-content {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(255,255,255,0.4);
	box-shadow: 0px 0px 8px 0px rgba(255,255,255,0.4);
}

.grtyoutube-dark-theme .grtyoutube-popup-close {
	background: url('icon-close-white.png') no-repeat;
}

.grtyoutube-light-theme {
	background: rgba(255,255,255, 0.85);
}

.grtyoutube-light-theme .grtyoutube-popup-content {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
}

.grtyoutube-light-theme .grtyoutube-popup-close {
	background: url('icon-close-black.png') no-repeat;
}
  
  .video-info .teamheading {
    {% if module.style.text_typography.font.font_size.font_size_heading %}
    font-size:{{ module.style.text_typography.font.font_size.font_size_heading }}px;
    {% else %}
  font-size: 88px;
    {% endif %}
        {% if module.style.text_typography.color.content_text_color.color %}
    color:rgba({{ module.style.text_typography.color.content_text_color.color | convert_rgb }},{{ module.style.text_typography.color.content_text_color.opacity / 100 }});
      {% else %} 
 color: var(--white);
        {% endif %}
  font-weight: 700;
  list-style: normal;
  letter-spacing: 0.2px;


  display: flex;
  align-items: center;
  position: relative;

}


{% end_scope_css %}
</style>

