/* Fields */

.hs-form-field {
  margin-bottom: 1.4rem;
}

/* Labels */

form label {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.35rem;
}

/* Help text */

form legend {
  font-size: 0.875rem;
}

/* Inputs */

form input[type=text],
form input[type=email],
form input[type=password],
form input[type=tel],
form input[type=number],
form input[type=file],
form select,
form textarea {
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.7rem;
  width: 100%;
}

form textarea {
  resize: vertical;
}

form input[type=checkbox],
form input[type=radio] {
  cursor: pointer;
  margin-right: 0.35rem;
}

/* Inputs - date picker */

.hs-dateinput {
  position: relative;
}

.hs-dateinput:before {
  content: '\01F4C5';
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.fn-date-picker .pika-table thead th {
  color: #FFF;
}

.fn-date-picker td.is-selected .pika-button {
  border-radius: 0;
  box-shadow: none;
}

.fn-date-picker td .pika-button:hover,
.fn-date-picker td .pika-button:focus {
  border-radius: 0 !important;
  color: #FFF;
}

/* Inputs - file picker */

form input[type=file] {
  background-color: transparent;
  border: initial;
  padding: initial;
}

/* Headings and text */

form .hs-richtext,
form .hs-richtext p {
  font-size: 0.875rem;
  margin: 0 0 1.4rem;
}

form .hs-richtext img {
  max-width: 100% !important;
}

/* GDPR */



/* Validation */

.hs-form-required {
  color: #EF6B51;
}

.hs-input.invalid.error {
  border-color: #EF6B51;
}

.hs-error-msg {
  color: #EF6B51;
  margin-top: 0.35rem;
}

/* Submit button */

form input[type=submit],
form .hs-button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: all 0.15s linear;
  white-space: normal;
}

/* Captcha */

.grecaptcha-badge {
  margin: 0 auto;
}

form ul {
  list-style: none;
  padding: 0;
}


form .hs-form-booleancheckbox label span,
form .hs-form-booleancheckbox label span {
  margin-left: 5px !important;
  color: #939399 !important;
}

form .hs-form-booleancheckbox label span a {
  position: relative;
  z-index: 10;
}


form .hs-form-booleancheckbox input[name="privacy_policy"] {
  accent-color: #939399b5 !important;
  opacity: 0.2;

}

form .hs-form-booleancheckbox input,
.legal-consent-container .hs-form-booleancheckbox-display>span p {
  margin-top: 5px !important;
  accent-color: #f4505f !important;
}

.legal-consent-container .hs-form-booleancheckbox-display>span {
  margin-left: 24px !important;
}

.submitted-message p {
  color: #fff !important;
  font-size: 22px !important;
  /* font-weight: 600 !important; */
}

form .hs_privacy_policy .hs-form-booleancheckbox {
  position: relative;
  z-index: 2;
}

form .hs_privacy_policy .hs-form-booleancheckbox:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  z-index: 10;
}

form .hs-form-booleancheckbox label span,
.legal-consent-container .hs-form-booleancheckbox-display>span p {
  font-size: 16px !important;
  font-weight: 400 !Important;

}

form .hs_privacy_policy .hs-form-booleancheckbox-display {

  display: flex;
  align-items: flex-start;


}

form .hs_privacy_policy .hs-form-booleancheckbox-display input {
  margin: 6px 6px 0 0;
}

fieldset.form-columns-1 .hs-fieldtype-textarea {
  width: 100%  !important;
}

form .form-columns-2 .hs-fieldtype-textarea {}

fieldset.form-columns-2 .hs-form-field {
  margin: 0 !important;
}