@font-face {
  font-family: 'CircularStd';
  src: url('https://23962694.fs1.hubspotusercontent-na1.net/hubfs/23962694/font/CircularStd-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'ClashGrotesk-Bold';
  src: url('') format('truetype');
}




body {
  line-height: 1.4;
  overflow-wrap: break-word;
}

html[lang^="ja"] body,
html[lang^="zh"] body,
html[lang^="ko"] body {
  line-break: strict;
  overflow-wrap: normal;
  word-break: break-all;
}

/* Paragraphs */

p {
  font-size: 1rem;
  /* margin: 0 0 1rem; */
}

/* Anchors */

a {
  cursor: pointer;
}

/* Headings */

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  /* margin: 0 0 1rem; */
}

/* Lists */

ul,
ol {
  /* margin: 0 0 1rem; */
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
}

ul{
  /* list-style: none; */
}

ul.no-list {
  /* list-style: none; */
  margin: 0;
  padding-left: 0;
}


/* Image alt text */

img {
  font-size: 0.583rem;
  word-break: normal;
}