.top-to-scroll {
    position: fixed;
    right: 2rem;
    bottom: 4rem;
    z-index: 99999;
}

.arrow-icon {
    padding: 1rem 1.2rem;
    border-radius: 50%;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    padding: 10px;
    filter: drop-shadow(12px 12px 28px rgba(240, 98, 98, .5));

}

.arrow-icon .hs_cos_wrapper svg {
    width: 100%;
    height: 100%;
}