<!-- module html  -->
{% if module.show_hide %}
<div class="top-to-scroll">
    <div class="content-wrapper">

        <a class="arrow-icon" href="#">
            {% icon
                name="{{ module.up_arrow.name }}"
                style="{{ module.up_arrow.type }}"
                unicode="{{ module.up_arrow.unicode }}"
                icon_set="{{ module.up_arrow.icon_set }}"
                %}
            </a>
        </div>
</div>
{% endif %}
{% require_css %}
    <style>
        {% scope_css %}

        .arrow-icon {
            transition: .3s;
            background-color: {{ theme.global_colors.primary.color }};
            {% if module.styles.background_color.color  %}
            background-color:{{ module.styles.background_color.color }};
            {% endif %}
        }
        .arrow-icon svg{
          fill: {{ module.styles.arrow_color.color }};

          
        }

        {% end_scope_css %}
    </style>
{% end_require_css %}