.feature-tab-section {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.feature_tb-main-section {
  scroll-margin-top: 20vh
}

.feature-tab-section h5.a .feature_tb-main-section {
  padding: 50px 1rem 0;
}

.feature-tab-content {
  width: 100%;
}

.blog-section {
  padding: 60px 0px 20px;

}

.blog-section .slick-list.draggable {
  padding-bottom: 10px;
}

.feature-tab-section h5 {
  cursor: pointer;
  position: relative;
  margin: 0;
}

.feature-tab-section h5::after {
  content: "";
  position: absolute;
  background-color: #F84E5D;
  left: 0;
  top: 35px;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.feature-tab-section h5:hover::after,
.feature-tab-section h5.active-tab::after {
  transform: scaleX(1);
}






@media (max-width:1000px) {
  .feature-tab-section {
    gap: 20px;
  }

  .feature-tab-content {
    padding: 60px 0px 20px;
  }
}


.blog-section,
.testimonial-section,
.logo-section {
  display: none;

}

.blog-section.active-content,
.testimonial-section.active-content,
.logo-section.active-content {
  display: block;
}

@media (max-width:990px) {
  .feature-tab-section {
    gap: 35px;
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .feature-tab-section {
    gap: 20px;
    text-align: center;
  }

}

@media (max-width :500px){
  .feature-tab-section h5::after{
    top: 25px;
  }
}