.footer-section {
  width: 100%;
  margin: auto;
}

.footer-social-icon img {
  width: 20px;
  height: 20px !important;
  vertical-align: bottom;
}

.footer-social-icon a:last-child img {
  height: 18px !important;
  width: 30px !important;
}


.footer-social-icon a:nth-child(2) img {
  height: 17px !important;
}


.footer-social-icon {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.footer-section-container {
  display: grid;
  /* gap: 20px; */
  grid-template-columns: 55% 45%;
  padding: 60px 15px 40px;
}

.footer-right-section {
  gap: 60px;
}

.footer-right-section,
.footer-left-menu-container {
  display: flex;
  padding-top: 6px;
}

.footer-left-menu-container {
  justify-content: space-evenly;

}

.footer-left-section {
  display: grid;
  grid-template-columns: 30% 70%;
}

.footer-copyright-section p {
  text-align: center;
}

.footer-logo-section img {
  width: 200px !important;
  height: 100% !important;
}

.footer-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-right-section-container h5,
.footer-left-menu h5,
.footer-social-links p {
  line-height: 28px;
  margin: 0 0 15px 0;

}

.footer-right-menu li a,
.footer_left-menu-wrapper li a,
.footer-bottom-menu li a {
  font-weight: 400 !important;
}

.footer-right-menu li a,
.footer_left-menu-wrapper li a,
.footer-bottom-menu li a {
  letter-spacing: 0.5px;
}

.footer-copyright-section p,
.footer-social-links p,
.footer-logo-section p,
.footer-right-menu li a,
.footer_left-menu-wrapper li a,
.footer-bottom-menu li a {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.footer-logo-section p {
  margin: 0;
  padding: 20px 0;

}

.footer-copyright-section {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

.footer-bottom-section {
  background: #191919;
  padding: 20px 50px;
}

.footer-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.footer-bottom-menu {
  display: flex;
  gap: 20px;
  width: 50%;
}

.footer .dnd-section,
.footer .dnd-section .dnd-column {
  padding: 0;
  margin-top: 0;
}

.underline-animation {
  transition: .5s;

}

.underline-animation:hover {
  text-decoration: underline;
}

.footer__container {
  max-width: 100%;
}

.footer .dnd-section>.row-fluid {
  max-width: inherit;
}

.footer-social-links p {
  padding-bottom: 10px;
}

.dropdown-toggle {
  font-size: 18px;
  padding-bottom: 15px;
}

.footer-left-section-wrapper {
  margin-right: 10px;
}

.footer-left-menu,
.footer-right-section-container {
  width: 31%;
}

@media(min-width:1301px) and (max-width:2776px) {

  .footer-bottom-menu {
    width: fit-content;
  }

  .footer-section-container {
    padding: 60px 0px 40px;
  }

  .footer-bottom-section {
    padding: 20px 0px;
    /* margin-left: 35px; */

  }
}

@media(max-width:1240px) {
  .footer-section-container {
    padding: 60px 20px;
  }
}

@media (max-width : 1064px) {
  .footer-bottom-menu {
    gap: 10px;
    width: 100%;
  }

  .footer-left-menu,
  .footer-right-section-container {
    width: 40%;
  }

  .footer-logo-section img {
    width: 130px !important;
  }
}

@media (max-width:999px) {

  .footer-right-menu,
  .footer_left-menu-wrapper {
    display: none;
  }

  .footer-copyright-section p {
    text-align: inherit;
  }

  .footer-bottom-section {
    padding: 20px;
  }

  .toggle-container.active-toggle .footer-right-menu,
  .toggle-container.active-toggle .footer_left-menu-wrapper {
    display: block;
    padding-bottom: 15px;
  }

  .footer-right-section {
    gap: 0;
  }

  .footer-left-menu,
  .footer-right-section-container {
    width: 100%;
  }

  .dropdown-toggle::after {
    content: "\003E" !important;
    font-family: monospace;
    font-size: 20px;
    line-height: 28px;
    float: right !important;
    margin-left: 5px !important;
    font-weight: 600;
    transition: transform 0.3s ease;
  }

  .dropdown-toggle.up::after {
    transform: rotate(90deg);
  }

  .footer-left-menu-container {
    padding-top: 25px;

  }


  .dropdown-toggle {
    margin: 0 !important;
    padding: 15px 0;
  }

  .footer-right-section,
  .footer-left-menu-container {
    display: flex;
    flex-direction: column;
  }

  .footer-section-container,
  .footer-bottom-wrapper,
  .footer-left-section {
    display: inherit;
  }

  .fotter-border-bottom {
    border-bottom: 1px solid #4b4b55;

  }

  .footer-copyright-section {
    justify-content: flex-start;
    gap: 5px;
    flex-wrap: wrap;
  }

  .footer-bottom-menu {
    padding-bottom: 18px !important;
  }

  .footer-section-container {
    padding: 60px 15px;
  }
}

@media(max-width:768px) {

  .footer-section-container {
    padding: 60px 15px 40px;
  }
}

/* @media (max-width: 769px) {
.footer-right-section {
gap: 80px;
}
}

@media (max-width:642px) {
.footer-right-section {
gap: 40px;
}

.footer-left-section {
display: inherit;
}

.footer-right-section {
gap: 20px;
}

.footer-left-menu-container {
display: flex;
gap: 40px;
justify-content: inherit;
padding-top: 20px;
}
}

@media(max-width:425px) {
.footer-right-section {
gap: 15px;
display: grid;
grid-template-columns: 1fr;
}
}

@media(max-width:376px) {
.footer-copyright-section {
display: inherit;
gap: 10px;
padding-top: 10px;
}

.footer-copyright-section p {
margin: 0;
}

.footer-left-menu-container {
flex-direction: column;
}

.footer-bottom-menu {
gap: 10px;
}
} */