<!-- module html  -->
<section class="footer-section">
  <div class="content-wrapper">
    <div class="footer-section-container">
      <div class="footer-left-section">
        <div class="footer-left-section-wrapper">
          <div class="footer-logo-section">
            <a href="{{ module.footer_logo_url.href }}">
              {% if module.footer_logo.src %}
            {% set sizeAttrs = 'width="{{ module.footer_logo.width }}" height="{{ module.footer_logo.height }}"' %}
            {% if module.footer_logo.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ module.footer_logo.width }}" height="{{ module.footer_logo.height }}" style="max-width: 100%; height: auto;"' %}
            {% elif module.footer_logo.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.footer_logo.max_width }}" height="{{ module.footer_logo.max_height }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
            {% set loadingAttr = module.footer_logo.loading != 'disabled' ? 'loading="{{ module.footer_logo.loading }}"' : '' %}
            <img src="{{ module.footer_logo.src }}" alt="{{ module.footer_logo.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
            {% endif %}
          </a>  
            {% if  module.content %}
            <p>{{ module.content }}</p>
            {% endif %}
          </div>
          <div class="footer-social-links">
            {%if module.social_links.title %}
            <p>{{ module.social_links.title }}</p>
            {% endif %}
            <div class="footer-social-icon">
              {% for item in module.social_links.social_icons %}
              <a href="{{ item.link.url.href }}" {% if item.link.open_in_new_tab %}target="_blank" {% endif %}
                {% if item.link.rel %}rel="{{ item.link.rel }}" {% endif %}>
                {% if item.social_icons.src %}
                {% set sizeAttrs = 'width="{{ item.social_icons.width }}" height="{{ item.social_icons.height }}"' %}
                {% if item.social_icons.size_type == 'auto' %}
                  {% set sizeAttrs = 'width="{{ item.social_icons.width }}" height="{{ item.social_icons.height }}" style="max-width: 100%; height: auto;"' %}
                {% elif item.social_icons.size_type == 'auto_custom_max' %}
                  {% set sizeAttrs = 'width="{{ item.social_icons.max_width }}" height="{{ item.social_icons.max_height }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                 {% set loadingAttr = item.social_icons.loading != 'disabled' ? 'loading="{{ item.social_icons.loading }}"' : '' %}
                <img src="{{ item.social_icons.src }}" alt="{{ item.social_icons.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
              {% endif %}
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="footer-left-menu-container">
          {% for item in module.left_menu_section %}
          <div class="footer-left-menu toggle-container">
            {% if item.title %}
            <h5 class="dropdown-toggle">
              {{ item.title }}
            </h5>
            {% endif %}
            <div class="fotter-border-bottom">
              <ul class="footer_left-menu-wrapper">
                {% for item2 in item.left_menu %}
                {% if  item2.menu_item %}
                <li>
                  <a href="{{ item2.link.url.href }}" class="footer_menu-title"
                    {% if item2.link.open_in_new_tab %}target="_blank" {% endif %}
                    {% if item2.link.rel %}rel="{{ item2.link.rel }}" {% endif %}>
                    <span class="underline-animation">
                      {{ item2.menu_item }}
                    </span>
                  </a>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="footer-right-section ">
        {% for item in module.right_menu_section %}
        <div class="footer-right-section-container toggle-container">
          {% if  item.title %}
          <h5 class="dropdown-toggle">
            {{ item.title }}
          </h5>
          {% endif %}
          <div class="fotter-border-bottom">

            <ul class="footer-right-menu">
              {% for item2 in item.right_menu %}
              {% if item2.menu_item  %}
              <li>
                <a href="{{ item2.link.url.href }}" {% if item2.link.open_in_new_tab %}target="_blank" {% endif %}
                  {% if item2.link.rel %}rel="{{ item2.link.rel }}" {% endif %}>
                  <span class="underline-animation">
                    {{ item2.menu_item }}
                  </span>
                </a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
  <div class="footer-bottom-section">
    <div class="content-wrapper footer-bottom-wrapper">
      <ul class="footer-bottom-menu">
        {% for item in module.footer_bottom_section.footer_bottom_menu %}
        {% if item.menu_item  %}
        <li>
          <a href="{{ item.link.url.href }}" class="underline-animation"
            {% if item.link.open_in_new_tab %}target="_blank" {% endif %}
            {% if item.link.rel %}rel="{{ item.link.rel }}" {% endif %}>
            {{ item.menu_item }}
          </a>
        </li>
        {% endif  %}
        {% endfor %}
      </ul>
      {% if module.footer_bottom_section.copy_write_section.copy_right_text %}
      <div class="footer-copyright-section">
        <p>{{ module.footer_bottom_section.copy_right_text }}</p>
      </div>
      {% endif %}
    </div>
  </div>
</section>


{% require_css %}
<style>
  {
    % scope_css %
  }


  /* .footer-right-section-container h5,
  .footer-left-menu h5,
  .footer-social-links p,
  .footer-right-menu li a,
  .footer_left-menu-wrapper li a,
  .footer-bottom-menu li a,
  .footer-copyright-section p,
  .footer-logo-section p {
    font-family: {{ theme.global_fonts.secondary.font }};
  } */

    {
    % end_scope_css %
  }
</style>
{% end_require_css %}