.container_sub {
    position: relative;
    z-index: 1;
        /* margin: 0 0px 0 20px; */
}

.subscription-blocks {
    position: relative;
}
.span6 .hs-form-field {
    position: relative;
  }
 
  .span6 form .hs-error-msgs {
    position: absolute;
  }
.sub-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.subscription-blocks input[type="email"] {
    font-size: 20px;
}

.span6 form .hs-form-field input {
    background: #fff !important;
    outline: none;
    color: #000;
}


.span6 form .hs-form-field input::placeholder {
    color: #4B4B55 !important;
}

.span6 form .hs-button {
    padding: 14px 20px;
}

@media (max-width: 768px) {

    .d-flex {
        display: inherit !important;
    }
}

@media (max-width:1140px){
    .span6 form .hs-button {
        padding: 14.4px 20px;

    }
}