{% if module.show_hide %}
<div class="subscription-blocks section-padding section-id" id="{{ module.section_id|replace(' ', '_')|lower }}">
  <div class="container_sub content-wrapper">
    <div class="subscription-blocks-container d-flex align-items-center">
      {% if  module.heading %}
      <div class="sub_title">
        <h3>{{ module.heading }}</h3>
      </div>
      {% endif %}
      <div class="span6">
        {% if module.email_field_subscribe_button == "email"%}
        {% form
            form_to_use="{{ module.form_field.form_id }}"
            response_response_type="{{ module.form_field.response_type }}"
            response_message="{{ module.form_field.message }}"
            response_redirect_id="{{ module.form_field.redirect_id }}"
            response_redirect_url="{{module.form_field.redirect_url}}"
            gotowebinar_webinar_key="{{ module.form_field.gotowebinar_webinar_key }}"
          %}
          {% endif %}
          {% if module.email_field_subscribe_button == "button" &&  module.subscribe_button.button_text  %}
          <a href="{{  module.subscribe_button.link.url.href }}" class="button"
          {% if module.subscribe_button.link.open_in_new_tab %}target="_blank"{% endif %}
          {% if module.subscribe_button.link.rel %}rel="{{ module.subscribe_button.link.rel }}"{% endif %}

          >
          {{ module.subscribe_button.button_text}}
        </a>
          {% endif %}

      </div>
    </div>
  </div>
  {% if module.style.show_overlay %}
  <div class="sub-overlay"></div>
  {% endif %}
</div>
{% endif %}



{% require_css %}
  <style>
    {% scope_css %}
      .subscription-blocks{
        {% if module.style.background.backgrund_type == "color" and module.style.background.section_background_color.color %}
        background-color: rgb({{  module.style.background.section_background_color.color | convert_rgb }}, {{ module.style.background.section_background_color.opacity / 100 }});
        {% elif module.style.background.backgrund_type == "gradient" %}
        background: {{ module.style.background.gradient_field.css }};
        {% elif module.style.background.backgrund_type == "image" %}
        {{ module.style.background.section_background_image.css }};
        {% endif %}
        position: relative;
        z-index: 1;
        {{ module.style.section_spacing.desktop_spacing.css }};
       }
        .hs_error_rollup {
              display: none;
        }
      
    .subscription-blocks h3 {
        margin-bottom: 0;
        color: {{ module.style.heading_color.color }};
        font-size:{{ module.style.heading_color.size }}{{module.style.heading_color.size_unit }}; 

      }
        .subscription-blocks form {
              display: flex;
              width: 100%;
              justify-content: center;
          }
        .subscription-blocks form .hs-form-field>label{
          display:none
        }
          .subscription-blocks form  .hs-form-field {
            margin-bottom: 0px;
            flex: 0 0 60%;
        }
       .subscription-blocks .hs-form-field input {
         color:#000;      
         border-color:{{ module.style.heading_color.color }}; 
      } 
      .subscription-blocks .hs-form-field input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
         color:#000;
          opacity: 1; /* Firefox */
        }

        .subscription-blocks .hs-form-field input:-ms-input-placeholder { /* Internet Explorer 10-11 */
         color:#000;
        }

        .subscription-blocks .hs-form-field input::-ms-input-placeholder { /* Microsoft Edge */
          color:{{ module.style.heading_color.color }};
        }
        .subscription-blocks form .hs-button{
             {% if module.style.button_type == "secondary" %}
                background:var(--theme_primary_rs);
                color: #fff;
             {% endif %}
          }
    
          .subscription-blocks-container{
          
            justify-content: space-between;
            padding: 0 20px;
            margin-left: 15px;
            gap:25px;

          }

          .span6 .button{
            float: right;
          }

    
    @media(max-width:769px){
         .subscription-blocks {
            text-align: center;
            {{ module.style.section_spacing.mobile_spacing.css }}

        } 
        .subscription-blocks-container{
          
          padding: 0;
          margin-left: 0;

        }

        .span6 .button{
            float: inherit;
          }
      .subscription-blocks h3{
         padding-bottom:10px
      }
      .sub_title{
        margin: auto;
      }
    }

    @media(max-width:425px){
      .subscription-blocks h3{
        font-size: 20px;
      }
    }

    
   {% end_scope_css %}
  </style>
{% end_require_css %}
