{% if module.show_hide %}
<section class="tabbing-section">
  <div class="tabbing-container content-wrapper">
    {% for item in module.tab_items %}
    <div class="tabbing-wrapper">
      <a  href="#{{ item.section_id |replace(' ', '_')|lower}}">
        {{ item.tab_name }}
      </a>

    </div>
    {% endfor %}
  </div>
</section>
{% endif %}

{% require_css %}
<style>
    {% scope_css %}
    .tabbing-section {
    background-color: rgb({{ module.styles.section_background_color.color |convert_rgb }},{{ module.styles.section_background_color.opacity /100 }}); 
    {{ module.styles.section_spacing.desktop_spacing.css}};

}

.tabbing-wrapper a {
    color: rgb({{ module.styles.tab_color.color |convert_rgb }}, {{ module.styles.tab_color.opacity /100 }});
}
.tabbing-wrapper a::after {
  background-color: {{ theme.global_colors.primary.color }} ;
  {% if module.styles.hover_underline_color.color %}
  background-color: rgb({{ module.styles.hover_underline_color.color |convert_rgb }},n{{ module.styles.hover_underline_color.opacity /100 }});
{% endif %}


}

.tabbing-wrapper a.active{
    color:rgb({{ module.styles.active_tab.color | convert_rgb}}, {{ module.styles.active_tab.opacity/100 }});
}

@media(max-width:768px){
  .tabbing-section{
    {{ module.style.section_spacing.mobile_spacing.css }}

  }
}


    {% end_scope_css %}
</style>
{% end_require_css %}