.tabbing-container {
    display: flex;
    gap: 20px 40px;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;

}

.tabbing-section {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    border-bottom: 1px solid #ececec;
}

.tabbing-section.sticky {
    position: fixed;
    top: 90px;
    z-index: 3;
    width: 100%;
    left: 0;
    right: 0;
}


.tabbing-wrapper a {
    position: relative;
    font-weight: 500 !important;
}

.tabbing-wrapper a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    margin-top: 10px;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
}

.tabbing-wrapper a.active {
    color: #000;
}


.tabbing-wrapper a:hover::after,
.tabbing-wrapper a.active::after {
    transform: scaleX(1);
}


@media (max-width: 1130px) {
    .tabbing-section.sticky {
        top: 80px;
    }
}

@media(max-width:999px) {
    .tabbing-section {
        display: none;
    }

}


@media(max-width:768px) {
    .tabbing-section.sticky {
        top: 60px;
    }

}

@media(max-width:538px) {
    .tabbing-container {
        gap: 30px;
    }
}

@media(max-width:472px) {
    .tabbing-container {
        gap: 10px;
    }
}

@media(max-width:400px) {
    .tabbing-section {
        display: none;
    }

}